# Setting Everything Up

In [20]:
import pandas as pd
from datetime import datetime

In [21]:
#import the file from the web
import requests
from bs4 import BeautifulSoup
import pandas as pd
from unicodedata import normalize
import re
from datetime import datetime
from pandas import read_csv 
from sklearn.feature_extraction.text import CountVectorizer
import json
from flatten_json import flatten


# I can give a number or use None to remove maximum ceiling & display all columns
pd.options.display.max_columns = None

# # I want to be able to see the entire narrative, so remove the maximum width for each column
# pd.options.display.max_colwidth = None

# pd.options.display.float_format = '{:,.0f}'.format

import string

%matplotlib inline

In [22]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (8, 8)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [24]:
%%R

# My commonly used R imports

require('tidyverse')

In [25]:
#To Download PDFs
from urllib.parse import urljoin

In [26]:
#To import camelot and PDF-related items
import camelot
import ghostscript
import sys

In [27]:
%%R

library(jpeg)
library(wordcloud)
library(RColorBrewer)
library(wordcloud2)
library(tm)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
%%R
library(vistime)
library(shiny)
library(plotly)
#for timeline plotting

In [30]:
from collections import Counter

# Get County Government Revenues

#### The following two cells are for extracting the county government revenues from the Economic Survey. I commented them out once I retrieved the data but kept them here to keep the process visible

In [31]:


# tables = camelot.read_pdf('2022-Economic-Survey1.pdf', flavor='stream', pages='all')
# tables
# # <TableList n=648>
# n=181
# tables.export('2022-Economic-Survey1.csv', f='csv', compress=True) # json, excel, html, markdown, sqlite
# # tables[1]
# # # <Table shape=(14, 3)>
# tables[n].parsing_report
# {
#     'accuracy': 99.02,
#     'whitespace': 12.24,
#     'order': 1,
#     'page': 1
# }
# tables[n].to_csv('county_revenue_part1.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite
# tables[n].df # get a pandas DataFrame!

In [32]:


# tables = camelot.read_pdf('2022-Economic-Survey1.pdf', flavor='stream', pages='all')
# tables
# # <TableList n=648>
# n=182
# tables.export('2022-Economic-Survey1.csv', f='csv', compress=True) # json, excel, html, markdown, sqlite
# # tables[1]
# # # <Table shape=(14, 3)>
# tables[n].parsing_report
# {
#     'accuracy': 99.02,
#     'whitespace': 12.24,
#     'order': 1,
#     'page': 1
# }
# tables[n].to_csv('county_revenue_part2.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite
# tables[n].df # get a pandas DataFrame!

In [33]:
df_all_county_revenue=pd.read_csv("all_county_revenue.csv")
df_all_county_revenue

,County,equitable_share_2020_21,equitable_share_2021_22_plus,conditional_grant_2020_21,conditional_grant_2021_22_plus,annual_own_source_revenue_2020_21,annual_own_source_revenue_2021_22_plus,total_revenue_2020_21,total_revenue_2021_22_plus
0,Baringo,"5,095.65","6,369.39",752.87,681.62,205.2,258.55,"6,053.72","7,309.56"
1,Bomet,"5,507.10","6,691.10",832.35,806.48,183.01,300,"6,522.46","7,797.58"
2,Bungoma,"8,893.65","10,659.44",876.59,696.07,395.12,500,"10,165.36","11,855.51"
3,Busia,"6,013.50","7,172.16",845.88,600.43,322.56,499.8,"7,181.93","8,272.39"
4,Elgeyo Marakwet,"3,861.30","4,606.53",735.21,855.35,69.08,166.1,"4,665.58","5,627.98"
5,Embu,"4,304.40","5,125.24",998.06,607.12,375.33,900,"5,677.78","6,632.36"
6,Garissa,"7,026.30","7,927.21","1,651.83","1,241.03",103.53,150,"8,781.65","9,318.24"
7,Homa Bay,"6,741.45","7,805.35",704.95,607.76,120.41,143.81,"7,566.81","8,556.93"
8,Isiolo,"4,241.10","4,710.39",942.48,813.49,57.18,113.69,"5,240.76","5,637.57"
9,Kajiado,"6,424.95","7,954.77",927.74,729.5,862.29,"1,605.36","8,214.97","10,289.63"
10,Kakamega,"10,412.85","12,389.41","1,499.98",844.39,"1,118.24","2,113.00","13,031.06","15,346.80"
11,Kericho,"5,380.50","6,430.66",780.03,722.35,595.98,494.05,"6,756.51","7,647.07"
12,Kiambu,"9,431.70","11,717.53","1,418.16",742.54,"2,425.25","3,883.30","13,275.10","16,343.37"
13,Kilifi,"10,444.50","11,641.59","1,807.24","2,307.31",833.85,925,"13,085.59","14,873.90"
14,Kirinyaga,"4,241.10","5,196.18",592.59,726.94,346.52,485,"5,180.21","6,408.11"
15,Kisii,"7,785.90","8,894.27","1,244.00",728.94,403,700,"9,432.90","10,323.22"
16,Kisumu,"6,836.40","8,026.14","1,197.23",922.93,822.3,"1,984.00","8,855.93","10,933.07"
17,Kitui,"8,830.35","10,393.97",833.88,658.52,326.45,850,"9,990.68","11,902.49"
18,Kwale,"7,785.90","8,265.59","1,164.15","1,237.99",250.09,315,"9,200.14","9,818.58"
19,Laikipia,"4,177.80","5,136.27",715.83,748.11,840.4,"1,006.00","5,734.03","6,890.37"
20,Lamu,"2,595.30","3,105.65",770.2,579.12,108.43,120,"3,473.93","3,804.77"
21,Machakos,"7,754.25","9,162.30","1,248.05",717.13,"1,296.36","1,682.89","10,298.67","11,562.33"
22,Makueni,"7,406.10","8,132.78",825.71,753.51,527.53,475,"8,759.33","9,361.30"
23,Mandera,"10,222.95","11,190.38","1,158.45",760.72,143.31,200.04,"11,524.71","12,151.14"
24,Marsabit,"6,773.10","7,277.00",970.97,906.61,110.37,170,"7,854.44","8,353.62"
25,Meru,"8,039.10","9,493.86","1,157.90",931.64,435.93,575,"9,632.93","11,000.50"
26,Migori,"6,773.10","8,005.02",727.2,544.39,288.54,280,"7,788.84","8,829.41"
27,Mombasa,"7,057.95","7,567.35","2,076.40","1,467.20","3,314.53","4,966.33","12,448.88","14,000.88"
28,Murang’a,"6,298.35","7,180.16",865.83,608.23,627.16,"1,500.00","7,791.35","9,288.38"
29,Nairobi City,"15,919.95","19,249.68",869.61,"1,020.09","9,958.04","19,360.74","26,747.60","39,630.51"
30,Nakuru,"10,476.15","13,026.12","1,228.94",972.58,"1,628.82","1,712.13","13,333.91","15,710.83"
31,Nandi,"5,348.85","6,990.87",772.17,678.1,261.04,387.11,"6,382.06","8,056.07"
32,Narok,"8,039.10","8,844.79",785.35,799.26,618.99,"2,374.55","9,443.44","12,018.60"
33,Nyamira,"4,810.80","5,135.34",900.98,716.67,162.86,400,"5,874.65","6,252.01"
34,Nyandarua,"4,874.10","5,670.44",856.79,912.19,408.72,590,"6,139.61","7,172.63"
35,Nyeri,"5,412.15","6,228.73","1,167.74",833.56,886.89,"1,000.00","7,466.78","8,062.29"
36,Samburu,"4,620.90","5,371.35",602.39,624.24,70.38,100,"5,293.67","6,095.58"
37,Siaya,"5,791.95","6,966.51",855.19,693.45,332.88,445.45,"6,980.02","8,105.40"
38,Taita/Taveta,"4,241.10","4,842.17","1,120.24","1,532.98",302.01,376,"5,663.35","6,751.15"
39,Tana River,"5,855.25","6,528.41",919.77,696.86,83.08,79.86,"6,858.10","7,305.13"
40,Tharaka -Nithi,"3,924.60","4,214.20",855.91,829.59,254.75,350,"5,035.26","5,393.79"
41,Trans Nzoia,"5,760.30","7,186.16",733.14,724.98,340.45,529.5,"6,833.89","8,440.64"
42,Turkana,"10,539.45","12,609.31","1,295.35",939.55,209.83,180,"12,044.63","13,728.85"
43,Uasin Gishu,"6,330.00","8,068.86",877.39,762.15,"1,105.68","1,000.00","8,313.07","9,831.01"
44,Vihiga,"4,652.55","5,067.36",737.84,570.61,169.11,232.7,"5,559.50","5,870.67"
45,Wajir,"8,545.50","9,474.73","1,288.48","1,313.36",73.96,100,"9,907.93","10,888.09"
46,West Pokot,"5,000.70","6,297.28",813.58,713.25,68.87,170,"5,883.15","7,180.54"
47,Total3,"316,500.00","370,000.00","47,002.61","39,880.89","34,444.28","56,749.96","397,946.90","466,630.85"

# Get Number of people with no education by county

#### Camelot did not work so I used Tabula
This meant cleaning up the data in excel to remove extra title rows and adding county and subcounty tags to each row

In [34]:
df_education_level_truncated=pd.read_csv("tabula_education_level_section_truncated.csv")
df_education_level_truncated

,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number
0,KENYA,KENYA,"43,739,906","17,780,277 40.7","11,568,544 26.4","6,854,538 15.7","7,120,542 16.3","406,887",0.9,"9,118"
1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556"
2,KENYA,Female,"22,164,531","8,739,524 39.4","5,657,565 25.5","3,681,910 16.6","3,896,417 17.6","184,558",0.8,"4,557"
3,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28,2.2,5
4,MOMBASA,MOMBASA,"1,100,173","378,423 34.4","457,603 41.6","153,982 14.0","101,097 9.2","8,817",0.8,251
...,...,...,...,...,...,...,...,...,...,...
1175,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84
1176,STAREHE,Female,"91,660","31,593 34.5","39,820 43.4","11,447 12.5","7,614 8.3","1,112",1.2,74
1177,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97
1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44
1179,WESTLANDS,Female,"143,192","44,698 31.2","73,365 51.2","18,176 12.7","5,468 3.8","1,432",1,53

# I need to separate numbers and percents since they were merged in the tabula extraction

In [35]:
df_education_level_truncated['at_school_or_learning_institution_number']=df_education_level_truncated['at_school_or_learning_institution_number_and_percent'].str.extract("(.+) ")
df_education_level_truncated['at_school_or_learning_institution_pct']=df_education_level_truncated['at_school_or_learning_institution_number_and_percent'].str.extract(" (.+)$")


df_education_level_truncated['after_completion_number']=df_education_level_truncated['after_completion_number_and_percent'].str.extract("(.+) ")
df_education_level_truncated['after_completion_pct']=df_education_level_truncated['after_completion_number_and_percent'].str.extract(" (.+)$")


df_education_level_truncated['before_completion_number']=df_education_level_truncated['before_completion_number_and_percent'].str.extract("(.+) ")
df_education_level_truncated['before_completion_pct']=df_education_level_truncated['before_completion_number_and_percent'].str.extract(" (.+)$")


df_education_level_truncated['never_been_to_school_or_learning_institution_number']=df_education_level_truncated['never_been_to_school_or_learning_institution_number_and_percent'].str.extract("(.+) ")
df_education_level_truncated['never_been_to_school_or_learning_institution_pct']=df_education_level_truncated['never_been_to_school_or_learning_institution_number_and_percent'].str.extract(" (.+)$")


df_education_level_truncated

,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct
0,KENYA,KENYA,"43,739,906","17,780,277 40.7","11,568,544 26.4","6,854,538 15.7","7,120,542 16.3","406,887",0.9,"9,118","17,780,277",40.7,"11,568,544",26.4,"6,854,538",15.7,"7,120,542",16.3
1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9
2,KENYA,Female,"22,164,531","8,739,524 39.4","5,657,565 25.5","3,681,910 16.6","3,896,417 17.6","184,558",0.8,"4,557","8,739,524",39.4,"5,657,565",25.5,"3,681,910",16.6,"3,896,417",17.6
3,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28,2.2,5,435,33.5,315,24.3,246,19.0,269,20.7
4,MOMBASA,MOMBASA,"1,100,173","378,423 34.4","457,603 41.6","153,982 14.0","101,097 9.2","8,817",0.8,251,"378,423",34.4,"457,603",41.6,"153,982",14.0,"101,097",9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4
1176,STAREHE,Female,"91,660","31,593 34.5","39,820 43.4","11,447 12.5","7,614 8.3","1,112",1.2,74,"31,593",34.5,"39,820",43.4,"11,447",12.5,"7,614",8.3
1177,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4
1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1
1179,WESTLANDS,Female,"143,192","44,698 31.2","73,365 51.2","18,176 12.7","5,468 3.8","1,432",1,53,"44,698",31.2,"73,365",51.2,"18,176",12.7,"5,468",3.8

In [36]:
df_education_level_truncated.to_csv("education_level_w_accurate_columns.csv")

# Try to clean up this data so that:
1) I remove male and female details from main section <br />
>collect only the sections where string in column 1 = column 2, make this main dataset <br />
>collect male and female data separately where column 2=Male or Female <br />
2) I add those details to the main dataset by merging on county name

In [37]:


df_education_level_main=df_education_level_truncated.loc[(df_education_level_truncated['Place_county_or_subcounty'] == df_education_level_truncated['total_and_gender'])]
df_education_level_main.to_csv("df_education_level_main.csv")
df_education_level_main

,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct
0,KENYA,KENYA,"43,739,906","17,780,277 40.7","11,568,544 26.4","6,854,538 15.7","7,120,542 16.3","406,887",0.9,"9,118","17,780,277",40.7,"11,568,544",26.4,"6,854,538",15.7,"7,120,542",16.3
4,MOMBASA,MOMBASA,"1,100,173","378,423 34.4","457,603 41.6","153,982 14.0","101,097 9.2","8,817",0.8,251,"378,423",34.4,"457,603",41.6,"153,982",14.0,"101,097",9.2
7,CHANGAMWE,CHANGAMWE,"121,334","39,032 32.2","58,097 47.9","16,205 13.4","6,940 5.7","1,048",0.9,12,"39,032",32.2,"58,097",47.9,"16,205",13.4,"6,940",5.7
10,JOMVU,JOMVU,"149,699","51,892 34.7","64,235 42.9","19,430 13.0","13,416 9.0",698,0.5,28,"51,892",34.7,"64,235",42.9,"19,430",13.0,"13,416",9.0
13,KISAUNI,KISAUNI,"263,742","95,844 36.3","102,940 39.0","37,450 14.2","25,182 9.5","2,257",0.9,69,"95,844",36.3,"102,940",39.0,"37,450",14.2,"25,182",9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,MAKADARA,MAKADARA,"176,283","55,981 31.8","92,765 52.6","20,547 11.7","5,759 3.3","1,189",0.7,42,"55,981",31.8,"92,765",52.6,"20,547",11.7,"5,759",3.3
1168,MATHARE,MATHARE,"188,625","61,040 32.4","77,503 41.1","35,910 19.0","12,099 6.4","1,966",1,107,"61,040",32.4,"77,503",41.1,"35,910",19.0,"12,099",6.4
1171,NJIRU,NJIRU,"573,474","205,700 35.9","268,935 46.9","74,809 13.0","20,046 3.5","3,746",0.7,238,"205,700",35.9,"268,935",46.9,"74,809",13.0,"20,046",3.5
1174,STAREHE,STAREHE,"182,149","63,879 35.1","82,615 45.4","20,722 11.4","12,498 6.9","2,277",1.3,158,"63,879",35.1,"82,615",45.4,"20,722",11.4,"12,498",6.9
1177,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4

In [38]:
df_education_level_male=df_education_level_truncated.loc[(df_education_level_truncated['total_and_gender'] == 'Male')]
df_education_level_male=df_education_level_male.add_prefix('male_')
df_education_level_male.to_csv("df_education_level_male.csv")
df_education_level_male

,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct
1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9
5,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3
8,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7
11,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1
14,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,MAKADARA,Male,"89,283","27,872 31.2","48,411 54.2","9,575 10.7","2,764 3.1",637,0.7,24,"27,872",31.2,"48,411",54.2,"9,575",10.7,"2,764",3.1
1169,MATHARE,Male,"97,147","30,150 31.0","42,264 43.5","17,612 18.1","5,830 6.0","1,236",1.3,55,"30,150",31.0,"42,264",43.5,"17,612",18.1,"5,830",6.0
1172,NJIRU,Male,"280,310","101,161 36.1","134,234 47.9","33,012 11.8","9,667 3.4","2,112",0.8,124,"101,161",36.1,"134,234",47.9,"33,012",11.8,"9,667",3.4
1175,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4
1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1

In [40]:
df_education_level_female=df_education_level_truncated.loc[(df_education_level_truncated['total_and_gender'] == 'Female')]
df_education_level_female=df_education_level_female.add_prefix('female_')
df_education_level_female.to_csv("df_education_level_female.csv")
df_education_level_female

,female_Place_county_or_subcounty,female_total_and_gender,female_number,female_at_school_or_learning_institution_number_and_percent,female_after_completion_number_and_percent,female_before_completion_number_and_percent,female_never_been_to_school_or_learning_institution_number_and_percent,female_dont_know_number,female_dont_know_number_percent,female_not_stated_number,female_at_school_or_learning_institution_number,female_at_school_or_learning_institution_pct,female_after_completion_number,female_after_completion_pct,female_before_completion_number,female_before_completion_pct,female_never_been_to_school_or_learning_institution_number,female_never_been_to_school_or_learning_institution_pct
2,KENYA,Female,"22,164,531","8,739,524 39.4","5,657,565 25.5","3,681,910 16.6","3,896,417 17.6","184,558",0.8,"4,557","8,739,524",39.4,"5,657,565",25.5,"3,681,910",16.6,"3,896,417",17.6
6,MOMBASA,Female,"547,681","188,930 34.5","214,424 39.2","79,596 14.5","60,843 11.1","3,772",0.7,116,"188,930",34.5,"214,424",39.2,"79,596",14.5,"60,843",11.1
9,CHANGAMWE,Female,"58,150","19,550 33.6","26,179 45.0","8,048 13.8","3,964 6.8",401,0.7,8,"19,550",33.6,"26,179",45.0,"8,048",13.8,"3,964",6.8
12,JOMVU,Female,"73,765","25,872 35.1","29,872 40.5","9,739 13.2","7,992 10.8",276,0.4,14,"25,872",35.1,"29,872",40.5,"9,739",13.2,"7,992",10.8
15,KISAUNI,Female,"132,388","47,707 36.0","48,876 36.9","19,399 14.7","15,434 11.7",941,0.7,31,"47,707",36.0,"48,876",36.9,"19,399",14.7,"15,434",11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,MAKADARA,Female,"86,991","28,105 32.3","44,353 51.0","10,970 12.6","2,995 3.4",550,0.6,18,"28,105",32.3,"44,353",51.0,"10,970",12.6,"2,995",3.4
1170,MATHARE,Female,"91,465","30,888 33.8","35,234 38.5","18,293 20.0","6,268 6.9",730,0.8,52,"30,888",33.8,"35,234",38.5,"18,293",20.0,"6,268",6.9
1173,NJIRU,Female,"293,137","104,534 35.7","134,687 45.9","41,793 14.3","10,376 3.5","1,634",0.6,113,"104,534",35.7,"134,687",45.9,"41,793",14.3,"10,376",3.5
1176,STAREHE,Female,"91,660","31,593 34.5","39,820 43.4","11,447 12.5","7,614 8.3","1,112",1.2,74,"31,593",34.5,"39,820",43.4,"11,447",12.5,"7,614",8.3
1179,WESTLANDS,Female,"143,192","44,698 31.2","73,365 51.2","18,176 12.7","5,468 3.8","1,432",1,53,"44,698",31.2,"73,365",51.2,"18,176",12.7,"5,468",3.8

In [41]:
df_education_level_intersex=df_education_level_truncated.loc[(df_education_level_truncated['total_and_gender'] == 'Intersex')]
df_education_level_intersex=df_education_level_intersex.add_prefix('intersex_')
df_education_level_intersex.to_csv("df_education_level_intersex.csv")
df_education_level_intersex

,intersex_Place_county_or_subcounty,intersex_total_and_gender,intersex_number,intersex_at_school_or_learning_institution_number_and_percent,intersex_after_completion_number_and_percent,intersex_before_completion_number_and_percent,intersex_never_been_to_school_or_learning_institution_number_and_percent,intersex_dont_know_number,intersex_dont_know_number_percent,intersex_not_stated_number,intersex_at_school_or_learning_institution_number,intersex_at_school_or_learning_institution_pct,intersex_after_completion_number,intersex_after_completion_pct,intersex_before_completion_number,intersex_before_completion_pct,intersex_never_been_to_school_or_learning_institution_number,intersex_never_been_to_school_or_learning_institution_pct
3,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28,2.2,5,435,33.5,315,24.3,246,19.0,269,20.7

# Reading merged gender section
>I need to do this before I can merge onto the main data

In [42]:
df_merging_education_level_data_gender=pd.read_csv("merging_education_level_data_gender.csv")
df_merging_education_level_data_gender

,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,Unnamed: 38,intersex_Place_county_or_subcounty,intersex_total_and_gender,intersex_number,intersex_at_school_or_learning_institution_number_and_percent,intersex_after_completion_number_and_percent,intersex_before_completion_number_and_percent,intersex_never_been_to_school_or_learning_institution_number_and_percent,intersex_dont_know_number,intersex_dont_know_number_percent,intersex_not_stated_number,intersex_at_school_or_learning_institution_number,intersex_at_school_or_learning_institution_pct,intersex_after_completion_number,intersex_after_completion_pct,intersex_before_completion_number,intersex_before_completion_pct,intersex_never_been_to_school_or_learning_institution_number,intersex_never_been_to_school_or_learning_institution_pct
0,1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,3.0,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28.0,2.2,5.0,435.0,33.5,315.0,24.3,246.0,19.0,269.0,20.7
1,5,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,5,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,8,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,11,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,14,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1166,MAKADARA,Male,"89,283","27,872 31.2","48,411 54.2","9,575 10.7","2,764 3.1",637,0.7,24,"27,872",31.2,"48,411",54.2,"9,575",10.7,"2,764",3.1,1166,MAKADARA,Male,"89,283","27,872 31.2","48,411 54.2","9,575 10.7","2,764 3.1",637,0.7,24,"27,872",31.2,"48,411",54.2,"9,575",10.7,"2,764",3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,1169,MATHARE,Male,"97,147","30,150 31.0","42,264 43.5","17,612 18.1","5,830 6.0","1,236",1.3,55,"30,150",31,"42,264",43.5,"17,612",18.1,"5,830",6,1169,MATHARE,Male,"97,147","30,150 31.0","42,264 43.5","17,612 18.1","5,830 6.0","1,236",1.3,55,"30,150",31,"42,264",43.5,"17,612",18.1,"5,830",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,1172,NJIRU,Male,"280,310","101,161 36.1","134,234 47.9","33,012 11.8","9,667 3.4","2,112",0.8,124,"101,161",36.1,"134,234",47.9,"33,012",11.8,"9,667",3.4,1172,NJIRU,Male,"280,310","101,161 36.1","134,234 47.9","33,012 11.8","9,667 3.4","2,112",0.8,124,"101,161",36.1,"134,234",47.9,"33,012",11.8,"9,667",3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,1175,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4,1175,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Now that I have gender level data, I need to merge it onto the main data
>while saving any extra data available in gender level data that is not in main level data

### I need to create new columns for male and female details
Will figure this out but for now I can create a truncated version of the data

################ Ask Aishi

# Get Number of schools

In [43]:
# tables = camelot.read_pdf('Kenya-Basic-Education-Statistical-Booklet-2019.pdf', flavor='stream', pages='all')
# tables
# # <TableList n=648>
# n=90
# tables.export('Kenya-Basic-Education-Statistical-Booklet-2019.pdf', f='csv', compress=True) # json, excel, html, markdown, sqlite
# # tables[1]
# # # <Table shape=(14, 3)>
# tables[n].parsing_report
# {
#     'accuracy': 99.02,
#     'whitespace': 12.24,
#     'order': 1,
#     'page': 1
# }
# tables[n].to_csv('primary_number_of_schools.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite
# tables[n].df # get a pandas DataFrame!

In [44]:
df_primary_number_of_schools=pd.read_csv("primary_number_of_schools_with_correct_rows.csv")
df_primary_number_of_schools

,number,county,number_of_schools,total_enrolment,average_school_size
0,1.0,Baringo,841,"161,919",193
1,2.0,Bomet,968,"231,197",239
2,3.0,Bungoma,"1,115","500,157",449
3,4.0,Busia,568,"250,860",442
4,5.0,Elgeyo Marakwet,467,"123,818",265
5,6.0,Embu,519,"124,774",240
6,7.0,Garissa,304,"77,465",255
7,8.0,Homa Bay,"1,042","313,666",301
8,9.0,Isiolo,163,"35,221",216
9,10.0,Kajiado,792,"191,184",241
10,11.0,Kakamega,"1,120","555,021",496
11,12.0,Kericho,827,"222,619",269
12,13.0,Kiambu,899,"347,510",387
13,14.0,Kilifi,842,"353,254",420
14,15.0,Kirinyaga,355,"108,014",304
15,16.0,Kisii,"1,107","309,794",280
16,17.0,Kisumu,821,"287,164",350
17,18.0,Kitui,"1,620","335,078",207
18,19.0,Kwale,532,"203,634",383
19,20.0,Laikipia,354,"97,710",276
20,21.0,Lamu,137,"32,359",236
21,22.0,Machakos,"1,202","284,390",237
22,23.0,Makueni,"1,041","255,093",245
23,24.0,Mandera,333,"102,503",308
24,25.0,Marsabit,247,"64,787",262
25,26.0,Meru,"1,173","317,333",271
26,27.0,Migori,931,"314,160",337
27,28.0,Mombasa,459,"155,337",338
28,29.0,Murang'a,681,"206,420",303
29,30.0,Nairobi,"1,105","414,045",375
30,31.0,Nakuru,"1,136","478,057",421
31,32.0,Nandi,900,"231,836",258
32,33.0,Narok,940,"297,685",317
33,34.0,Nyamira,576,"162,596",282
34,35.0,Nyandarua,488,"138,635",284
35,36.0,Nyeri,552,"124,881",226
36,37.0,Samburu,188,"56,468",300
37,38.0,Siaya,851,"269,526",317
38,39.0,Taita Taveta,285,"67,177",236
39,40.0,Tana River,213,"59,674",280
40,41.0,T/ Nithi,538,"98,983",184
41,42.0,Trans Nzoia,621,"274,605",442
42,43.0,Turkana,469,"162,543",347
43,44.0,Uasin Gishu,845,"231,196",274
44,45.0,Vihiga,452,"169,354",375
45,46.0,Wajir,306,"76,959",252
46,47.0,West Pokot,690,"195,379",283
47,NaN,Grand Total,"32,344","10,072,040",311

# Get area of county

In [45]:
tables = camelot.read_pdf('VOLUME 1 KPHC 2019.pdf', flavor='stream', pages='all')
tables
# <TableList n=648>
n=19
tables.export('VOLUME 1 KPHC 2019.pdf', f='csv', compress=True) # json, excel, html, markdown, sqlite
# tables[1]
# # <Table shape=(14, 3)>
tables[n].parsing_report
{
    'accuracy': 99.02,
    'whitespace': 12.24,
    'order': 1,
    'page': 1
}
tables[n].to_csv('county_area.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite
tables[n].df # get a pandas DataFrame!

,0,1
0,"Table 2. 4: Distribution of Population, Land A...",
1,National/ County\n Population,Land Area \n Population Density
2,,(Sq. Km) \n(No. per Sq. Km)
3,"Kenya……………………\n \n47,564,296","580,876.3\n \n82"
4,County,
5,"Mombasa…………..…\n \n1,208,333","219.9\n \n5,495"
6,"Kwale……………..……\n \n866,820","8,267.1\n \n105"
7,"Kilifi………………..……\n \n1,453,787","12,539.7\n \n116"
8,"Tana River………….…\n \n315,943","37,950.5\n \n8"
9,"Lamu……………….….\n \n143,920","6,253.3\n \n23"
10,"Taita/Taveta……..….…\n \n340,671","17,152.0\n \n20"
11,"Garissa………………..\n \n841,353","44,736.0\n \n19"
12,"Wajir……………….……\n \n781,263","56,773.1\n \n14"
13,"Mandera…………....…\n \n867,457","25,939.8\n \n33"
14,Marsabit…….…........…\n \n45...,"70,944.1\n \n6"
15,"Isiolo……….…….……\n \n268,002","25,350.6\n \n11"
16,"Meru……………………\n \n1,545,714","7,006.3\n \n221"
17,"Tharaka-Nithi…………\n \n393,177","2,564.4\n \n153"
18,"Embu…………………..\n \n608,599","2,820.7\n \n216"
19,"Kitui…………………….\n \n1,136,187","30,429.5\n \n37"
20,"Machakos………….…..\n \n1,421,932","6,042.7\n \n235"
21,"Makueni……………….\n \n987,653","8,169.8\n \n121"
22,"Nyandarua…………….\n \n638,289","3,285.7\n \n194"
23,"Nyeri……………………\n \n759,164","3,325.0\n \n228"
24,"Kirinyaga………………\n \n610,411","1,478.3\n \n413"
25,"Murang'a……………….\n \n1,056,640","2,524.2\n \n419"
26,"Kiambu………………..\n \n2,417,735","2,538.6\n \n952"
27,"Turkana……………….\n \n926,976","68,232.9\n \n14"
28,"West Pokot……………\n \n621,241","9,123.2\n \n68"
29,"Samburu………………\n \n310,327","21,065.1\n \n15"
30,"Trans Nzoia…………..\n \n990,341","2,495.2\n \n397"
31,"Uasin Gishu…………..\n \n1,163,186","3,392.2\n \n343"
32,"Elgeyo/Marakwet……..\n \n454,480","3,032.0\n \n150"
33,"Nandi…………………..\n \n885,711","2,855.8\n \n310"
34,"Baringo………………..\n \n666,763","10,976.4\n \n61"
35,Laikipia…………………………..\n \n518...,"9,532.2\n \n54"
36,"Nakuru……………………………2,162,202","7,462.4\n \n290"
37,"Narok…………………………….. 1,157,873","17,950.3\n \n65"
38,"Kajiado……………………………1,117,840","21,871.1\n \n51"
39,"Kericho………..………\n \n901,777","2,436.1\n \n370"
40,"Bomet………………….\n \n875,689","2,530.9\n \n346"
41,"Kakamega…………….\n \n1,867,579","3,020.0\n \n618"
42,"Vihiga………………….\n \n590,013","563.8\n \n1,047"
43,"Bungoma…………..…\n \n1,670,570","3,023.9\n \n552"
44,"Busia…………...……..\n \n893,681","1,696.3\n \n527"
45,"Siaya…………….……..\n \n993,183","2,529.8\n \n393"
46,"Kisumu………………..\n \n1,155,574","2,085.4\n \n554"
47,"Homa Bay……………..\n \n1,131,950","3,152.5\n \n359"
48,"Migori…………………..\n \n1,116,436","2,613.5\n \n427"
49,"Kisii……………………\n \n1,266,860","1,323.0\n \n958"
50,"Nyamira………………..\n \n605,576",897.3\n \n675
51,"Nairobi City……..…….\n \n4,397,073","703.9\n \n6,247"

In [46]:
df_county_area=tables[n].df # get a pandas DataFrame!
df_county_area

,0,1
0,"Table 2. 4: Distribution of Population, Land A...",
1,National/ County\n Population,Land Area \n Population Density
2,,(Sq. Km) \n(No. per Sq. Km)
3,"Kenya……………………\n \n47,564,296","580,876.3\n \n82"
4,County,
5,"Mombasa…………..…\n \n1,208,333","219.9\n \n5,495"
6,"Kwale……………..……\n \n866,820","8,267.1\n \n105"
7,"Kilifi………………..……\n \n1,453,787","12,539.7\n \n116"
8,"Tana River………….…\n \n315,943","37,950.5\n \n8"
9,"Lamu……………….….\n \n143,920","6,253.3\n \n23"
10,"Taita/Taveta……..….…\n \n340,671","17,152.0\n \n20"
11,"Garissa………………..\n \n841,353","44,736.0\n \n19"
12,"Wajir……………….……\n \n781,263","56,773.1\n \n14"
13,"Mandera…………....…\n \n867,457","25,939.8\n \n33"
14,Marsabit…….…........…\n \n45...,"70,944.1\n \n6"
15,"Isiolo……….…….……\n \n268,002","25,350.6\n \n11"
16,"Meru……………………\n \n1,545,714","7,006.3\n \n221"
17,"Tharaka-Nithi…………\n \n393,177","2,564.4\n \n153"
18,"Embu…………………..\n \n608,599","2,820.7\n \n216"
19,"Kitui…………………….\n \n1,136,187","30,429.5\n \n37"
20,"Machakos………….…..\n \n1,421,932","6,042.7\n \n235"
21,"Makueni……………….\n \n987,653","8,169.8\n \n121"
22,"Nyandarua…………….\n \n638,289","3,285.7\n \n194"
23,"Nyeri……………………\n \n759,164","3,325.0\n \n228"
24,"Kirinyaga………………\n \n610,411","1,478.3\n \n413"
25,"Murang'a……………….\n \n1,056,640","2,524.2\n \n419"
26,"Kiambu………………..\n \n2,417,735","2,538.6\n \n952"
27,"Turkana……………….\n \n926,976","68,232.9\n \n14"
28,"West Pokot……………\n \n621,241","9,123.2\n \n68"
29,"Samburu………………\n \n310,327","21,065.1\n \n15"
30,"Trans Nzoia…………..\n \n990,341","2,495.2\n \n397"
31,"Uasin Gishu…………..\n \n1,163,186","3,392.2\n \n343"
32,"Elgeyo/Marakwet……..\n \n454,480","3,032.0\n \n150"
33,"Nandi…………………..\n \n885,711","2,855.8\n \n310"
34,"Baringo………………..\n \n666,763","10,976.4\n \n61"
35,Laikipia…………………………..\n \n518...,"9,532.2\n \n54"
36,"Nakuru……………………………2,162,202","7,462.4\n \n290"
37,"Narok…………………………….. 1,157,873","17,950.3\n \n65"
38,"Kajiado……………………………1,117,840","21,871.1\n \n51"
39,"Kericho………..………\n \n901,777","2,436.1\n \n370"
40,"Bomet………………….\n \n875,689","2,530.9\n \n346"
41,"Kakamega…………….\n \n1,867,579","3,020.0\n \n618"
42,"Vihiga………………….\n \n590,013","563.8\n \n1,047"
43,"Bungoma…………..…\n \n1,670,570","3,023.9\n \n552"
44,"Busia…………...……..\n \n893,681","1,696.3\n \n527"
45,"Siaya…………….……..\n \n993,183","2,529.8\n \n393"
46,"Kisumu………………..\n \n1,155,574","2,085.4\n \n554"
47,"Homa Bay……………..\n \n1,131,950","3,152.5\n \n359"
48,"Migori…………………..\n \n1,116,436","2,613.5\n \n427"
49,"Kisii……………………\n \n1,266,860","1,323.0\n \n958"
50,"Nyamira………………..\n \n605,576",897.3\n \n675
51,"Nairobi City……..…….\n \n4,397,073","703.9\n \n6,247"

In [47]:
df_county_area['place']=df_county_area[0].str.extract("([\w+? ?/?\w+]+).")


df_county_area['population']=df_county_area[0].str.extract("(\d*,?\d+,\d+)$")

df_county_area['land_area_km_sq']=df_county_area[1].str.extract("(\d*,?\d+,\d+.?\d*)")

df_county_area['pop_density_per_km_sq']=df_county_area[1].str.extract("(\d*,?\d+)$")

# df_county_area.drop(df_county_area.head(3).index, inplace=True)

df_county_area
# df_links['cpi_title']=df_links.cpi_link.str.extract("-?/?(\w+-\d+)[/?]")

,0,1,place,population,land_area_km_sq,pop_density_per_km_sq
0,"Table 2. 4: Distribution of Population, Land A...",,Table 2,NaN,NaN,NaN
1,National/ County\n Population,Land Area \n Population Density,National/ Count,NaN,NaN,NaN
2,,(Sq. Km) \n(No. per Sq. Km),NaN,NaN,NaN,NaN
3,"Kenya……………………\n \n47,564,296","580,876.3\n \n82",Kenya,"47,564,296","580,876.3",82
4,County,,Count,NaN,NaN,NaN
5,"Mombasa…………..…\n \n1,208,333","219.9\n \n5,495",Mombasa,"1,208,333","5,495","5,495"
6,"Kwale……………..……\n \n866,820","8,267.1\n \n105",Kwale,"866,820","8,267.1",105
7,"Kilifi………………..……\n \n1,453,787","12,539.7\n \n116",Kilifi,"1,453,787","12,539.7",116
8,"Tana River………….…\n \n315,943","37,950.5\n \n8",Tana River,"315,943","37,950.5",8
9,"Lamu……………….….\n \n143,920","6,253.3\n \n23",Lamu,"143,920","6,253.3",23
10,"Taita/Taveta……..….…\n \n340,671","17,152.0\n \n20",Taita/Taveta,"340,671","17,152.0",20
11,"Garissa………………..\n \n841,353","44,736.0\n \n19",Garissa,"841,353","44,736.0",19
12,"Wajir……………….……\n \n781,263","56,773.1\n \n14",Wajir,"781,263","56,773.1",14
13,"Mandera…………....…\n \n867,457","25,939.8\n \n33",Mandera,"867,457","25,939.8",33
14,Marsabit…….…........…\n \n45...,"70,944.1\n \n6",Marsabit,"459,785","70,944.1",6
15,"Isiolo……….…….……\n \n268,002","25,350.6\n \n11",Isiolo,"268,002","25,350.6",11
16,"Meru……………………\n \n1,545,714","7,006.3\n \n221",Meru,"1,545,714","7,006.3",221
17,"Tharaka-Nithi…………\n \n393,177","2,564.4\n \n153",Tharaka,"393,177","2,564.4",153
18,"Embu…………………..\n \n608,599","2,820.7\n \n216",Embu,"608,599","2,820.7",216
19,"Kitui…………………….\n \n1,136,187","30,429.5\n \n37",Kitui,"1,136,187","30,429.5",37
20,"Machakos………….…..\n \n1,421,932","6,042.7\n \n235",Machakos,"1,421,932","6,042.7",235
21,"Makueni……………….\n \n987,653","8,169.8\n \n121",Makueni,"987,653","8,169.8",121
22,"Nyandarua…………….\n \n638,289","3,285.7\n \n194",Nyandarua,"638,289","3,285.7",194
23,"Nyeri……………………\n \n759,164","3,325.0\n \n228",Nyeri,"759,164","3,325.0",228
24,"Kirinyaga………………\n \n610,411","1,478.3\n \n413",Kirinyaga,"610,411","1,478.3",413
25,"Murang'a……………….\n \n1,056,640","2,524.2\n \n419",Murang,"1,056,640","2,524.2",419
26,"Kiambu………………..\n \n2,417,735","2,538.6\n \n952",Kiambu,"2,417,735","2,538.6",952
27,"Turkana……………….\n \n926,976","68,232.9\n \n14",Turkana,"926,976","68,232.9",14
28,"West Pokot……………\n \n621,241","9,123.2\n \n68",West Pokot,"621,241","9,123.2",68
29,"Samburu………………\n \n310,327","21,065.1\n \n15",Samburu,"310,327","21,065.1",15
30,"Trans Nzoia…………..\n \n990,341","2,495.2\n \n397",Trans Nzoia,"990,341","2,495.2",397
31,"Uasin Gishu…………..\n \n1,163,186","3,392.2\n \n343",Uasin Gishu,"1,163,186","3,392.2",343
32,"Elgeyo/Marakwet……..\n \n454,480","3,032.0\n \n150",Elgeyo/Marakwet,"454,480","3,032.0",150
33,"Nandi…………………..\n \n885,711","2,855.8\n \n310",Nandi,"885,711","2,855.8",310
34,"Baringo………………..\n \n666,763","10,976.4\n \n61",Baringo,"666,763","10,976.4",61
35,Laikipia…………………………..\n \n518...,"9,532.2\n \n54",Laikipia,"518,560","9,532.2",54
36,"Nakuru……………………………2,162,202","7,462.4\n \n290",Nakuru,"2,162,202","7,462.4",290
37,"Narok…………………………….. 1,157,873","17,950.3\n \n65",Narok,"1,157,873","17,950.3",65
38,"Kajiado……………………………1,117,840","21,871.1\n \n51",Kajiado,"1,117,840","21,871.1",51
39,"Kericho………..………\n \n901,777","2,436.1\n \n370",Kericho,"901,777","2,436.1",370
40,"Bomet………………….\n \n875,689","2,530.9\n \n346",Bomet,"875,689","2,530.9",346
41,"Kakamega…………….\n \n1,867,579","3,020.0\n \n618",Kakamega,"1,867,579","3,020.0",618
42,"Vihiga………………….\n \n590,013","563.8\n \n1,047",Vihiga,"590,013","1,047","1,047"
43,"Bungoma…………..…\n \n1,670,570","3,023.9\n \n552",Bungoma,"1,670,570","3,023.9",552
44,"Busia…………...……..\n \n893,681","1,696.3\n \n527",Busia,"893,681","1,696.3",527
45,"Siaya…………….……..\n \n993,183","2,529.8\n \n393",Siaya,"993,183","2,529.8",393
46,"Kisumu………………..\n \n1,155,574","2,085.4\n \n554",Kisumu,"1,155,574","2,085.4",554
47,"Homa Bay……………..\n \n1,131,950","3,152.5\n \n359",Homa Bay,"1,131,950","3,152.5",359
48,"Migori…………………..\n \n1,116,436","2,613.5\n \n427",Migori,"1,116,436","2,613.5",427
49,"Kisii……………………\n \n1,266,860","1,323.0\n \n958",Kisii,"1,266,860","1,323.0",958
50,"Nyamira………………..\n \n605,576",897.3\n \n675,Nyamira,"605,576",NaN,675
51,"Nairobi City……..…….\n \n4,397,073","703.9\n \n6,247",Nairobi City,"4,397,073","6,247","6,247"

In [48]:
df_county_area.to_csv("county_area_cleaned.csv")

In [49]:
df_county_area_cleaned=pd.read_csv("county_area_cleaned_remove_columns.csv")

In [50]:
df_county_area_cleaned

              place  population land_area_km_sq pop_density_per_km_sq
0             Kenya  47,564,296      580,876.30                    82
1           Mombasa   1,208,333           5,495                 5,495
2             Kwale     866,820        8,267.10                   105
3            Kilifi   1,453,787       12,539.70                   116
4        Tana River     315,943       37,950.50                     8
5              Lamu     143,920        6,253.30                    23
6      Taita/Taveta     340,671       17,152.00                    20
7           Garissa     841,353       44,736.00                    19
8             Wajir     781,263       56,773.10                    14
9           Mandera     867,457       25,939.80                    33
10         Marsabit     459,785       70,944.10                     6
11           Isiolo     268,002       25,350.60                    11
12             Meru   1,545,714        7,006.30                   221
13          Tharaka     393,177        2,564.40                   153
14             Embu     608,599        2,820.70                   216
15            Kitui   1,136,187       30,429.50                    37
16         Machakos   1,421,932        6,042.70                   235
17          Makueni     987,653        8,169.80                   121
18        Nyandarua     638,289        3,285.70                   194
19            Nyeri     759,164        3,325.00                   228
20        Kirinyaga     610,411        1,478.30                   413
21           Murang   1,056,640        2,524.20                   419
22           Kiambu   2,417,735        2,538.60                   952
23          Turkana     926,976       68,232.90                    14
24       West Pokot     621,241        9,123.20                    68
25          Samburu     310,327       21,065.10                    15
26      Trans Nzoia     990,341        2,495.20                   397
27      Uasin Gishu   1,163,186        3,392.20                   343
28  Elgeyo/Marakwet     454,480        3,032.00                   150
29            Nandi     885,711        2,855.80                   310
30          Baringo     666,763       10,976.40                    61
31         Laikipia     518,560        9,532.20                    54
32           Nakuru   2,162,202        7,462.40                   290
33            Narok   1,157,873       17,950.30                    65
34          Kajiado   1,117,840       21,871.10                    51
35          Kericho     901,777        2,436.10                   370
36            Bomet     875,689        2,530.90                   346
37         Kakamega   1,867,579        3,020.00                   618
38           Vihiga     590,013           1,047                 1,047
39          Bungoma   1,670,570        3,023.90                   552
40            Busia     893,681        1,696.30                   527
41            Siaya     993,183        2,529.80                   393
42           Kisumu   1,155,574        2,085.40                   554
43         Homa Bay   1,131,950        3,152.50                   359
44           Migori   1,116,436        2,613.50                   427
45            Kisii   1,266,860        1,323.00                   958
46          Nyamira     605,576             NaN                   675
47     Nairobi City   4,397,073           6,247                 6,247

# Getting Pupil Achievement in Numeracy and Literacy in NASMLA 2018 by County

In [51]:
tables = camelot.read_pdf('Kenya-Basic-Education-Statistical-Booklet-2019.pdf', flavor='stream', pages='all')
tables
# <TableList n=648>
n=-1
tables.export('Kenya-Basic-Education-Statistical-Booklet-2019.pdf', f='csv', compress=True) # json, excel, html, markdown, sqlite
# tables[1]
# # <Table shape=(14, 3)>
tables[n].parsing_report
{
    'accuracy': 99.02,
    'whitespace': 12.24,
    'order': 1,
    'page': 1
}
tables[n].to_csv('nasmla2018.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite
tables[n].df # get a pandas DataFrame!

,0,1,2,3,4,5,6,7
0,T,able 74: Pupil Achievement in Numeracy and Lit...,,,,,,
1,,,Mathematics,,English,,Kiswahili,
2,No.,County,,,,,,
3,,,Mean,SE,Mean,SE,Mean,SE
4,1,Baringo,500.5,56.9,499.3,65.1,493.6,61.7
5,2,Bomet,485.2,27.8,462.2,21.5,447.3,24.2
6,3,Bungoma,433.9,10.3,434.2,12.6,462.6,15.6
7,4,Busia,465.9,15.6,475.3,22.7,493.1,22.8
8,5,Elgeyo Marakwet,488.2,14.9,461.0,17.1,495.0,11.9
9,6,Embu,473.9,14.5,474.3,16.6,461.8,15.2
10,7,Garissa,398.2,67.2,363.2,67.6,351.8,55.6
11,8,Homa Bay,495.0,23.3,515.3,14.9,473.2,6.1
12,9,Isiolo,525.9,24.1,537.4,30.6,547.0,24.6
13,10,Kajiado,489.9,3.7,465.5,10.9,519.4,19.0
14,11,Kakamega,469.0,18.1,485.1,20.9,503.0,13.8
15,12,Kericho,457.1,16.4,449.4,20.1,449.5,14.5
16,13,Kiambu,554.4,39.2,594.7,26.0,562.0,20.0
17,14,Kilifi,559.7,12.8,533.4,22.6,581.5,9.5
18,15,Kirinyaga,493.6,15.3,508.6,11.6,496.4,4.3
19,16,Kisii,478.8,18.7,455.0,16.4,473.0,22.4
20,17,Kisumu,464.8,24.0,484.0,27.4,459.6,28.6
21,18,Kitui,482.6,17.6,448.9,15.1,467.7,12.7
22,19,Kwale,520.3,22.0,508.6,31.7,564.6,24.1
23,20,Laikipia,484.3,27.8,482.5,26.9,491.7,32.3
24,21,Lamu,613.0,15.3,598.5,18.2,611.0,24.4
25,22,Machakos,532.8,23.2,532.8,24.0,521.5,13.6
26,23,Makueni,523.6,18.8,512.4,25.1,510.9,15.4
27,24,Mandera,473.0,22.6,454.0,8.8,455.7,24.1
28,25,Marsabit,512.7,34.2,479.7,9.4,481.9,7.8
29,26,Meru,478.9,20.1,466.7,20.6,467.7,19.7
30,27,Migori,447.3,25.4,465.8,26.1,449.2,27.0
31,28,Mombasa,595.9,37.9,616.5,44.0,585.7,7.6
32,29,Murang'a,528.6,26.4,515.1,22.0,503.6,26.5
33,30,Nairobi,632.0,22.4,661.3,23.5,588.3,19.1
34,31,Nakuru,515.5,17.8,532.1,24.2,528.9,16.2
35,32,Nandi,491.8,27.5,486.6,17.5,503.2,19.3
36,33,Narok,481.9,29.0,472.2,38.8,480.2,40.6
37,34,Nyamira,520.6,36.5,497.5,28.5,515.8,40.2
38,35,Nyandarua,540.6,10.6,552.4,19.1,536.7,18.2
39,36,Nyeri,515.7,47.2,546.8,55.6,516.4,40.4
40,37,Samburu,421.2,5.1,397.6,8.0,406.0,8.7
41,38,Siaya,431.8,17.8,458.5,18.1,429.0,22.4
42,39,Taita Taveta,488.4,16.6,499.2,19.4,544.4,22.9
43,40,Tana River,476.4,40.3,487.9,42.4,539.8,27.8
44,41,Tharaka Nithi,558.4,8.4,579.6,9.8,566.5,15.0
45,42,Trans Nzoia,486.6,33.3,480.3,32.9,498.7,22.9
46,43,Turkana,467.4,20.2,430.3,12.3,425.8,42.0
47,44,Uasin Gishu,527.1,28.1,524.6,33.3,537.6,23.8
48,45,Vihiga,531.4,31.6,558.6,31.9,552.2,36.0
49,46,Wajir,474.1,15.3,466.6,29.2,430.4,11.8
50,47,West Pokot,510.7,53.2,500.4,74.4,502.6,44.9
51,,National,500.0,24.6,498.1,25.9,499.7,22.9
52,Source: Kenya National Examinations Council,,,,,,,

In [52]:
df_namsla=pd.read_csv("nasmla2018_cleaned.csv")
df_namsla

,number,county,mathematics_mean,mathematics_SE,english_mean,english_SE,kiswahili_mean,kiswahili_SE
0,1.0,Baringo,500.5,56.9,499.3,65.1,493.6,61.7
1,2.0,Bomet,485.2,27.8,462.2,21.5,447.3,24.2
2,3.0,Bungoma,433.9,10.3,434.2,12.6,462.6,15.6
3,4.0,Busia,465.9,15.6,475.3,22.7,493.1,22.8
4,5.0,Elgeyo Marakwet,488.2,14.9,461.0,17.1,495.0,11.9
5,6.0,Embu,473.9,14.5,474.3,16.6,461.8,15.2
6,7.0,Garissa,398.2,67.2,363.2,67.6,351.8,55.6
7,8.0,Homa Bay,495.0,23.3,515.3,14.9,473.2,6.1
8,9.0,Isiolo,525.9,24.1,537.4,30.6,547.0,24.6
9,10.0,Kajiado,489.9,3.7,465.5,10.9,519.4,19.0
10,11.0,Kakamega,469.0,18.1,485.1,20.9,503.0,13.8
11,12.0,Kericho,457.1,16.4,449.4,20.1,449.5,14.5
12,13.0,Kiambu,554.4,39.2,594.7,26.0,562.0,20.0
13,14.0,Kilifi,559.7,12.8,533.4,22.6,581.5,9.5
14,15.0,Kirinyaga,493.6,15.3,508.6,11.6,496.4,4.3
15,16.0,Kisii,478.8,18.7,455.0,16.4,473.0,22.4
16,17.0,Kisumu,464.8,24.0,484.0,27.4,459.6,28.6
17,18.0,Kitui,482.6,17.6,448.9,15.1,467.7,12.7
18,19.0,Kwale,520.3,22.0,508.6,31.7,564.6,24.1
19,20.0,Laikipia,484.3,27.8,482.5,26.9,491.7,32.3
20,21.0,Lamu,613.0,15.3,598.5,18.2,611.0,24.4
21,22.0,Machakos,532.8,23.2,532.8,24.0,521.5,13.6
22,23.0,Makueni,523.6,18.8,512.4,25.1,510.9,15.4
23,24.0,Mandera,473.0,22.6,454.0,8.8,455.7,24.1
24,25.0,Marsabit,512.7,34.2,479.7,9.4,481.9,7.8
25,26.0,Meru,478.9,20.1,466.7,20.6,467.7,19.7
26,27.0,Migori,447.3,25.4,465.8,26.1,449.2,27.0
27,28.0,Mombasa,595.9,37.9,616.5,44.0,585.7,7.6
28,29.0,Murang'a,528.6,26.4,515.1,22.0,503.6,26.5
29,30.0,Nairobi,632.0,22.4,661.3,23.5,588.3,19.1
30,31.0,Nakuru,515.5,17.8,532.1,24.2,528.9,16.2
31,32.0,Nandi,491.8,27.5,486.6,17.5,503.2,19.3
32,33.0,Narok,481.9,29.0,472.2,38.8,480.2,40.6
33,34.0,Nyamira,520.6,36.5,497.5,28.5,515.8,40.2
34,35.0,Nyandarua,540.6,10.6,552.4,19.1,536.7,18.2
35,36.0,Nyeri,515.7,47.2,546.8,55.6,516.4,40.4
36,37.0,Samburu,421.2,5.1,397.6,8.0,406.0,8.7
37,38.0,Siaya,431.8,17.8,458.5,18.1,429.0,22.4
38,39.0,Taita Taveta,488.4,16.6,499.2,19.4,544.4,22.9
39,40.0,Tana River,476.4,40.3,487.9,42.4,539.8,27.8
40,41.0,Tharaka Nithi,558.4,8.4,579.6,9.8,566.5,15.0
41,42.0,Trans Nzoia,486.6,33.3,480.3,32.9,498.7,22.9
42,43.0,Turkana,467.4,20.2,430.3,12.3,425.8,42.0
43,44.0,Uasin Gishu,527.1,28.1,524.6,33.3,537.6,23.8
44,45.0,Vihiga,531.4,31.6,558.6,31.9,552.2,36.0
45,46.0,Wajir,474.1,15.3,466.6,29.2,430.4,11.8
46,47.0,West Pokot,510.7,53.2,500.4,74.4,502.6,44.9
47,NaN,National,500.0,24.6,498.1,25.9,499.7,22.9

# Getting Public Primary Schools with Electricity by County, 2019

In [53]:
df_public_pri_schools_electricity_cleaned=pd.read_csv("public_pri_schools_electricity_cleaned.csv")
df_public_pri_schools_electricity_cleaned

    S/No   Name Of County National Grid  Solar  No Power   Total
0    1.0          Mombasa            93      0         2      95
1    2.0            Kwale           349     51        21     421
2    3.0           Kilifi           439    101        10     550
3    4.0       Tana River            47    121        10     178
4    5.0             Lamu            58     50         0     108
5    6.0     Taita/Taveta           200     10         0     210
6    7.0          Garissa            69    176         3     248
7    8.0            Wajir            60    177        21     258
8    9.0          Mandera            14    206        62     282
9   10.0         Marsabit            48    125         9     182
10  11.0           Isiolo            41     69         0     110
11  12.0             Meru           709      7        11     727
12  13.0    Tharaka-Nithi           353     71         2     426
13  14.0             Embu           370     11         0     381
14  15.0            Kitui           885    484        45   1,414
15  16.0         Machakos           818     28         8     854
16  17.0          Makueni           775    115        15     905
17  18.0        Nyandarua           349      1         0     350
18  19.0            Nyeri           391      0         0     391
19  20.0        Kirinyaga           197      1         0     198
20  21.0         Murang a           513      1         0     514
21  22.0           Kiambu           461      0         1     462
22  23.0          Turkana            41    379        28     448
23  24.0       West Pokot           231    338        85     654
24  25.0          Samburu            40    115         8     163
25  26.0      Trans Nzoia           365      2        10     377
26  27.0      Uasin Gishu           460      0        14     474
27  28.0  Elgeyo/Marakwet           371     19         9     399
28  29.0            Nandi           718      0        13     731
29  30.0          Baringo           566    183        51     800
30  31.0         Laikipia           245     53         2     300
31  32.0           Nakuru           680     25        22     727
32  33.0            Narok           143    518        53     714
33  34.0          Kajiado           257    249        16     522
34  35.0          Kericho           497      1         0     498
35  36.0            Bomet           666      1        24     691
36  37.0         Kakamega           887      9        13     909
37  38.0           Vihiga           380      0         4     384
38  39.0          Bungoma           749     15        23     787
39  40.0            Busia           440      4         1     445
40  41.0            Siaya           647      9         3     659
41  42.0           Kisumu           615      0         0     615
42  43.0         Homa Bay           763     22         0     785
43  44.0           Migori           617      2         6     625
44  45.0            Kisii           694      1         3     698
45  46.0          Nyamira           407      0         0     407
46  47.0          Nairobi           300      5         2     307
47   NaN            Total        19,018  3,755       610  23,383

# Getting Pupil -Teacher Ratio in public pre-primary, primary and secondary schools, 2019

In [54]:
#Checking this in a moment

# Getting Public Lower Primary Textbooks Distribution by Grade and County, 2019

In [55]:
df_pupil_textbook_ratio=pd.read_csv("tabula_pupil_textbook_ratio.csv")
df_pupil_textbook_ratio

,No.,County,Grade 1,Grade 2,Grade 3,Pupil Textbook Ratio (PTR)
0,1.0,Baringo,1.01,1.01,1.39,1.13
1,2.0,Bomet,0.99,0.91,1.00,0.96
2,3.0,Bungoma,0.89,0.89,0.90,0.89
3,4.0,Busia,0.82,0.89,0.84,0.85
4,5.0,Elgeyo/Marakwet,0.99,1.00,1.00,1.00
5,6.0,Embu,0.50,0.50,0.50,0.50
6,7.0,Garissa,0.98,1.01,1.01,1.00
7,8.0,Homa Bay,1.00,1.00,1.00,1.00
8,9.0,Isiolo,1.01,0.98,0.97,0.99
9,10.0,Kajiado,0.98,0.99,0.99,0.99
10,11.0,Kakamega,0.97,0.98,0.99,0.98
11,12.0,Kericho,0.96,0.97,0.97,0.97
12,13.0,Kiambu,0.94,0.98,0.96,0.96
13,14.0,Kilifi,0.93,0.94,0.96,0.94
14,15.0,Kirinyaga,0.91,0.91,0.92,0.91
15,16.0,Kisii,1.01,1.01,1.03,1.01
16,17.0,Kisumu,0.91,0.92,0.93,0.92
17,18.0,Kitui,0.98,0.98,0.98,0.98
18,19.0,Kwale,0.98,0.99,1.00,0.99
19,20.0,Laikipia,0.95,0.97,0.98,0.97
20,21.0,Lamu,0.99,0.97,0.99,0.98
21,22.0,Machakos,1.03,1.02,1.03,1.03
22,23.0,Makueni,0.98,0.98,0.99,0.98
23,24.0,Mandera,0.81,0.87,1.39,0.94
24,25.0,Marsabit,0.80,0.82,0.81,0.81
25,26.0,Meru,1.02,1.01,1.04,1.02
26,27.0,Migori,0.93,0.93,0.95,0.94
27,28.0,Mombasa,1.02,1.04,1.04,1.03
28,29.0,Murang'a,1.06,1.07,1.06,1.06
29,30.0,Nairobi,0.96,1.01,0.95,0.97
30,31.0,Nakuru,0.97,0.98,0.98,0.98
31,32.0,Nandi,0.82,0.82,0.82,0.82
32,33.0,Narok,0.93,0.94,0.92,0.93
33,34.0,Nyamira,0.95,0.97,0.96,0.96
34,35.0,Nyandarua,1.00,1.01,1.01,1.01
35,36.0,Nyeri,0.98,0.99,0.98,0.98
36,37.0,Samburu,0.99,0.99,0.99,0.99
37,38.0,Siaya,1.00,1.00,1.00,1.00
38,39.0,Taita/Taveta,1.00,1.00,1.00,1.00
39,40.0,Tana River,0.96,0.94,0.94,0.95
40,41.0,Tharaka-Nithi,1.00,0.99,0.98,0.99
41,42.0,Trans Nzoia,1.00,1.00,1.00,1.00
42,43.0,Turkana,1.01,1.02,1.03,1.02
43,44.0,Uasin Gishu,0.97,0.99,0.98,0.98
44,45.0,Vihiga,1.00,1.00,1.00,1.00
45,46.0,Wajir,0.95,1.42,1.21,1.18
46,47.0,West Pokot,1.05,1.04,1.07,1.05
47,NaN,Grand Total,0.96,0.97,0.99,0.97

In [56]:
# Getting Digital Devices

In [57]:
df_digital_devices=pd.read_csv("tabula_digital_devices_cleaned.csv")
df_digital_devices

,SN,County,number_of_pri_schools_by_2016,number_of_schools_w_complete_digital_devices,pct_installed
0,1.0,Baringo,635.0,633.0,99.69
1,2.0,Bomet,632.0,630.0,99.68
2,3.0,Bungoma,741.0,741.0,100.00
3,4.0,Busia,432.0,431.0,99.77
4,5.0,Elgeyo/Marakwet,369.0,369.0,100.00
5,6.0,Embu,381.0,381.0,100.00
6,7.0,Garissa,163.0,153.0,93.87
7,8.0,Homa Bay,875.0,875.0,100.00
8,9.0,Isiolo,116.0,95.0,81.90
9,10.0,Kajiado,395.0,394.0,99.75
10,11.0,Kakamega,880.0,879.0,99.89
11,12.0,Kericho,503.0,502.0,99.80
12,13.0,Kiambu,481.0,481.0,100.00
13,14.0,Kilifi,507.0,507.0,100.00
14,15.0,Kirinyaga,199.0,199.0,100.00
15,16.0,Kisii,697.0,696.0,99.86
16,17.0,Kisumu,613.0,613.0,100.00
17,18.0,Kitui,NaN,NaN,99.60
18,19.0,Kwale,364.0,362.0,99.45
19,20.0,Laikipia,292.0,289.0,98.97
20,21.0,Lamu,93.0,91.0,97.85
21,22.0,Machakos,837.0,835.0,99.76
22,23.0,Makueni,887.0,887.0,100.00
23,24.0,Mandera,198.0,198.0,100.00
24,25.0,Marsabit,182.0,154.0,84.62
25,26.0,Meru,714.0,712.0,99.72
26,27.0,Migori,601.0,601.0,100.00
27,28.0,Mombasa,96.0,94.0,97.92
28,29.0,Murang a,514.0,512.0,99.61
29,30.0,Nairobi,203.0,201.0,99.01
30,31.0,Nakuru,691.0,689.0,99.71
31,32.0,Nandi,709.0,709.0,100.00
32,33.0,Narok,616.0,615.0,99.84
33,34.0,Nyamira,407.0,407.0,100.00
34,35.0,Nyandarua,350.0,344.0,98.29
35,36.0,Nyeri,392.0,390.0,99.49
36,37.0,Samburu,146.0,112.0,76.71
37,38.0,Siaya,643.0,642.0,99.84
38,39.0,Taita/Taveta,194.0,194.0,100.00
39,40.0,Tana River,159.0,159.0,100.00
40,41.0,Tharaka-Nithi,413.0,411.0,99.52
41,42.0,Trans Nzoia,352.0,352.0,100.00
42,43.0,Turkana,358.0,354.0,98.88
43,44.0,Uasin Gishu,456.0,456.0,100.00
44,45.0,Vihiga,378.0,378.0,100.00
45,46.0,Wajir,211.0,211.0,100.00
46,47.0,West Pokot,498.0,498.0,100.00
47,NaN,Total,NaN,NaN,99.30

In [58]:
df_complete_digital_devices=pd.read_csv("tabula_complete_digital_devices_cleaned.csv")
df_complete_digital_devices

,SN,county,installed_learner_digi_devices,installed_learner_digi_devices.1,Installed_digi_content_server_and_wireless_routers,installed_projectors,installed_special_needs_edu_devices
0,1.0,Baringo,"19,283","1,266",633,633,29
1,2.0,Bomet,"27,609","1,260",630,630,NaN
2,3.0,Bungoma,"58,871","1,482",741,741,24
3,4.0,Busia,"31,567",864,432,432,17
4,5.0,Elgeyo/Marakwet,"13,964",738,369,369,NaN
5,6.0,Embu,"12,740",762,381,381,13
6,7.0,Garissa,"7,762",306,153,153,16
7,8.0,Homa Bay,"34,758","1,752",875,875,NaN
8,9.0,Isiolo,"4,048",190,95,95,4
9,10.0,Kajiado,"15,956",788,394,394,NaN
10,11.0,Kakamega,"66,404","1,760",880,880,93
11,12.0,Kericho,"23,783","1,004",502,502,66
12,13.0,Kiambu,"23,732",962,481,481,50
13,14.0,Kilifi,"33,245","1,014",507,507,NaN
14,15.0,Kirinyaga,"9,329",398,199,199,15
15,16.0,Kisii,"35,050","1,392",696,696,37
16,17.0,Kisumu,"30,716","1,226",613,613,110
17,18.0,Kitui,"42,732","2,466","1,233","1,233",NaN
18,19.0,Kwale,"22,570",724,362,362,NaN
19,20.0,Laikipia,"11,096",578,289,289,10
20,21.0,Lamu,"3,171",182,91,91,NaN
21,22.0,Machakos,"30,678","1,670",835,835,1
22,23.0,Makueni,"32,313","1,774",887,887,97
23,24.0,Mandera,"14,090",396,198,198,NaN
24,25.0,Marsabit,"7,846",308,154,154,25
25,26.0,Meru,"37,702","1,424",712,712,52
26,27.0,Migori,"32,733","1,202",601,601,NaN
27,28.0,Mombasa,"5,949",188,94,94,15
28,29.0,Murang a,"20,664",964,482,482,15
29,30.0,Nairobi,"16,495",402,201,201,99
30,31.0,Nakuru,"43,136","1,378",689,689,23
31,32.0,Nandi,"28,704","1,418",709,709,NaN
32,33.0,Narok,"34,349","1,230",615,615,NaN
33,34.0,Nyamira,"17,260",814,407,407,NaN
34,35.0,Nyandarua,"13,358",688,344,344,NaN
35,36.0,Nyeri,"11,847",780,389,389,NaN
36,37.0,Samburu,"6,451",224,112,112,NaN
37,38.0,Siaya,"31,739","1,284",642,642,51
38,39.0,Taita/Taveta,"7,025",388,194,194,71
39,40.0,Tana River,"8,060",318,159,159,60
40,41.0,Tharaka-Nithi,"12,001",822,411,411,NaN
41,42.0,Trans Nzoia,"27,502",704,352,352,21
42,43.0,Turkana,"29,664",708,354,354,52
43,44.0,Uasin Gishu,"20,319",912,456,456,NaN
44,45.0,Vihiga,"22,097",756,378,378,NaN
45,46.0,Wajir,"11,160",422,211,211,NaN
46,47.0,West Pokot,"27,870",996,498,498,7
47,NaN,Grand Total,"1,079,398","43,284","21,640","21,640","1,073"

# Reading merged education data but without y variable yet

Y variable is in the data I need to merge on county and subcounty name and also group by county before bringing it here

In [59]:
df_merging_edu_regressions_data=pd.read_csv("merging_edu_regressions_data.csv")
df_merging_edu_regressions_data

,County,equitable_share_2020_21,equitable_share_2021_22_plus,conditional_grant_2020_21,conditional_grant_2021_22_plus,annual_own_source_revenue_2020_21,annual_own_source_revenue_2021_22_plus,total_revenue_2020_21,total_revenue_2021_22_plus,number,county,number_of_schools,total_enrolment,average_school_size,place,population,land_area_km_sq,pop_density_per_km_sq,number_ptr,county_ptr,Enrolment,public_teachers,public_PTR,public_enrolment,private_teachers,private_PTR,overall_pri_ptr_no,overall_pri_ptr_county,overall_pri_ptr_enrolment,overall_pri_ptr_teachers,overall_pri_ptr_PTR,txtbk_no,txtbk_county,txtbk_grade_1,txtbk_grade_2,txtbk_grade_3,pupil_textbook_ratio,s_number_elec,county_elec,national_grid,solar,no_power,elec_table_total,complete_dig_SN,complete_dig_county,number_of_pri_schools_by_2016,number_of_schools_w_complete_digital_devices,pct_installed,detailed_digi_SN,detailed_digi_county,installed_learner_digi_devices,installed_learner_digi_devices.1,Installed_digi_content_server_and_wireless_routers,installed_projectors,installed_special_needs_edu_devices,nasmla_number,nasmla_county,mathematics_mean,mathematics_SE,english_mean,english_SE,kiswahili_mean,kiswahili_SE
0,Baringo,"5,095.65","6,369.39",752.87,681.62,205.2,258.55,"6,053.72","7,309.56",1.0,Baringo,841,"161,919",193,Baringo,"666,763","10,976.40",61,1.0,Baringo,"143,618","5,595",26,"18,301",883,21.0,1.0,Baringo,"161,919","6,478",25.0,1.0,Baringo,1.01,1.01,1.39,1.13,30.0,Baringo,566,183,51,800,1.0,Baringo,635.0,633.0,99.69,1.0,Baringo,"19,283","1,266",633,633,29,1.0,Baringo,500.5,56.9,499.3,65.1,493.6,61.7
1,Bomet,"5,507.10","6,691.10",832.35,806.48,183.01,300,"6,522.46","7,797.58",2.0,Bomet,968,"231,197",239,Bomet,"875,689","2,530.90",346,2.0,Bomet,"198,857","4,938",40,"32,340","2,792",12.0,2.0,Bomet,"231,197","7,730",30.0,2.0,Bomet,0.99,0.91,1.00,0.96,36.0,Bomet,666,1,24,691,2.0,Bomet,632.0,630.0,99.68,2.0,Bomet,"27,609","1,260",630,630,NaN,2.0,Bomet,485.2,27.8,462.2,21.5,447.3,24.2
2,Bungoma,"8,893.65","10,659.44",876.59,696.07,395.12,500,"10,165.36","11,855.51",3.0,Bungoma,"1,115","500,157",449,Bungoma,"1,670,570","3,023.90",552,3.0,Bungoma,"449,148","8,996",50,"51,009","2,277",22.0,3.0,Bungoma,"500,157","11,273",44.0,3.0,Bungoma,0.89,0.89,0.90,0.89,39.0,Bungoma,749,15,23,787,3.0,Bungoma,741.0,741.0,100.00,3.0,Bungoma,"58,871","1,482",741,741,24,3.0,Bungoma,433.9,10.3,434.2,12.6,462.6,15.6
3,Busia,"6,013.50","7,172.16",845.88,600.43,322.56,499.8,"7,181.93","8,272.39",4.0,Busia,568,"250,860",442,Busia,"893,681","1,696.30",527,4.0,Busia,"231,765","4,949",47,"19,095",962,20.0,4.0,Busia,"250,860","5,911",42.0,4.0,Busia,0.82,0.89,0.84,0.85,40.0,Busia,440,4,1,445,4.0,Busia,432.0,431.0,99.77,4.0,Busia,"31,567",864,432,432,17,4.0,Busia,465.9,15.6,475.3,22.7,493.1,22.8
4,Elgeyo Marakwet,"3,861.30","4,606.53",735.21,855.35,69.08,166.1,"4,665.58","5,627.98",5.0,Elgeyo Marakwet,467,"123,818",265,Elgeyo/Marakwet,"454,480","3,032.00",150,5.0,Elgeyo Marakwet,"109,641","3,820",29,"14,177",784,18.0,5.0,Elgeyo Marakwet,"123,818","4,604",27.0,5.0,Elgeyo/Marakwet,0.99,1.00,1.00,1.00,28.0,Elgeyo/Marakwet,371,19,9,399,5.0,Elgeyo/Marakwet,369.0,369.0,100.00,5.0,Elgeyo/Marakwet,"13,964",738,369,369,NaN,5.0,Elgeyo Marakwet,488.2,14.9,461.0,17.1,495.0,11.9
5,Embu,"4,304.40","5,125.24",998.06,607.12,375.33,900,"5,677.78","6,632.36",6.0,Embu,519,"124,774",240,Embu,"608,599","2,820.70",216,6.0,Embu,"101,425","3,694",27,"23,349","1,120",21.0,6.0,Embu,"124,774","4,814",26.0,6.0,Embu,0.50,0.50,0.50,0.50,14.0,Embu,370,11,0,381,6.0,Embu,381.0,381.0,100.00,6.0,Embu,"12,740",762,381,381,13,6.0,Embu,473.9,14.5,474.3,16.6,461.8,15.2
6,Garissa,"7,026.30","7,927.21","1,651.83","1,241.03",103.53,150,"8,781.65","9,318.24",7.0,Garissa,304,"77,465",255,Garissa,"841,353","44,736.00",19,7.0,Garissa,"51,895",926,56,"25,570",785,33.0,7.0,Garissa,"77,465","1,711",45.0,7.0,Garissa,0.98,1.01,1.01,1.00,7.0,Garissa,69,176,3,248,7.0,Garissa,163.0,153.0,93.87,7.0,Garissa,"7,762",306,153,153,16,7.0,Garissa,398.2,67.2,363.2,67.6,351.8,55.6
7,Homa Bay,"6,741.45","7,805.35",704.95,607.76,120.41,143.81,"7,566.81","8,556.93",8.0,Homa Bay,"1,042","313,666",301,Homa Bay,"1,131,950","3,152.50",359,8.0,Homa Bay,"279,599","7,226",39,"34,067","1,351",25.0,8.0,Homa Bay,"313,666","8,577",37.0,8.0,Homa Bay,1.00,1.00,1.00,1.00,43.0,Homa Bay,763,22,0,785,8.0,Homa Bay,875.0,875.0,100.00,8.0,Homa Bay,"34,758","1,752",875,875,NaN,8.0,Homa Bay,495.0,23.3,515.3,14.9,473.2,6.1
8,Isiolo,"4,241.10","4,710.39",942.48,813.49,57.18,113.69,"5,240.76","5,637.57",9.0,Isiolo,163,"35,221",216,Isiolo,"268,002","25,350.60",11,9.0,Isiolo,"28,784","1,002",29,"6,437",290,22.0,9.0,Isiolo,"35,221","1,292",27.0,9.0,Isiolo,1.01,0.98,0.97,0.99,11.0,Isiolo,41,69,0,110,9.0,Isiolo,116.0,95.0,81.90,9.0,Isiolo,"4,048",190,95,95,4,9.0,Isiolo,525.9,24.1,537.4,30.6,547.0,24.6
9,Kajiado,"6,424.95","7,954.77",927.74,729.5,862.29,"1,605.36","8,214.97","10,289.63",10.0,Kajiado,792,"191,184",241,Kajiado,"1,117,840","21,871.10",51,10.0,Kajiado,"138,817","3,611",38,"52,367","2,821",19.0,10.0,Kajiado,"191,184","6,432",30.0,10.0,Kajiado,0.98,0.99,0.99,0.99,34.0,Kajiado,257,249,16,522,10.0,Kajiado,395.0,394.0,99.75,10.0,Kajiado,"15,956",788,394,394,NaN,10.0,Kajiado,489.9,3.7,465.5,10.9,519.4,19.0
10,Kakamega,"10,412.85","12,389.41","1,499.98",844.39,"1,118.24","2,113.00","13,031.06","15,346.80",11.0,Kakamega,"1,120","555,021",496,Kakamega,"1,867,579","3,020.00",618,11.0,Kakamega,"519,857","10,664",49,"35,164","1,825",19.0,11.0,Kakamega,"555,021","12,489",44.0,11.0,Kakamega,0.97,0.98,0.99,0.98,37.0,Kakamega,887,9,13,909,11.0,Kakamega,880.0,879.0,99.89,11.0,Kakamega,"66,404","1,760",880,880,93,11.0,Kakamega,469.0,18.1,485.1,20.9,503.0,13.8
11,Kericho,"5,380.50","6,430.66",780.03,722.35,595.98,494.05,"6,756.51","7,647.07",12.0,Kericho,827,"222,619",269,Kericho,"901,777","2,436.10",370,12.0,Kericho,"178,579","5,494",33,"44,040","2,154",20.0,12.0,Kericho,"222,619","7,648",29.0,12.0,Kericho,0.96,0.97,0.97,0.97,35.0,Kericho,497,1,0,498,12.0,Kericho,503.0,502.0,99.80,12.0,Kericho,"23,783","1,004",502,502,66,12.0,Kericho,457.1,16.4,449.4,20.1,449.5,14.5
12,Kiambu,"9,431.70","11,717.53","1,418.16",742.54,"2,425.25","3,883.30","13,275.10","16,343.37",13.0,Kiambu,899,"347,510",387,Kiambu,"2,417,735","2,538.60",952,13.0,Kiambu,"227,580","6,129",37,"119,930","4,227",28.0,13.0,Kiambu,"347,510","10,356",34.0,13.0,Kiambu,0.94,0.98,0.96,0.96,22.0,Kiambu,461,0,1,462,13.0,Kiambu,481.0,481.0,100.00,13.0,Kiambu,"23,732",962,481,481,50,13.0,Kiambu,554.4,39.2,594.7,26.0,562.0,20.0
13,Kilifi,"10,444.50","11,641.59","1,807.24","2,307.31",833.85,925,"13,085.59","14,873.90",14.0,Kilifi,842,"353,254",420,Kilifi,"1,453,787","12,539.70",116,14.0,Kilifi,"310,881","5,869",53,"42,373","2,063",21.0,14.0,Kilifi,"353,254","7,932",45.0,14.0,Kilifi,0.93,0.94,0.96,0.94,3.0,Kilifi,439,101,10,550,14.0,Kilifi,507.0,507.0,100.00,14.0,Kilifi,"33,245","1,014",507,507,NaN,14.0,Kilifi,559.7,12.8,533.4,22.6,581.5,9.5
14,Kirinyaga,"4,241.10","5,196.18",592.59,726.94,346.52,485,"5,180.21","6,408.11",15.0,Kirinyaga,355,"108,014",304,Kirinyaga,"610,411","1,478.30",413,15.0,Kirinyaga,"76,840","2,535",30,"31,174","1,824",17.0,15.0,Kirinyaga,"108,014","4,359",25.0,15.0,Kirinyaga,0.91,0.91,0.92,0.91,20.0,Kirinyaga,197,1,0,198,15.0,Kirinyaga,199.0,199.0,100.00,15.0,Kirinyaga,"9,329",398,199,199,15,15.0,Kirinyaga,493.6,15.3,508.6,11.6,496.4,4.3
15,Kisii,"7,785.90","8,894.27","1,244.00",728.94,403,700,"9,432.90","10,323.22",16.0,Kisii,"1,107","309,794",280,Kisii,"1,266,860","1,323.00",958,16.0,Kisii,"255,616","7,344",35,"54,178","2,345",23.0,16.0,Kisii,"309,794","9,689",32.0,16.0,Kisii,1.01,1.01,1.03,1.01,45.0,Kisii,694,1,3,698,16.0,Kisii,697.0,696.0,99.86,16.0,Kisii,"35,050","1,392",696,696,37,16.0,Kisii,478.8,18.7,455.0,16.4,473.0,22.4
16,Kisumu,"6,836.40","8,026.14","1,197.23",922.93,822.3,"1,984.00","8,855.93","10,933.07",17.0,Kisumu,821,"287,164",350,Kisumu,"1,155,574","2,085.40",554,17.0,Kisumu,"254,011","6,174",41,"33,153","1,554",21.0,17.0,Kisumu,"287,164","7,728",37.0,17.0,Kisumu,0.91,0.92,0.93,0.92,42.0,Kisumu,615,0,0,615,17.0,Kisumu,613.0,613.0,100.00,17.0,Kisumu,"30,716","1,226",613,613,110,17.0,Kisumu,464.8,24.0,484.0,27.4,459.6,28.6
17,Kitui,"8,830.35","10,393.97",833.88,658.52,326.45,850,"9,990.68","11,902.49",18.0,Kitui,"1,620","335,078",207,Kitui,"1,136,187","30,429.50",37,18.0,Kitui,"318,630","10,142",31,"16,448","1,126",15.0,18.0,Kitui,"335,078","11,268",30.0,18.0,Kitui,0.98,0.98,0.98,0.98,15.0,Kitui,885,484,45,"1,414",18.0,Kitui,NaN,NaN,99.60,18.0,Kitui,"42,732","2,466","1,233","1,233",NaN,18.0,Kitui,482.6,17.6,448.9,15.1,467.7,12.7
18,Kwale,"7,785.90","8,265.59","1,164.15","1,237.99",250.09,315,"9,200.14","9,818.58",19.0,Kwale,532,"203,634",383,Kwale,"866,820","8,267.10",105,19.0,Kwale,"188,975","3,797",50,"14,659",947,15.0,19.0,Kwale,"203,634","4,744",43.0,19.0,Kwale,0.98,0.99,1.00,0.99,2.0,Kwale,349,51,21,421,19.0,Kwale,364.0,362.0,99.45,19.0,Kwale,"22,570",724,362,362,NaN,19.0,Kwale,520.3,22.0,508.6,31.7,564.6,24.1
19,Laikipia,"4,177.80","5,136.27",715.83,748.11,840.4,"1,006.00","5,734.03","6,890.37",20.0,Laikipia,354,"97,710",276,Laikipia,"518,560","9,532.20",54,20.0,Laikipia,"85,592","2,719",31,"12,118",775,16.0,20.0,Laikipia,"97,710","3,494",28.0,20.0,Laikipia,0.95,0.97,0.98,0.97,31.0,Laikipia,245,53,2,300,20.0,Laikipia,292.0,289.0,98.97,20.0,Laikipia,"11,096",578,289,289,10,20.0,Laikipia,484.3,27.8,482.5,26.9,491.7,32.3
20,Lamu,"2,595.30","3,105.65",770.2,579.12,108.43,120,"3,473.93","3,804.77",21.0,Lamu,137,"32,359",236,Lamu,"143,920","6,253.30",23,21.0,Lamu,"28,387",942,30,"3,972",343,12.0,21.0,Lamu,"32,359","1,285",25.0,21.0,Lamu,0.99,0.97,0.99,0.98,5.0,Lamu,58,50,0,108,21.0,Lamu,93.0,91.0,97.85,21.0,Lamu,"3,171",182,91,91,NaN,21.0,Lamu,613.0,15.3,598.5,18.2,611.0,24.4
21,Machakos,"7,754.25","9,162.30","1,248.05",717.13,"1,296.36","1,682.89","10,298.67","11,562.33",22.0,Machakos,"1,202","284,390",237,Machakos,"1,421,932","6,042.70",235,22.0,Machakos,"238,562","8,179",29,"45,828","2,381",19.0,22.0,Machakos,"284,390","10,560",27.0,22.0,Machakos,1.03,1.02,1.03,1.03,16.0,Machakos,818,28,8,854,22.0,Machakos,837.0,835.0,99.76,22.0,Machakos,"30,678","1,670",835,835,1,22.0,Machakos,532.8,23.2,532.8,24.0,521.5,13.6
22,Makueni,"7,406.10","8,132.78",825.71,753.51,527.53,475,"8,759.33","9,361.30",23.0,Makueni,"1,041","255,093",245,Makueni,"987,653","8,169.80",121,23.0,Makueni,"238,555","8,176",29,"16,538","1,165",14.0,23.0,Makueni,"255,093","9,341",27.0,23.0,Makueni,0.98,0.98,0.99,0.98,17.0,Makueni,775,115,15,905,23.0,Makueni,887.0,887.0,100.00,23.0,Makueni,"32,313","1,774",887,887,97,23.0,Makueni,523.6,18.8,512.4,25.1,510.9,15.4
23,Mandera,"10,222.95","11,190.38","1,158.45",760.72,143.31,200.04,"11,524.71","12,151.14",24.0,Mandera,333,"102,503",308,Mandera,"867,457","25,939.80",33,24.0,Mandera,"91,053","1,239",73,"11,450",464,25.0,24.0,Mandera,"102,503","1,703",60.0,24.0,Mandera,0.81,0.87,1.39,0.94,9.0,Mandera,14,206,62,282,24.0,Mandera,198.0,198.0,100.00,24.0,Mandera,"14,090",396,198,198,NaN,24.0,Mandera,473.0,22.6,454.0,8.8,455.7,24.1
24,Marsabit,"6,773.10","7,277.00",970.97,906.61,110.37,170,"7,854.44","8,353.62",25.0,Marsabit,247,"64,787",262,Marsabit,"459,785","70,944.10",6,25.0,Marsabit,"50,937","1,245",41,"13,850",566,24.0,25.0,Marsabit,"64,787","1,811",36.0,25.0,Marsabit,0.80,0.82,0.81,0.81,10.0,Marsabit,48,125,9,182,25.0,Marsabit,182.0,154.0,84.62,25.0,Marsabit,"7,846",308,154,154,25,25.0,Marsabit,512.7,34.2,479.7,9.4,481.9,7.8
25,Meru,"8,039.10","9,493.86","1,157.90",931.64,435.93,575,"9,632.93","11,000.50",26.0,Meru,"1,173","317,333",271,Meru,"1,545,714","7,006.30",221,26.0,Meru,"251,141","8,610",29,"66,192","3,500",19.0,26.0,Meru,"317,333","12,110",26.0,26.0,Meru,1.02,1.01,1.04,1.02,12.0,Meru,709,7,11,727,26.0,Meru,714.0,712.0,99.72,26.0,Meru,"37,702","1,424",712,712,52,26.0,Meru,478.9,20.1,466.7,20.6,467.7,19.7
26,Migori,"6,773.10","8,005.02",727.2,544.39,288.54,280,"7,788.84","8,829.41",27.0,Migori,931,"314,160",337,Migori,"1,116,436","2,613.50",427,27.0,Migori,"273,679","6,362",43,"3,775","1,872",2.0,27.0,Migori,"277,454","8,234",34.0,27.0,Migori,0.93,0.93,0.95,0.94,44.0,Migori,617,2,6,625,27.0,Migori,601.0,601.0,100.00,27.0,Migori,"32,733","1,202",601,601,NaN,27.0,Migori,447.3,25.4,465.8,26.1,449.2,27.0
27,Mombasa,"7,057.95","7,567.35","2,076.40","1,467.20","3,314.53","4,966.33","12,448.88","14,000.88",28.0,Mombasa,459,"155,337",338,Mombasa,"1,208,333","5,495","5,495",28.0,Mombasa,"75,070","1,538",49,"80,267","2,956",27.0,28.0,Mombasa,"155,337","4,494",35.0,28.0,Mombasa,1.02,1.04,1.04,1.03,1.0,Mombasa,93,0,2,95,28.0,Mombasa,96.0,94.0,97.92,28.0,Mombasa,"5,949",188,94,94,15,28.0,Mombasa,595.9,37.9,616.5,44.0,585.7,7.6
28,Murang’a,"6,298.35","7,180.16",865.83,608.23,627.16,"1,500.00","7,791.35","9,288.38",29.0,Murang'a,681,"206,420",303,Murang,"1,056,640","2,524.20",419,29.0,Murang'a,"176,514","5,679",31,"29,906","1,533",20.0,29.0,Murang'a,"206,420","7,212",29.0,29.0,Murang'a,1.06,1.07,1.06,1.06,21.0,Murang a,513,1,0,514,29.0,Murang a,514.0,512.0,99.61,29.0,Murang a,"20,664",964,482,482,15,29.0,Murang'a,528.6,26.4,515.1,22.0,503.6,26.5
29,Nairobi City,"15,919.95","19,249.68",869.61,"1,020.09","9,958.04","19,360.74","26,747.60","39,630.51",30.0,Nairobi,"1,105","414,045",375,Nairobi City,"4,397,073","6,247","6,247",30.0,Nairobi,"230,008","4,097",56,"184,037",NaN,NaN,30.0,Nairobi,"414,045",NaN,NaN,30.0,Nairobi,0.96,1.01,0.95,0.97,47.0,Nairobi,300,5,2,307,30.0,Nairobi,203.0,201.0,99.01,30.0,Nairobi,"16,495",402,201,201,99,30.0,Nairobi,632.0,22.4,661.3,23.5,588.3,19.1
30,Nakuru,"10,476.15","13,026.12","1,228.94",972.58,"1,628.82","1,712.13","13,333.91","15,710.83",31.0,Nakuru,"1,136","478,057",421,Nakuru,"2,162,202","7,462.40",290,31.0,Nakuru,"376,740","9,230",41,"101,317","4,172",24.0,31.0,Nakuru,"478,057","13,402",36.0,31.0,Nakuru,0.97,0.98,0.98,0.98,32.0,Nakuru,680,25,22,727,31.0,Nakuru,691.0,689.0,99.71,31.0,Nakuru,"43,136","1,378",689,689,23,31.0,Nakuru,515.5,17.8,532.1,24.2,528.9,16.2
31,Nandi,"5,348.85","6,990.87",772.17,678.1,261.04,387.11,"6,382.06","8,056.07",32.0,Nandi,900,"231,836",258,Nandi,"885,711","2,855.80",310,32.0,Nandi,"205,865","6,161",33,"25,971","1,582",16.0,32.0,Nandi,"231,836","7,743",30.0,32.0,Nandi,0.82,0.82,0.82,0.82,29.0,Nandi,718,0,13,731,32.0,Nandi,709.0,709.0,100.00,32.0,Nandi,"28,704","1,418",709,709,NaN,32.0,Nandi,491.8,27.5,486.6,17.5,503.2,19.3
32,Narok,"8,039.10","8,844.79",785.35,799.26,618.99,"2,374.55","9,443.44","12,018.60",33.0,Narok,940,"297,685",317,Narok,"1,157,873","17,950.30",65,33.0,Narok,"263,224","5,616",47,"34,461","1,252",28.0,33.0,Narok,"297,685","6,868",43.0,33.0,Narok,0.93,0.94,0.92,0.93,33.0,Narok,143,518,53,714,33.0,Narok,616.0,615.0,99.84,33.0,Narok,"34,349","1,230",615,615,NaN,33.0,Narok,481.9,29.0,472.2,38.8,480.2,40.6
33,Nyamira,"4,810.80","5,135.34",900.98,716.67,162.86,400,"5,874.65","6,252.01",34.0,Nyamira,576,"162,596",282,Nyamira,"605,576",NaN,675,34.0,Nyamira,"125,642","4,018",31,"36,954","1,581",23.0,34.0,Nyamira,"162,596","5,599",29.0,34.0,Nyamira,0.95,0.97,0.96,0.96,46.0,Nyamira,407,0,0,407,34.0,Nyamira,407.0,407.0,100.00,34.0,Nyamira,"17,260",814,407,407,NaN,34.0,Nyamira,520.6,36.5,497.5,28.5,515.8,40.2
34,Nyandarua,"4,874.10","5,670.44",856.79,912.19,408.72,590,"6,139.61","7,172.63",35.0,Nyandarua,488,"138,635",284,Nyandarua,"638,289","3,285.70",194,35.0,Nyandarua,"116,354","3,778",31,"22,281","1,095",20.0,35.0,Nyandarua,"138,635","4,873",28.0,35.0,Nyandarua,1.00,1.01,1.01,1.01,18.0,Nyandarua,349,1,0,350,35.0,Nyandarua,350.0,344.0,98.29,35.0,Nyandarua,"13,358",688,344,344,NaN,35.0,Nyandarua,540.6,10.6,552.4,19.1,536.7,18.2
35,Nyeri,"5,412.15","6,228.73","1,167.74",833.56,886.89,"1,000.00","7,466.78","8,062.29",36.0,Nyeri,552,"124,881",226,Nyeri,"759,164","3,325.00",228,36.0,Nyeri,"101,408","3,719",27,"23,473","1,262",19.0,36.0,Nyeri,"124,881","4,981",25.0,36.0,Nyeri,0.98,0.99,0.98,0.98,19.0,Nyeri,391,0,0,391,36.0,Nyeri,392.0,390.0,99.49,36.0,Nyeri,"11,847",780,389,389,NaN,36.0,Nyeri,515.7,47.2,546.8,55.6,516.4,40.4
36,Samburu,"4,620.90","5,371.35",602.39,624.24,70.38,100,"5,293.67","6,095.58",37.0,Samburu,188,"56,468",300,Samburu,"310,327","21,065.10",15,37.0,Samburu,"53,161","1,313",40,"3,307",116,29.0,37.0,Samburu,"56,468","1,429",40.0,37.0,Samburu,0.99,0.99,0.99,0.99,25.0,Samburu,40,115,8,163,37.0,Samburu,146.0,112.0,76.71,37.0,Samburu,"6,451",224,112,112,NaN,37.0,Samburu,421.2,5.1,397.6,8.0,406.0,8.7
37,Siaya,"5,791.95","6,966.51",855.19,693.45,332.88,445.45,"6,980.02","8,105.40",38.0,Siaya,851,"269,526",317,Siaya,"993,183","2,529.80",393,38.0,Siaya,"253,492","6,087",42,"16,034",933,17.0,38.0,Siaya,"269,526","7,020",38.0,38.0,Siaya,1.00,1.00,1.00,1.00,41.0,Siaya,647,9,3,659,38.0,Siaya,643.0,642.0,99.84,38.0,Siaya,"31,739","1,284",642,642,51,38.0,Siaya,431.8,17.8,458.5,18.1,429.0,22.4
38,Taita/Taveta,"4,241.10","4,842.17","1,120.24","1,532.98",302.01,376,"5,663.35","6,751.15",39.0,Taita Taveta,285,"67,177",236,Taita/Taveta,"340,671","17,152.00",20,39.0,Taita Taveta,"60,205","1,990",30,"6,972",565,12.0,39.0,Taita Taveta,"67,177","2,555",26.0,39.0,Taita/Taveta,1.00,1.00,1.00,1.00,6.0,Taita/Taveta,200,10,0,210,39.0,Taita/Taveta,194.0,194.0,100.00,39.0,Taita/Taveta,"7,025",388,194,194,71,39.0,Taita Taveta,488.4,16.6,499.2,19.4,544.4,22.9
39,Tana River,"5,855.25","6,528.41",919.77,696.86,83.08,79.86,"6,858.10","7,305.13",40.0,Tana River,213,"59,674",280,Tana River,"315,943","37,950.50",8,40.0,Tana River,"53,083","1,375",39,"6,591",262,25.0,40.0,Tana River,"59,674","1,637",36.0,40.0,Tana River,0.96,0.94,0.94,0.95,4.0,Tana River,47,121,10,178,40.0,Tana River,159.0,159.0,100.00,40.0,Tana River,"8,060",318,159,159,60,40.0,Tana River,476.4,40.3,487.9,42.4,539.8,27.8
40,Tharaka -Nithi,"3,924.60","4,214.20",855.91,829.59,254.75,350,"5,035.26","5,393.79",41.0,T/ Nithi,538,"98,983",184,Tharaka,"393,177","2,564.40",153,41.0,Tharaka Nithi,"88,591","3,852",23,"10,392",776,13.0,41.0,Tharaka Nithi,"98,983","4,628",21.0,41.0,Tharaka-Nithi,1.00,0.99,0.98,0.99,13.0,Tharaka-Nithi,353,71,2,426,41.0,Tharaka-Nithi,413.0,411.0,99.52,41.0,Tharaka-Nithi,"12,001",822,411,411,NaN,41.0,Tharaka Nithi,558.4,8.4,579.6,9.8,566.5,15.0
41,Trans Nzoia,"5,760.30","7,186.16",733.14,724.98,340.45,529.5,"6,833.89","8,440.64",42.0,Trans Nzoia,621,"274,605",442,Trans Nzoia,"990,341","2,495.20",397,42.0,Trans Nzoia,"223,571","4,832",46,"51,034","2,461",21.0,42.0,Trans Nzoia,"274,605","7,293",38.0,42.0,Trans Nzoia,1.00,1.00,1.00,1.00,26.0,Trans Nzoia,365,2,10,377,42.0,Trans Nzoia,352.0,352.0,100.00,42.0,Trans Nzoia,"27,502",704,352,352,21,42.0,Trans Nzoia,486.6,33.3,480.3,32.9,498.7,22.9
42,Turkana,"10,539.45","12,609.31","1,295.35",939.55,209.83,180,"12,044.63","13,728.85",43.0,Turkana,469,"162,543",347,Turkana,"926,976","68,232.90",14,43.0,Turkana,"151,085","1,882",80,"11,458",461,25.0,43.0,Turkana,"162,543","2,343",69.0,43.0,Turkana,1.01,1.02,1.03,1.02,23.0,Turkana,41,379,28,448,43.0,Turkana,358.0,354.0,98.88,43.0,Turkana,"29,664",708,354,354,52,43.0,Turkana,467.4,20.2,430.3,12.3,425.8,42.0
43,Uasin Gishu,"6,330.00","8,068.86",877.39,762.15,"1,105.68","1,000.00","8,313.07","9,831.01",44.0,Uasin Gishu,845,"231,196",274,Uasin Gishu,"1,163,186","3,392.20",343,44.0,Uasin Gishu,"173,914","5,227",33,"57,282","2,986",19.0,44.0,Uasin Gishu,"231,196","8,213",28.0,44.0,Uasin Gishu,0.97,0.99,0.98,0.98,27.0,Uasin Gishu,460,0,14,474,44.0,Uasin Gishu,456.0,456.0,100.00,44.0,Uasin Gishu,"20,319",912,456,456,NaN,44.0,Uasin Gishu,527.1,28.1,524.6,33.3,537.6,23.8
44,Vihiga,"4,652.55","5,067.36",737.84,570.61,169.11,232.7,"5,559.50","5,870.67",45.0,Vihiga,452,"169,354",375,Vihiga,"590,013","1,047","1,047",45.0,Vihiga,"158,689","4,180",38,"10,665",613,17.0,45.0,Vihiga,"169,354","4,793",35.0,45.0,Vihiga,1.00,1.00,1.00,1.00,38.0,Vihiga,380,0,4,384,45.0,Vihiga,378.0,378.0,100.00,45.0,Vihiga,"22,097",756,378,378,NaN,45.0,Vihiga,531.4,31.6,558.6,31.9,552.2,36.0

# To merge education level data, that is majorly the y type data to education regressions data, that is majorly the x variables, I need to group by county
In order to group by counties, I need to add county names to education level data and then group by counties to join education regressions x variables data

# Getting Counties and subcounties list

In [60]:
df_counties_subcounties= pd.read_json('kenyan_counties.json')

df_counties_subcounties=df_counties_subcounties.explode('sub_counties')
df_counties_subcounties

          name     capital  code     sub_counties
0      Baringo    Kabarnet    30  Baringo central
0      Baringo    Kabarnet    30    Baringo north
0      Baringo    Kabarnet    30    Baringo south
0      Baringo    Kabarnet    30    Eldama ravine
0      Baringo    Kabarnet    30          Mogotio
..         ...         ...   ...              ...
45       Wajir       Wajir     8       Wajir West
46  West Pokot  Kapenguria    24    Central Pokot
46  West Pokot  Kapenguria    24      North Pokot
46  West Pokot  Kapenguria    24      Pokot South
46  West Pokot  Kapenguria    24       West Pokot

[299 rows x 4 columns]

In [61]:
# # from flatten_json import flatten

# county_entry_flat_list=[]
# for county_entry in data_counties_subcounties:
#     flat_json = flatten(county_entry)
# #     print(flat_json)
#     county_entry_flat_list.append(flat_json)

# county_entry_flat_list

In [62]:
# !pip install flatten_json

## I now have three datasets to work with:

1) df_merging_edu_regressions_data (x variables)
2) df_education_level_main
3) df_merging_education_level_data_gender

# Start with adding county info to gender data
df_counties_subcounties to df_merging_education_level_data_gender <br />
on subcounty

In [63]:
df_merging_education_level_data_gender['male_Place_county_or_subcounty_lower']=df_merging_education_level_data_gender['male_Place_county_or_subcounty'].str.lower()
df_counties_subcounties['sub_counties_lower']=df_counties_subcounties['sub_counties'].str.lower()
df_gender_plus_county=pd.merge(df_merging_education_level_data_gender,df_counties_subcounties, left_on='male_Place_county_or_subcounty_lower', right_on='sub_counties_lower', how='outer')

df_gender_plus_county.head(50)

,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,Unnamed: 38,intersex_Place_county_or_subcounty,intersex_total_and_gender,intersex_number,intersex_at_school_or_learning_institution_number_and_percent,intersex_after_completion_number_and_percent,intersex_before_completion_number_and_percent,intersex_never_been_to_school_or_learning_institution_number_and_percent,intersex_dont_know_number,intersex_dont_know_number_percent,intersex_not_stated_number,intersex_at_school_or_learning_institution_number,intersex_at_school_or_learning_institution_pct,intersex_after_completion_number,intersex_after_completion_pct,intersex_before_completion_number,intersex_before_completion_pct,intersex_never_been_to_school_or_learning_institution_number,intersex_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower,name,capital,code,sub_counties,sub_counties_lower
0,1.0,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,1.0,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,3.0,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28.0,2.2,5.0,435.0,33.5,315.0,24.3,246.0,19.0,269.0,20.7,kenya,NaN,NaN,NaN,NaN,NaN
1,5.0,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,5.0,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mombasa,NaN,NaN,NaN,NaN,NaN
2,8.0,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,8.0,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,changamwe,Mombasa,Mombasa City,1.0,Changamwe,changamwe
3,11.0,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,11.0,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jomvu,Mombasa,Mombasa City,1.0,Jomvu,jomvu
4,14.0,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,14.0,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kisauni,Mombasa,Mombasa City,1.0,Kisauni,kisauni
5,17.0,LIKONI,Male,"115,784","39,336 34.0","49,230 42.5","16,522 14.3","9,784 8.5",897,0.8,15,"39,336",34,"49,230",42.5,"16,522",14.3,"9,784",8.5,17.0,LIKONI,Male,"115,784","39,336 34.0","49,230 42.5","16,522 14.3","9,784 8.5",897,0.8,15,"39,336",34,"49,230",42.5,"16,522",14.3,"9,784",8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,likoni,Mombasa,Mombasa City,1.0,Likoni,likoni
6,20.0,MVITA,Male,"66,589","23,515 35.3","27,476 41.3","8,307 12.5","6,515 9.8",736,1.1,40,"23,515",35.3,"27,476",41.3,"8,307",12.5,"6,515",9.8,20.0,MVITA,Male,"66,589","23,515 35.3","27,476 41.3","8,307 12.5","6,515 9.8",736,1.1,40,"23,515",35.3,"27,476",41.3,"8,307",12.5,"6,515",9.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mvita,Mombasa,Mombasa City,1.0,Mvita,mvita
7,23.0,NYALI,Male,"99,637","33,001 33.1","46,124 46.3","13,656 13.7","5,806 5.8","1,026",1,24,"33,001",33.1,"46,124",46.3,"13,656",13.7,"5,806",5.8,23.0,NYALI,Male,"99,637","33,001 33.1","46,124 46.3","13,656 13.7","5,806 5.8","1,026",1,24,"33,001",33.1,"46,124",46.3,"13,656",13.7,"5,806",5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nyali,Mombasa,Mombasa City,1.0,Nyali,nyali
8,26.0,KWALE,Male,"382,538","171,696 44.9","83,012 21.7","49,352 12.9","75,281 19.7","3,108",0.8,89,"171,696",44.9,"83,012",21.7,"49,352",12.9,"75,281",19.7,26.0,KWALE,Male,"382,538","171,696 44.9","83,012 21.7","49,352 12.9","75,281 19.7","3,108",0.8,89,"171,696",44.9,"83,012",21.7,"49,352",12.9,"75,281",19.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kwale,NaN,NaN,NaN,NaN,NaN
9,29.0,KINANGO,Male,"40,445","20,011 49.5","5,412 13.4","5,040 12.5","9,783 24.2",192,0.5,7,"20,011",49.5,"5,412",13.4,"5,040",12.5,"9,783",24.2,29.0,KINANGO,Male,"40,445","20,011 49.5","5,412 13.4","5,040 12.5","9,783 24.2",192,0.5,7,"20,011",49.5,"5,412",13.4,"5,040",12.5,"9,783",24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kinango,Kwale,Kwale,2.0,Kinango,kinango
10,32.0,LUNGA LUNGA,Male,"87,893","39,663 45.1","12,198 13.9","12,070 13.7","22,798 25.9","1,158",1.3,6,"39,663",45.1,"12,198",13.9,"12,070",13.7,"22,798",25.9,32.0,LUNGA LUNGA,Male,"87,893","39,663 45.1","12,198 13.9","12,070 13.7","22,798 25.9","1,158",1.3,6,"39,663",45.1,"12,198",13.9,"12,070",13.7,"22,798",25.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lunga lunga,NaN,NaN,NaN,NaN,NaN
11,35.0,MATUGA,Male,"87,377","39,476 45.2","21,744 24.9","11,056 12.7","14,610 16.7",469,0.5,22,"39,476",45.2,"21,744",24.9,"11,056",12.7,"14,610",16.7,35.0,MATUGA,Male,"87,377","39,476 45.2","21,744 24.9","11,056 12.7","14,610 16.7",469,0.5,22,"39,476",45.2,"21,744",24.9,"11,056",12.7,"14,610",16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matuga,NaN,NaN,NaN,NaN,NaN
12,38.0,MSAMBWENI,Male,"80,181","30,868 38.5","28,037 35.0","11,099 13.8","9,381 11.7",777,1,19,"30,868",38.5,"28,037",35.0,"11,099",13.8,"9,381",11.7,38.0,MSAMBWENI,Male,"80,181","30,868 38.5","28,037 35.0","11,099 13.8","9,381 11.7",777,1,19,"30,868",38.5,"28,037",35.0,"11,099",13.8,"9,381",11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,msambweni,Kwale,Kwale,2.0,Msambweni,msambweni
13,41.0,SAMBURU,Male,"86,642","41,678 48.1","15,621 18.0","10,087 11.6","18,709 21.6",512,0.6,35,"41,678",48.1,"15,621",18.0,"10,087",11.6,"18,709",21.6,41.0,SAMBURU,Male,"86,642","41,678 48.1","15,621 18.0","10,087 11.6","18,709 21.6",512,0.6,35,"41,678",48.1,"15,621",18.0,"10,087",11.6,"18,709",21.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,samburu,NaN,NaN,NaN,NaN,NaN
14,617.0,SAMBURU,Male,"141,072","46,092 32.7","12,778 9.1","6,193 4.4","74,619 52.9","1,378",1,12,"46,092",32.7,"12,778",9.1,"6,193",4.4,"74,619",52.9,617.0,SAMBURU,Male,"141,072","46,092 32.7","12,778 9.1","6,193 4.4","74,619 52.9","1,378",1,12,"46,092",32.7,"12,778",9.1,"6,193",4.4,"74,619",52.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,samburu,NaN,NaN,NaN,NaN,NaN
15,44.0,KILIFI,Male,"636,891","308,926 48.5","154,263 24.2","86,075 13.5","82,303 12.9","5,214",0.8,110,"308,926",48.5,"154,263",24.2,"86,075",13.5,"82,303",12.9,44.0,KILIFI,Male,"636,891","308,926 48.5","154,263 24.2","86,075 13.5","82,303 12.9","5,214",0.8,110,"308,926",48.5,"154,263",24.2,"86,075",13.5,"82,303",12.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilifi,NaN,NaN,NaN,NaN,NaN
16,47.0,CHONYI,Male,"26,917","14,936 55.5","4,814 17.9","3,513 13.1","3,509 13.0",145,0.5,-,"14,936",55.5,"4,814",17.9,"3,513",13.1,"3,509",13,47.0,CHONYI,Male,"26,917","14,936 55.5","4,814 17.9","3,513 13.1","3,509 13.0",145,0.5,-,"14,936",55.5,"4,814",17.9,"3,513",13.1,"3,509",13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chonyi,NaN,NaN,NaN,NaN,NaN
17,50.0,GANZE,Male,"60,552","34,222 56.5","7,843 13.0","6,804 11.2","11,272 18.6",391,0.6,20,"34,222",56.5,"7,843",13.0,"6,804",11.2,"11,272",18.6,50.0,GANZE,Male,"60,552","34,222 56.5","7,843 13.0","6,804 11.2","11,272 18.6",391,0.6,20,"34,222",56.5,"7,843",13.0,"6,804",11.2,"11,272",18.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ganze,NaN,NaN,NaN,NaN,NaN
18,53.0,KALOLENI,Male,"83,996","41,402 49.3","17,946 21.4","10,588 12.6","13,331 15.9",705,0.8,24,"41,402",49.3,"17,946",21.4,"10,588",12.6,"13,331",15.9,53.0,KALOLENI,Male,"83,996","41,402 49.3","17,946 21.4","10,588 12.6","13,331 15.9",705,0.8,24,"41,402",49.3,"17,946",21.4,"10,588",12.6,"13,331",15.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kaloleni,Kilifi,Kilifi,3.0,Kaloleni,kaloleni
19,56.0,KAUMA,Male,"10,054","5,659 56.3","2,004 19.9",865 8.6,"1,421 14.1",105,1,-,"5,659",56.3,"2,004",19.9,865,8.6,"1,421",14.1,56.0,KAUMA,Male,"10,054","5,659 56.3","2,004 19.9",865 8.6,"1,421 14.1",105,1,-,"5,659",56.3,"2,004",19.9,865,8.6,"1,421",14.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kauma,NaN,NaN,NaN,NaN,NaN
20,59.0,KILIFI NORTH,Male,"78,763","36,930 46.9","21,544 27.4","12,190 15.5","7,498 9.5",597,0.8,4,"36,930",46.9,"21,544",27.4,"12,190",15.5,"7,498",9.5,59.0,KILIFI NORTH,Male,"78,763","36,930 46.9","21,544 27.4","12,190 15.5","7,498 9.5",597,0.8,4,"36,930",46.9,"21,544",27.4,"12,190",15.5,"7,498",9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilifi north,Kilifi,Kilifi,3.0,Kilifi north,kilifi north
21,62.0,KILIFI SOUTH,Male,"91,863","39,007 42.5","29,022 31.6","13,465 14.7","9,225 10.0","1,137",1.2,7,"39,007",42.5,"29,022",31.6,"13,465",14.7,"9,225",10,62.0,KILIFI SOUTH,Male,"91,863","39,007 42.5","29,022 31.6","13,465 14.7","9,225 10.0","1,137",1.2,7,"39,007",42.5,"29,022",31.6,"13,465",14.7,"9,225",10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilifi south,Kilifi,Kilifi,3.0,Kilifi south,kilifi south
22,65.0,MAGARINI,Male,"84,429","44,425 52.6","14,412 17.1","11,450 13.6","13,822 16.4",307,0.4,13,"44,425",52.6,"14,412",17.1,"11,450",13.6,"13,822",16.4,65.0,MAGARINI,Male,"84,429","44,425 52.6","14,412 17.1","11,450 13.6","13,822 16.4",307,0.4,13,"44,425",52.6,"14,412",17.1,"11,450",13.6,"13,822",16.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,magarini,Kilifi,Kilifi,3.0,Magarini,magarini
23,68.0,MALINDI,Male,"146,545","67,256 45.9","41,483 28.3","21,034 14.4","15,451 10.5","1,282",0.9,39,"67,256",45.9,"41,483",28.3,"21,034",14.4,"15,451",10.5,68.0,MALINDI,Male,"146,545","67,256 45.9","41,483 28.3","21,034 14.4","15,451 10.5","1,282",0.9,39,"67,256",45.9,"41,483",28.3,"21,034",14.4,"15,451",10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,malindi,Kilifi,Kilifi,3.0,Malindi,malindi
24,71.0,RABAI,Male,"53,772","25,089 46.7","15,195 28.3","6,166 11.5","6,774 12.6",545,1,3,"25,089",46.7,"15,195",28.3,"6,166",11.5,"6,774",12.6,71.0,RABAI,Male,"53,772","25,089 46.7","15,195 28.3","6,166 11.5","6,774 12.6",545,1,3,"25,089",46.7,"15,195",28.3,"6,166",11.5,"6,774",12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rabai,Kilifi,Kilifi,3.0,Rabai,rabai
25,74.0,TANA RIVER,Male,"142,087","50,470 35.5","19,351 13.6","14,502 10.2","56,872 40.0",835,0.6,57,"50,470",35.5,"19,351",13.6,"14,502",10.2,"56,872",40,74.0,TANA RIVER,Male,"142,087","50,470 35.5","19,351 13.6","14,502 10.2","56,872 40.0",835,0.6,57,"50,470",35.5,"19,351",13.6,"14,502",10.2,"56,872",40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tana river,NaN,NaN,NaN,NaN,NaN
26,83.0,TANA RIVER,Male,"38,822","14,886 38.3","6,257 16.1","4,877 12.6","12,568 32.4",210,0.5,24,"14,886",38.3,"6,257",16.1,"4,877",12.6,"12,568",32.4,83.0,TANA RIVER,Male,"38,822","14,886 38.3","6,257 16.1","4,877 12.6","12,568 32.4",210,0.5,24,"14,886",38.3,"6,257",16.1,"4,877",12.6,"12,568",32.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tana river,NaN,NaN,NaN,NaN,NaN
27,77.0,TANA DELTA,Male,"50,066","19,808 39.6","6,810 13.6","5,371 10.7","17,832 35.6",229,0.5,16,"19,808",39.6,"6,810",13.6,"5,371",10.7,"17,832",35.6,77.0,TANA DELTA,Male,"50,066","19,808 39.6","6,810 13.6","5,371 10.7","17,832 35.6",229,0.5,16,"19,808",39.6,"6,810",13.6,"5,371",10.7,"17,832",35.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tana delta,NaN,NaN,NaN,NaN,NaN
28,80.0,TANA NORTH,Male,"53,199","15,776 29.7","6,284 11.8","4,254 8.0","26,472 49.8",396,0.7,17,"15,776",29.7,"6,284",11.8,"4,254",8,"26,472",49.8,80.0,TANA NORTH,Male,"53,199","15,776 29.7","6,284 11.8","4,254 8.0","26,472 49.8",396,0.7,17,"15,776",29.7,"6,284",11.8,"4,254",8,"26,472",49.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tana north,NaN,NaN,NaN,NaN,NaN
29,86.0,LAMU,Male,"69,111","25,969 37.6","18,933 27.4","11,830 17.1","11,888 17.2",472,0.7,19,"25,969",37.6,"18,933",27.4,"11,830",17.1,"11,888",17.2,86.0,LAMU,Male,"69,111","25,969 37.6","18,933 27.4","11,830 17.1","11,888 17.2",472,0.7,19,"25,969",37.6,"18,933",27.4,"11,830",17.1,"11,888",17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lamu,NaN,NaN,NaN,NaN,NaN
30,89.0,LAMU EAST,Male,"10,805","3,866 35.8","2,599 24.1","2,164 20.0","2,112 19.5",64,0.6,-,"3,866",35.8,"2,599",24.1,"2,164",20,"2,112",19.5,89.0,LAMU EAST,Male,"10,805","3,866 35.8","2,599 24.1","2,164 20.0","2,112 19.5",64,0.6,-,"3,866",35.8,"2,599",24.1,"2,164",20,"2,112",19.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lamu east,Lamu,Lamu,5.0,Lamu East,lamu east
31,92.0,LAMU WEST,Male,"58,306","22,103 37.9","16,334 28.0","9,666 16.6","9,776 16.8",408,0.7,19,"22,103",37.9,"16,334",28.0,"9,666",16.6,"9,776",16.8,92.0,LAMU WEST,Male,"58,306","22,103 37.9","16,334 28.0","9,666 16.6","9,776 16.8",408,0.7,19,"22,103",37.9,"16,334",28.0,"9,666",16.6,"9,776",16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lamu west,Lamu,Lamu,5.0,Lamu West,lamu west
32,95.0,TAITA/TAVETA,Male,"158,230","59,272 37.5","63,137 39.9","23,804 15.0","11,239 7.1",744,0.5,34,"59,272",37.5,"63,137",39.9,"23,804",15,"11,239",7.1,95.0,TAITA/TAVETA,Male,"158,230","59,272 37.5","63,137 39.9","23,804 15.0","11,239 7.1",744,0.5,34,"59,272",37.5,"63,137",39.9,"23,804",15,"11,239",7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,taita/taveta,NaN,NaN,NaN,NaN,NaN
33,98.0,MWATATE,Male,"38,672","14,632 37.8","14,867 38.4","6,443 16.7","2,638 6.8",87,0.2,5,"14,632",37.8,"14,867",38.4,"6,443",16.7,"2,638",6.8,98.0,MWATATE,Male,"38,672","14,632 37.8","14,867 38.4","6,443 16.7","2,638 6.8",87,0.2,5,"14,632",37.8,"14,867",38.4,"6,443",16.7,"2,638",6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mwatate,Taita-Taveta,Voi,6.0,Mwatate,mwatate
34,101.0,TAITA,Male,"26,495","9,800 37.0","11,852 44.7","3,242 12.2","1,503 5.7",98,0.4,-,"9,800",37,"11,852",44.7,"3,242",12.2,"1,503",5.7,101.0,TAITA,Male,"26,495","9,800 37.0","11,852 44.7","3,242 12.2","1,503 5.7",98,0.4,-,"9,800",37,"11,852",44.7,"3,242",12.2,"1,503",5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,taita,NaN,NaN,NaN,NaN,NaN
35,104.0,TAVETA,Male,"42,548","16,342 38.4","13,891 32.6","7,929 18.6","4,016 9.4",361,0.8,9,"16,342",38.4,"13,891",32.6,"7,929",18.6,"4,016",9.4,104.0,TAVETA,Male,"42,548","16,342 38.4","13,891 32.6","7,929 18.6","4,016 9.4",361,0.8,9,"16,342",38.4,"13,891",32.6,"7,929",18.6,"4,016",9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,taveta,Taita-Taveta,Voi,6.0,Taveta,taveta
36,107.0,VOI,Male,"50,515","18,498 36.6","22,527 44.6","6,190 12.3","3,082 6.1",198,0.4,20,"18,498",36.6,"22,527",44.6,"6,190",12.3,"3,082",6.1,107.0,VOI,Male,"50,515","18,498 36.6","22,527 44.6","6,190 12.3","3,082 6.1",198,0.4,20,"18,498",36.6,"22,527",44.6,"6,190",12.3,"3,082",6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,voi,Taita-Taveta,Voi,6.0,Voi,voi
37,110.0,GARISSA,Male,"425,411","77,489 18.2","15,400 3.6","5,309 1.2","311,556 73.2","15,564",3.7,93,"77,489",18.2,"15,400",3.6,"5,309",1.2,"311,556",73.2,110.0,GARISSA,Male,"425,411","77,489 18.2","15,400 3.6","5,309 1.2","311,556 73.2","15,564",3.7,93,"77,489",18.2,"15,400",3.6,"5,309",1.2,"311,556",73.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,garissa,Garissa,Garissa,7.0,Garissa,garissa
38,122.0,GARISSA,Male,"75,234","22,526 29.9","7,644 10.2","2,271 3.0","39,777 52.9","2,994",4,22,"22,526",29.9,"7,644",10.2,"2,271",3,"39,777",52.9,122.0,GARISSA,Male,"75,234","22,526 29.9","7,644 10.2","2,271 3.0","39,777 52.9","2,994",4,22,"22,526",29.9,"7,644",10.2,"2,271",3,"39,777",52.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,garissa,Garissa,Garissa,7.0,Garissa,garissa
39,113.0,BALAMBALA,Male,"19,392","1,692 8.7",585 3.0,114 0.6,"16,721 86.2",280,1.4,-,"1,692",8.7,585,3.0,114,0.6,"16,721",86.2,113.0,BALAMBALA,Male,"19,392","1,692 8.7",585 3.0,114 0.6,"16,721 86.2",280,1.4,-,"1,692",8.7,585,3.0,114,0.6,"16,721",86.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,balambala,NaN,NaN,NaN,NaN,NaN
40,116.0,DADAAB,Male,"91,581","12,354 13.5","2,330 2.5",812 0.9,"71,639 78.2","4,404",4.8,42,"12,354",13.5,"2,330",2.5,812,0.9,"71,639",78.2,116.0,DADAAB,Male,"91,581","12,354 13.5","2,330 2.5",812 0.9,"71,639 78.2","4,404",4.8,42,"12,354",13.5,"2,330",2.5,812,0.9,"71,639",78.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dadaab,NaN,NaN,NaN,NaN,NaN
41,119.0,FAFI,Male,"67,143","8,847 13.2","1,570 2.3",756 1.1,"54,524 81.2","1,432",2.1,14,"8,847",13.2,"1,570",2.3,756,1.1,"54,524",81.2,119.0,FAFI,Male,"67,143","8,847 13.2","1,570 2.3",756 1.1,"54,524 81.2","1,432",2.1,14,"8,847",13.2,"1,570",2.3,756,1.1,"54,524",81.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fafi,Garissa,Garissa,7.0,Fafi,fafi
42,125.0,HULUGHO,Male,"73,417","12,290 16.7",910 1.2,598 0.8,"57,522 78.3","2,092",2.8,5,"12,290",16.7,910,1.2,598,0.8,"57,522",78.3,125.0,HULUGHO,Male,"73,417","12,290 16.7",910 1.2,598 0.8,"57,522 78.3","2,092",2.8,5,"12,290",16.7,910,1.2,598,0.8,"57,522",78.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hulugho,Garissa,Garissa,7.0,Hulugho,hulugho

In [64]:
# import re
# def pre_process(t):
#     return re.sub(r'[^a-z\d ]','',str.lower())

In [65]:
df_merging_education_level_data_gender
df_counties_subcounties.to_csv("df_counties_subcounties.csv")
df_counties_subcounties

          name     capital  code     sub_counties sub_counties_lower
0      Baringo    Kabarnet    30  Baringo central    baringo central
0      Baringo    Kabarnet    30    Baringo north      baringo north
0      Baringo    Kabarnet    30    Baringo south      baringo south
0      Baringo    Kabarnet    30    Eldama ravine      eldama ravine
0      Baringo    Kabarnet    30          Mogotio            mogotio
..         ...         ...   ...              ...                ...
45       Wajir       Wajir     8       Wajir West         wajir west
46  West Pokot  Kapenguria    24    Central Pokot      central pokot
46  West Pokot  Kapenguria    24      North Pokot        north pokot
46  West Pokot  Kapenguria    24      Pokot South        pokot south
46  West Pokot  Kapenguria    24       West Pokot         west pokot

[299 rows x 5 columns]

In [66]:
# df_merging_education_level_data_gender
df_education_level_main

,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct
0,KENYA,KENYA,"43,739,906","17,780,277 40.7","11,568,544 26.4","6,854,538 15.7","7,120,542 16.3","406,887",0.9,"9,118","17,780,277",40.7,"11,568,544",26.4,"6,854,538",15.7,"7,120,542",16.3
4,MOMBASA,MOMBASA,"1,100,173","378,423 34.4","457,603 41.6","153,982 14.0","101,097 9.2","8,817",0.8,251,"378,423",34.4,"457,603",41.6,"153,982",14.0,"101,097",9.2
7,CHANGAMWE,CHANGAMWE,"121,334","39,032 32.2","58,097 47.9","16,205 13.4","6,940 5.7","1,048",0.9,12,"39,032",32.2,"58,097",47.9,"16,205",13.4,"6,940",5.7
10,JOMVU,JOMVU,"149,699","51,892 34.7","64,235 42.9","19,430 13.0","13,416 9.0",698,0.5,28,"51,892",34.7,"64,235",42.9,"19,430",13.0,"13,416",9.0
13,KISAUNI,KISAUNI,"263,742","95,844 36.3","102,940 39.0","37,450 14.2","25,182 9.5","2,257",0.9,69,"95,844",36.3,"102,940",39.0,"37,450",14.2,"25,182",9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,MAKADARA,MAKADARA,"176,283","55,981 31.8","92,765 52.6","20,547 11.7","5,759 3.3","1,189",0.7,42,"55,981",31.8,"92,765",52.6,"20,547",11.7,"5,759",3.3
1168,MATHARE,MATHARE,"188,625","61,040 32.4","77,503 41.1","35,910 19.0","12,099 6.4","1,966",1,107,"61,040",32.4,"77,503",41.1,"35,910",19.0,"12,099",6.4
1171,NJIRU,NJIRU,"573,474","205,700 35.9","268,935 46.9","74,809 13.0","20,046 3.5","3,746",0.7,238,"205,700",35.9,"268,935",46.9,"74,809",13.0,"20,046",3.5
1174,STAREHE,STAREHE,"182,149","63,879 35.1","82,615 45.4","20,722 11.4","12,498 6.9","2,277",1.3,158,"63,879",35.1,"82,615",45.4,"20,722",11.4,"12,498",6.9
1177,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4

In [67]:
df_main_plus_male_female=pd.merge(df_education_level_main,df_merging_education_level_data_gender, left_on='Place_county_or_subcounty', right_on='male_Place_county_or_subcounty', how='outer')
df_main_plus_male_female

,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,Unnamed: 38,intersex_Place_county_or_subcounty,intersex_total_and_gender,intersex_number,intersex_at_school_or_learning_institution_number_and_percent,intersex_after_completion_number_and_percent,intersex_before_completion_number_and_percent,intersex_never_been_to_school_or_learning_institution_number_and_percent,intersex_dont_know_number,intersex_dont_know_number_percent,intersex_not_stated_number,intersex_at_school_or_learning_institution_number,intersex_at_school_or_learning_institution_pct,intersex_after_completion_number,intersex_after_completion_pct,intersex_before_completion_number,intersex_before_completion_pct,intersex_never_been_to_school_or_learning_institution_number,intersex_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower
0,KENYA,KENYA,"43,739,906","17,780,277 40.7","11,568,544 26.4","6,854,538 15.7","7,120,542 16.3","406,887",0.9,"9,118","17,780,277",40.7,"11,568,544",26.4,"6,854,538",15.7,"7,120,542",16.3,1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,1,KENYA,Male,"21,574,077","9,040,318 41.9","5,910,664 27.4","3,172,382 14.7","3,223,856 14.9","222,301",1,"4,556","9,040,318",41.9,"5,910,664",27.4,"3,172,382",14.7,"3,223,856",14.9,3.0,KENYA,Intersex,"1,298",435 33.5,315 24.3,246 19.0,269 20.7,28.0,2.2,5.0,435.0,33.5,315.0,24.3,246.0,19.0,269.0,20.7,kenya
1,MOMBASA,MOMBASA,"1,100,173","378,423 34.4","457,603 41.6","153,982 14.0","101,097 9.2","8,817",0.8,251,"378,423",34.4,"457,603",41.6,"153,982",14.0,"101,097",9.2,5,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,5,MOMBASA,Male,"552,476","189,490 34.3","243,173 44.0","74,382 13.5","40,253 7.3","5,043",0.9,135,"189,490",34.3,"243,173",44.0,"74,382",13.5,"40,253",7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mombasa
2,CHANGAMWE,CHANGAMWE,"121,334","39,032 32.2","58,097 47.9","16,205 13.4","6,940 5.7","1,048",0.9,12,"39,032",32.2,"58,097",47.9,"16,205",13.4,"6,940",5.7,8,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,8,CHANGAMWE,Male,"63,184","19,482 30.8","31,918 50.5","8,157 12.9","2,976 4.7",647,1,4,"19,482",30.8,"31,918",50.5,"8,157",12.9,"2,976",4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,changamwe
3,JOMVU,JOMVU,"149,699","51,892 34.7","64,235 42.9","19,430 13.0","13,416 9.0",698,0.5,28,"51,892",34.7,"64,235",42.9,"19,430",13.0,"13,416",9.0,11,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,11,JOMVU,Male,"75,931","26,020 34.3","34,362 45.3","9,689 12.8","5,424 7.1",422,0.6,14,"26,020",34.3,"34,362",45.3,"9,689",12.8,"5,424",7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jomvu
4,KISAUNI,KISAUNI,"263,742","95,844 36.3","102,940 39.0","37,450 14.2","25,182 9.5","2,257",0.9,69,"95,844",36.3,"102,940",39.0,"37,450",14.2,"25,182",9.5,14,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,14,KISAUNI,Male,"131,351","48,136 36.6","54,063 41.2","18,051 13.7","9,748 7.4","1,315",1,38,"48,136",36.6,"54,063",41.2,"18,051",13.7,"9,748",7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kisauni
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,westlands
431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,995,SIAYA SUBCOUNTY,Male,"97,050","49,139 50.6","21,121 21.8","18,085 18.6","7,523 7.8","1,125",1.2,57,"49,139",50.6,"21,121",21.8,"18,085",18.6,"7,523",7.8,995,SIAYA SUBCOUNTY,Male,"97,050","49,139 50.6","21,121 21.8","18,085 18.6","7,523 7.8","1,125",1.2,57,"49,139",50.6,"21,121",21.8,"18,085",18.6,"7,523",7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,siaya subcounty
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010,RARIEDA,Male,"67,056","35,353 52.7","15,433 23.0","11,492 17.1","3,842 5.7",908,1.4,28,"35,353",52.7,"15,433",23.0,"11,492",17.1,"3,842",5.7,1010,RARIEDA,Male,"67,056","35,353 52.7","15,433 23.0","11,492 17.1","3,842 5.7",908,1.4,28,"35,353",52.7,"15,433",23.0,"11,492",17.1,"3,842",5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rarieda
433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1013,RARIEDA,Male,"511,739","253,600 49.6","144,815 28.3","80,326 15.7","29,019 5.7","3,831",0.7,148,"253,600",49.6,"144,815",28.3,"80,326",15.7,"29,019",5.7,1013,RARIEDA,Male,"511,739","253,600 49.6","144,815 28.3","80,326 15.7","29,019 5.7","3,831",0.7,148,"253,600",49.6,"144,815",28.3,"80,326",15.7,"29,019",5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rarieda
434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040,HOMA BAY SUBCOUNTY,Male,"50,299","27,015 53.7","13,192 26.2","6,818 13.6","2,857 5.7",411,0.8,6,"27,015",53.7,"13,192",26.2,"6,818",13.6,"2,857",5.7,1040,HOMA BAY SUBCOUNTY,Male,"50,299","27,015 53.7","13,192 26.2","6,818 13.6","2,857 5.7",411,0.8,6,"27,015",53.7,"13,192",26.2,"6,818",13.6,"2,857",5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,homa bay subcounty

# Homa Bay and Siaya are missing because their subcounty names match their county names
> I can fix this in excel

> Check Rarieda?

In [68]:
#

In [69]:
df_main_male_female_county=pd.merge(df_counties_subcounties,df_main_plus_male_female, left_on='sub_counties_lower', right_on='male_Place_county_or_subcounty_lower', how='outer')
df_main_male_female_county

,name,capital,code,sub_counties,sub_counties_lower,Place_county_or_subcounty,total_and_gender,number,at_school_or_learning_institution_number_and_percent,after_completion_number_and_percent,before_completion_number_and_percent,never_been_to_school_or_learning_institution_number_and_percent,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,Unnamed: 38,intersex_Place_county_or_subcounty,intersex_total_and_gender,intersex_number,intersex_at_school_or_learning_institution_number_and_percent,intersex_after_completion_number_and_percent,intersex_before_completion_number_and_percent,intersex_never_been_to_school_or_learning_institution_number_and_percent,intersex_dont_know_number,intersex_dont_know_number_percent,intersex_not_stated_number,intersex_at_school_or_learning_institution_number,intersex_at_school_or_learning_institution_pct,intersex_after_completion_number,intersex_after_completion_pct,intersex_before_completion_number,intersex_before_completion_pct,intersex_never_been_to_school_or_learning_institution_number,intersex_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower
0,Baringo,Kabarnet,30.0,Baringo central,baringo central,BARINGO CENTRAL,BARINGO CENTRAL,"89,180","42,317 47.5","29,046 32.6","10,050 11.3","7,236 8.1",530,0.6,1,"42,317",47.5,"29,046",32.6,"10,050",11.3,"7,236",8.1,707.0,BARINGO CENTRAL,Male,"44,084","21,287 48.3","14,595 33.1","4,896 11.1","3,044 6.9",262,0.6,-,"21,287",48.3,"14,595",33.1,"4,896",11.1,"3,044",6.9,707.0,BARINGO CENTRAL,Male,"44,084","21,287 48.3","14,595 33.1","4,896 11.1","3,044 6.9",262,0.6,-,"21,287",48.3,"14,595",33.1,"4,896",11.1,"3,044",6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,baringo central
1,Baringo,Kabarnet,30.0,Baringo north,baringo north,BARINGO NORTH,BARINGO NORTH,"96,670","47,924 49.6","21,442 22.2","12,943 13.4","13,057 13.5","1,301",1.3,3,"47,924",49.6,"21,442",22.2,"12,943",13.4,"13,057",13.5,710.0,BARINGO NORTH,Male,"48,209","24,837 51.5","11,051 22.9","6,148 12.8","5,519 11.4",653,1.4,1,"24,837",51.5,"11,051",22.9,"6,148",12.8,"5,519",11.4,710.0,BARINGO NORTH,Male,"48,209","24,837 51.5","11,051 22.9","6,148 12.8","5,519 11.4",653,1.4,1,"24,837",51.5,"11,051",22.9,"6,148",12.8,"5,519",11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,baringo north
2,Baringo,Kabarnet,30.0,Baringo south,baringo south,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Baringo,Kabarnet,30.0,Eldama ravine,eldama ravine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Baringo,Kabarnet,30.0,Mogotio,mogotio,MOGOTIO,MOGOTIO,"83,716","41,411 49.5","19,335 23.1","12,127 14.5","9,945 11.9",897,1.1,1,"41,411",49.5,"19,335",23.1,"12,127",14.5,"9,945",11.9,722.0,MOGOTIO,Male,"42,194","21,210 50.3","9,986 23.7","6,051 14.3","4,440 10.5",506,1.2,1,"21,210",50.3,"9,986",23.7,"6,051",14.3,"4,440",10.5,722.0,MOGOTIO,Male,"42,194","21,210 50.3","9,986 23.7","6,051 14.3","4,440 10.5",506,1.2,1,"21,210",50.3,"9,986",23.7,"6,051",14.3,"4,440",10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mogotio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,NaN,NaN,NaN,NaN,NaN,NJIRU,NJIRU,"573,474","205,700 35.9","268,935 46.9","74,809 13.0","20,046 3.5","3,746",0.7,238,"205,700",35.9,"268,935",46.9,"74,809",13.0,"20,046",3.5,1172.0,NJIRU,Male,"280,310","101,161 36.1","134,234 47.9","33,012 11.8","9,667 3.4","2,112",0.8,124,"101,161",36.1,"134,234",47.9,"33,012",11.8,"9,667",3.4,1172.0,NJIRU,Male,"280,310","101,161 36.1","134,234 47.9","33,012 11.8","9,667 3.4","2,112",0.8,124,"101,161",36.1,"134,234",47.9,"33,012",11.8,"9,667",3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,njiru
544,NaN,NaN,NaN,NaN,NaN,STAREHE,STAREHE,"182,149","63,879 35.1","82,615 45.4","20,722 11.4","12,498 6.9","2,277",1.3,158,"63,879",35.1,"82,615",45.4,"20,722",11.4,"12,498",6.9,1175.0,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4,1175.0,STAREHE,Male,"90,480","32,284 35.7","42,791 47.3","9,273 10.2","4,884 5.4","1,164",1.3,84,"32,284",35.7,"42,791",47.3,"9,273",10.2,"4,884",5.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,starehe
545,NaN,NaN,NaN,NaN,NaN,WESTLANDS,WESTLANDS,"283,907","88,174 31.1","149,892 52.8","33,141 11.7","9,771 3.4","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4,1178.0,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,1178.0,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,westlands
546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,995.0,SIAYA SUBCOUNTY,Male,"97,050","49,139 50.6","21,121 21.8","18,085 18.6","7,523 7.8","1,125",1.2,57,"49,139",50.6,"21,121",21.8,"18,085",18.6,"7,523",7.8,995.0,SIAYA SUBCOUNTY,Male,"97,050","49,139 50.6","21,121 21.8","18,085 18.6","7,523 7.8","1,125",1.2,57,"49,139",50.6,"21,121",21.8,"18,085",18.6,"7,523",7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,siaya subcounty
547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1040.0,HOMA BAY SUBCOUNTY,Male,"50,299","27,015 53.7","13,192 26.2","6,818 13.6","2,857 5.7",411,0.8,6,"27,015",53.7,"13,192",26.2,"6,818",13.6,"2,857",5.7,1040.0,HOMA BAY SUBCOUNTY,Male,"50,299","27,015 53.7","13,192 26.2","6,818 13.6","2,857 5.7",411,0.8,6,"27,015",53.7,"13,192",26.2,"6,818",13.6,"2,857",5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,homa bay subcounty

In [70]:
df_main_male_female_county.to_csv("df_main_male_female_county.csv")

# After I get the above list, 
>I can merge, Aishi says outer join to keep everything <br /> 
>I can get rid of subcounty details and then have the final dataframe which I will be able to use for the regressions <br />

# Cleaned a bunch of things in Excel, including removing number and pct together

# Now reading the cleaned doc
remember the other pupil teacher ratio is available

In [71]:
df_county_y_with_subcounties=pd.read_csv("df_main_male_female_county_manual_adds_split_pct.csv")
df_county_y_with_subcounties

,Unnamed: 0.1,name,capital,code,sub_counties,sub_counties_lower,Place_county_or_subcounty,total_and_gender,number,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower
0,431,Nyandarua and Nyeri,NaN,NaN,NaN,NaN,ABERDARE FOREST,ABERDARE FOREST,99,-,-,-,5,5.1,88,88.9,3,3,3,3,479,ABERDARE FOREST,Male,70,4 5.7,63 90.0,- -,3 4.3,-,-,-,4,5.7,63,90.0,-,-,3,4.3,479,ABERDARE FOREST,Male,70,4 5.7,63 90.0,- -,3 4.3,-,-,-,4,5.7,63,90.0,-,-,3,4.3,aberdare forest
1,432,Nyandarua and Nyeri,NaN,NaN,NaN,NaN,ABERDARE FOREST,ABERDARE FOREST,99,-,-,-,5,5.1,88,88.9,3,3,3,3,530,ABERDARE FOREST,Male,30,2 6.7,23 76.7,5 16.7,- -,-,-,-,2,6.7,23,76.7,5,16.7,-,-,530,ABERDARE FOREST,Male,30,2 6.7,23 76.7,5 16.7,- -,-,-,-,2,6.7,23,76.7,5,16.7,-,-,aberdare forest
2,433,Nyandarua and Nyeri,NaN,NaN,NaN,NaN,ABERDARE FOREST,ABERDARE FOREST,42,-,-,-,6,14.3,28,66.7,7,16.7,1,2.4,479,ABERDARE FOREST,Male,70,4 5.7,63 90.0,- -,3 4.3,-,-,-,4,5.7,63,90.0,-,-,3,4.3,479,ABERDARE FOREST,Male,70,4 5.7,63 90.0,- -,3 4.3,-,-,-,4,5.7,63,90.0,-,-,3,4.3,aberdare forest
3,434,Nyandarua and Nyeri,NaN,NaN,NaN,NaN,ABERDARE FOREST,ABERDARE FOREST,42,-,-,-,6,14.3,28,66.7,7,16.7,1,2.4,530,ABERDARE FOREST,Male,30,2 6.7,23 76.7,5 16.7,- -,-,-,-,2,6.7,23,76.7,5,16.7,-,-,530,ABERDARE FOREST,Male,30,2 6.7,23 76.7,5 16.7,- -,-,-,-,2,6.7,23,76.7,5,16.7,-,-,aberdare forest
4,426,Nyandarua and Nyeri,NaN,NaN,NaN,NaN,ABERDARE NATIONAL PARK,ABERDARE NATIONAL PARK,14,-,-,-,-,-,14,100.0,-,-,-,-,446,ABERDARE NATIONAL PARK,Male,10,- -,10 100.0,- -,- -,-,-,-,-,-,10,100.0,-,-,-,-,446,ABERDARE NATIONAL PARK,Male,10,- -,10 100.0,- -,- -,-,-,-,-,-,10,100.0,-,-,-,-,aberdare national park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,315,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"553,584","5,860",1.1,103,"235,136",42.5,"36,841",6.7,"56,672",10.2,"218,972",39.6,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot
427,316,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,west pokot
428,317,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot
429,545,Nairobi,Nairobi,47.0,Westlands,westlands,WESTLANDS,WESTLANDS,"283,907","2,832",1,97,"88,174",31.1,"149,892",52.8,"33,141",11.7,"9,771",3.4,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,1178,WESTLANDS,Male,"140,701","43,471 30.9","76,521 54.4","14,963 10.6","4,302 3.1","1,400",1,44,"43,471",30.9,"76,521",54.4,"14,963",10.6,"4,302",3.1,westlands
430,148,Machakos,Machakos,16.0,Yatta,yatta,YATTA,YATTA,"161,270","1,954",1.2,6,"68,002",42.2,"48,765",30.2,"27,632",17.1,"14,911",9.2,389,YATTA,Male,"79,612","34,782 43.7","24,110 30.3","13,771 17.3","5,913 7.4","1,034",1.3,2,"34,782",43.7,"24,110",30.3,"13,771",17.3,"5,913",7.4,389,YATTA,Male,"79,612","34,782 43.7","24,110 30.3","13,771 17.3","5,913 7.4","1,034",1.3,2,"34,782",43.7,"24,110",30.3,"13,771",17.3,"5,913",7.4,yatta

# Select only the rows that are related to counties not subcounties

In [72]:
df_education_level_counties_only=df_county_y_with_subcounties.loc[(df_county_y_with_subcounties['name'].str.lower() == df_county_y_with_subcounties['total_and_gender'].str.lower())]
df_education_level_counties_only.to_csv("df_education_level_counties_only.csv")
df_education_level_counties_only

,Unnamed: 0.1,name,capital,code,sub_counties,sub_counties_lower,Place_county_or_subcounty,total_and_gender,number,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower
10,459,Baringo,Kabarnet,NaN,NaN,NaN,BARINGO,BARINGO,"609,555","6,530",1.1,44,"253,878",41.6,"124,066",20.4,"67,739",11.1,"157,298",25.8,704,BARINGO,Male,"306,702","130,797 42.6","64,231 20.9","32,867 10.7","75,333 24.6","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,704,BARINGO,Male,"306,702","130,797 42.6","64,231 20.9","32,867 10.7","75,333 24.6","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,baringo
14,485,Bomet,Bomet,36.0,NaN,NaN,BOMET,BOMET,"810,122","6,730",0.8,75,"400,330",49.4,"169,658",20.9,"160,702",19.8,"72,627",9,848,BOMET,Male,"400,694","205,930 51.4","88,746 22.1","72,327 18.1","30,078 7.5","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,848,BOMET,Male,"400,694","205,930 51.4","88,746 22.1","72,327 18.1","30,078 7.5","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,bomet
21,492,Bungoma,Bungoma,39.0,NaN,NaN,BUNGOMA,BUNGOMA,"1,538,767","15,673",1,139,"782,677",50.9,"264,282",17.2,"324,058",21.1,"151,938",9.9,929,BUNGOMA,Male,"745,883","396,144 53.1","133,462 17.9","140,682 18.9","67,323 9.0","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9,929,BUNGOMA,Male,"745,883","396,144 53.1","133,462 17.9","140,682 18.9","67,323 9.0","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9,bungoma
29,502,Busia,Busia,40.0,NaN,NaN,BUSIA,BUSIA,"820,788","5,512",0.7,74,"405,072",49.4,"136,790",16.7,"170,347",20.8,"102,993",12.5,968,BUSIA,Male,"388,748","202,993 52.2","70,030 18.0","73,630 18.9","39,069 10.0","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10,968,BUSIA,Male,"388,748","202,993 52.2","70,030 18.0","73,630 18.9","39,069 10.0","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10,busia
30,503,Busia,Busia,40.0,NaN,NaN,BUSIA,BUSIA,"820,788","5,512",0.7,74,"405,072",49.4,"136,790",16.7,"170,347",20.8,"102,993",12.5,974,BUSIA,Male,"60,908","30,010 49.3","13,115 21.5","11,384 18.7","5,829 9.6",550,0.9,20,"30,010",49.3,"13,115",21.5,"11,384",18.7,"5,829",9.6,974,BUSIA,Male,"60,908","30,010 49.3","13,115 21.5","11,384 18.7","5,829 9.6",550,0.9,20,"30,010",49.3,"13,115",21.5,"11,384",18.7,"5,829",9.6,busia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,343,Wajir,Wajir,8.0,NaN,NaN,WAJIR,WAJIR,"711,571","10,209",1.4,64,"132,611",18.6,"13,792",1.9,"5,489",0.8,"549,406",77.2,134,WAJIR,Male,"379,557","75,637 19.9","9,423 2.5","3,224 0.8","285,684 75.3","5,548",1.5,41,"75,637",19.9,"9,423",2.5,"3,224",0.8,"285,684",75.3,134,WAJIR,Male,"379,557","75,637 19.9","9,423 2.5","3,224 0.8","285,684 75.3","5,548",1.5,41,"75,637",19.9,"9,423",2.5,"3,224",0.8,"285,684",75.3,wajir
425,314,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"553,584","5,860",1.1,103,"235,136",42.5,"36,841",6.7,"56,672",10.2,"218,972",39.6,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,west pokot
426,315,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"553,584","5,860",1.1,103,"235,136",42.5,"36,841",6.7,"56,672",10.2,"218,972",39.6,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot
427,316,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,west pokot
428,317,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot

In [73]:
df_education_level_counties_only['name_lower']=df_education_level_counties_only['name'].str.lower()
df_merging_edu_regressions_data['county_lower']=df_merging_edu_regressions_data['county'].str.lower()

In [74]:
df_education_level_counties_only
# df_merging_edu_regressions_data

,Unnamed: 0.1,name,capital,code,sub_counties,sub_counties_lower,Place_county_or_subcounty,total_and_gender,number,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_at_school_or_learning_institution_number_and_percent,female_male_after_completion_number_and_percent,female_male_before_completion_number_and_percent,female_male_never_been_to_school_or_learning_institution_number_and_percent,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower,name_lower
10,459,Baringo,Kabarnet,NaN,NaN,NaN,BARINGO,BARINGO,"609,555","6,530",1.1,44,"253,878",41.6,"124,066",20.4,"67,739",11.1,"157,298",25.8,704,BARINGO,Male,"306,702","130,797 42.6","64,231 20.9","32,867 10.7","75,333 24.6","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,704,BARINGO,Male,"306,702","130,797 42.6","64,231 20.9","32,867 10.7","75,333 24.6","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,baringo,baringo
14,485,Bomet,Bomet,36.0,NaN,NaN,BOMET,BOMET,"810,122","6,730",0.8,75,"400,330",49.4,"169,658",20.9,"160,702",19.8,"72,627",9,848,BOMET,Male,"400,694","205,930 51.4","88,746 22.1","72,327 18.1","30,078 7.5","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,848,BOMET,Male,"400,694","205,930 51.4","88,746 22.1","72,327 18.1","30,078 7.5","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,bomet,bomet
21,492,Bungoma,Bungoma,39.0,NaN,NaN,BUNGOMA,BUNGOMA,"1,538,767","15,673",1,139,"782,677",50.9,"264,282",17.2,"324,058",21.1,"151,938",9.9,929,BUNGOMA,Male,"745,883","396,144 53.1","133,462 17.9","140,682 18.9","67,323 9.0","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9,929,BUNGOMA,Male,"745,883","396,144 53.1","133,462 17.9","140,682 18.9","67,323 9.0","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9,bungoma,bungoma
29,502,Busia,Busia,40.0,NaN,NaN,BUSIA,BUSIA,"820,788","5,512",0.7,74,"405,072",49.4,"136,790",16.7,"170,347",20.8,"102,993",12.5,968,BUSIA,Male,"388,748","202,993 52.2","70,030 18.0","73,630 18.9","39,069 10.0","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10,968,BUSIA,Male,"388,748","202,993 52.2","70,030 18.0","73,630 18.9","39,069 10.0","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10,busia,busia
30,503,Busia,Busia,40.0,NaN,NaN,BUSIA,BUSIA,"820,788","5,512",0.7,74,"405,072",49.4,"136,790",16.7,"170,347",20.8,"102,993",12.5,974,BUSIA,Male,"60,908","30,010 49.3","13,115 21.5","11,384 18.7","5,829 9.6",550,0.9,20,"30,010",49.3,"13,115",21.5,"11,384",18.7,"5,829",9.6,974,BUSIA,Male,"60,908","30,010 49.3","13,115 21.5","11,384 18.7","5,829 9.6",550,0.9,20,"30,010",49.3,"13,115",21.5,"11,384",18.7,"5,829",9.6,busia,busia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,343,Wajir,Wajir,8.0,NaN,NaN,WAJIR,WAJIR,"711,571","10,209",1.4,64,"132,611",18.6,"13,792",1.9,"5,489",0.8,"549,406",77.2,134,WAJIR,Male,"379,557","75,637 19.9","9,423 2.5","3,224 0.8","285,684 75.3","5,548",1.5,41,"75,637",19.9,"9,423",2.5,"3,224",0.8,"285,684",75.3,134,WAJIR,Male,"379,557","75,637 19.9","9,423 2.5","3,224 0.8","285,684 75.3","5,548",1.5,41,"75,637",19.9,"9,423",2.5,"3,224",0.8,"285,684",75.3,wajir,wajir
425,314,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"553,584","5,860",1.1,103,"235,136",42.5,"36,841",6.7,"56,672",10.2,"218,972",39.6,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,west pokot,west pokot
426,315,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"553,584","5,860",1.1,103,"235,136",42.5,"36,841",6.7,"56,672",10.2,"218,972",39.6,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot,west pokot
427,316,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,599,WEST POKOT,Male,"272,728","119,842 43.9","20,733 7.6","28,006 10.3","101,121 37.1","2,978",1.1,48,"119,842",43.9,"20,733",7.6,"28,006",10.3,"101,121",37.1,west pokot,west pokot
428,317,West Pokot,Kapenguria,24.0,West Pokot,west pokot,WEST POKOT,WEST POKOT,"164,801","2,102",1.3,27,"74,570",45.2,"18,353",11.1,"19,565",11.9,"50,184",30.5,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,614,WEST POKOT,Male,"81,577","37,936 46.5","9,898 12.1","9,573 11.7","23,085 28.3","1,069",1.3,16,"37,936",46.5,"9,898",12.1,"9,573",11.7,"23,085",28.3,west pokot,west pokot

# Merge this data to x variables data
That is, df_merging_edu_regressions_data

In [75]:
df_x_y=pd.merge(df_merging_edu_regressions_data, df_education_level_counties_only, left_on='county_lower', right_on='name_lower', how='outer')

In [76]:
df_x_y.to_csv("df_x_y.csv")

# Here is the data to use for the regression
As an aside, in case any of the data looks off, check it against this spreadsheet in which cleaning happened: [check_cleaning_df_x_y](https://docs.google.com/spreadsheets/d/1XtxL4rkeItbVc8ID0hWoi-oyFuNjbLtLti4N3VLTFvM/edit#gid=1233015726)

In [77]:
df_kenyan_education_data=pd.read_csv("df_x_y_cleaned.csv")
df_kenyan_education_data

,Unnamed: 0.2,County,equitable_share_2020_21,equitable_share_2021_22_plus,conditional_grant_2020_21,conditional_grant_2021_22_plus,annual_own_source_revenue_2020_21,annual_own_source_revenue_2021_22_plus,total_revenue_2020_21,total_revenue_2021_22_plus,number_x,county,number_of_schools,total_enrolment,average_school_size,place,population,land_area_km_sq,pop_density_per_km_sq,number_ptr,county_ptr,Enrolment,public_teachers,public_PTR,public_enrolment,private_teachers,private_PTR,overall_pri_ptr_no,overall_pri_ptr_county,overall_pri_ptr_enrolment,overall_pri_ptr_teachers,overall_pri_ptr_PTR,txtbk_no,txtbk_county,txtbk_grade_1,txtbk_grade_2,txtbk_grade_3,pupil_textbook_ratio,s_number_elec,county_elec,national_grid,solar,no_power,elec_table_total,complete_dig_SN,complete_dig_county,number_of_pri_schools_by_2016,number_of_schools_w_complete_digital_devices,pct_installed,detailed_digi_SN,detailed_digi_county,installed_learner_digi_devices,installed_learner_digi_devices.1,Installed_digi_content_server_and_wireless_routers,installed_projectors,installed_special_needs_edu_devices,nasmla_number,nasmla_county,mathematics_mean,mathematics_SE,english_mean,english_SE,kiswahili_mean,kiswahili_SE,county_lower,Unnamed: 0.1,name,capital,code,sub_counties,sub_counties_lower,Place_county_or_subcounty,total_and_gender,number_y,dont_know_number,dont_know_number_percent,not_stated_number,at_school_or_learning_institution_number,at_school_or_learning_institution_pct,after_completion_number,after_completion_pct,before_completion_number,before_completion_pct,never_been_to_school_or_learning_institution_number,never_been_to_school_or_learning_institution_pct,Unnamed: 0,male_Place_county_or_subcounty,male_total_and_gender,male_number,male_at_school_or_learning_institution_number_and_percent,male_after_completion_number_and_percent,male_before_completion_number_and_percent,male_never_been_to_school_or_learning_institution_number_and_percent,male_dont_know_number,male_dont_know_number_percent,male_not_stated_number,male_at_school_or_learning_institution_number,male_at_school_or_learning_institution_pct,male_after_completion_number,male_after_completion_pct,male_before_completion_number,male_before_completion_pct,male_never_been_to_school_or_learning_institution_number,male_never_been_to_school_or_learning_institution_pct,Unnamed: 19,female_male_Place_county_or_subcounty,female_male_total_and_gender,female_male_number,female_male_dont_know_number,female_male_dont_know_number_percent,female_male_not_stated_number,female_male_at_school_or_learning_institution_number,female_male_at_school_or_learning_institution_pct,female_male_after_completion_number,female_male_after_completion_pct,female_male_before_completion_number,female_male_before_completion_pct,female_male_never_been_to_school_or_learning_institution_number,female_male_never_been_to_school_or_learning_institution_pct,male_Place_county_or_subcounty_lower,name_lower
0,0,Baringo,"5,095.65","6,369.39",752.87,681.62,205.2,258.55,"6,053.72","7,309.56",1.0,Baringo,841,"161,919",193,Baringo,"666,763","10,976.40",61,1.0,Baringo,"143,618","5,595",26,"18,301",883,21.0,1.0,Baringo,"161,919","6,478",25.0,1.0,Baringo,1.01,1.01,1.39,1.13,30.0,Baringo,566,183,51,800,1.0,Baringo,635.0,633.0,99.69,1.0,Baringo,"19,283","1,266",633,633,29,1.0,Baringo,500.5,56.9,499.3,65.1,493.6,61.7,baringo,459.0,Baringo,Kabarnet,NaN,NaN,NaN,BARINGO,BARINGO,"609,555","6,530",1.1,44,"253,878",41.6,"124,066",20.4,"67,739",11.1,"157,298",25.8,704.0,BARINGO,Male,"306,702","130,797 42.6","64,231 20.9","32,867 10.7","75,333 24.6","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,704.0,BARINGO,Male,"306,702","3,456",1.1,18,"130,797",42.6,"64,231",20.9,"32,867",10.7,"75,333",24.6,baringo,baringo
1,1,Bomet,"5,507.10","6,691.10",832.35,806.48,183.01,300,"6,522.46","7,797.58",2.0,Bomet,968,"231,197",239,Bomet,"875,689","2,530.90",346,2.0,Bomet,"198,857","4,938",40,"32,340","2,792",12.0,2.0,Bomet,"231,197","7,730",30.0,2.0,Bomet,0.99,0.91,1.00,0.96,36.0,Bomet,666,1,24,691,2.0,Bomet,632.0,630.0,99.68,2.0,Bomet,"27,609","1,260",630,630,NaN,2.0,Bomet,485.2,27.8,462.2,21.5,447.3,24.2,bomet,485.0,Bomet,Bomet,36.0,NaN,NaN,BOMET,BOMET,"810,122","6,730",0.8,75,"400,330",49.4,"169,658",20.9,"160,702",19.8,"72,627",9.0,848.0,BOMET,Male,"400,694","205,930 51.4","88,746 22.1","72,327 18.1","30,078 7.5","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,848.0,BOMET,Male,"400,694","3,572",0.9,41,"205,930",51.4,"88,746",22.1,"72,327",18.1,"30,078",7.5,bomet,bomet
2,2,Bungoma,"8,893.65","10,659.44",876.59,696.07,395.12,500,"10,165.36","11,855.51",3.0,Bungoma,"1,115","500,157",449,Bungoma,"1,670,570","3,023.90",552,3.0,Bungoma,"449,148","8,996",50,"51,009","2,277",22.0,3.0,Bungoma,"500,157","11,273",44.0,3.0,Bungoma,0.89,0.89,0.90,0.89,39.0,Bungoma,749,15,23,787,3.0,Bungoma,741.0,741.0,100.00,3.0,Bungoma,"58,871","1,482",741,741,24,3.0,Bungoma,433.9,10.3,434.2,12.6,462.6,15.6,bungoma,492.0,Bungoma,Bungoma,39.0,NaN,NaN,BUNGOMA,BUNGOMA,"1,538,767","15,673",1.0,139,"782,677",50.9,"264,282",17.2,"324,058",21.1,"151,938",9.9,929.0,BUNGOMA,Male,"745,883","396,144 53.1","133,462 17.9","140,682 18.9","67,323 9.0","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9.0,929.0,BUNGOMA,Male,"745,883","8,198",1.1,74,"396,144",53.1,"133,462",17.9,"140,682",18.9,"67,323",9.0,bungoma,bungoma
3,3,Busia,"6,013.50","7,172.16",845.88,600.43,322.56,499.8,"7,181.93","8,272.39",4.0,Busia,568,"250,860",442,Busia,"893,681","1,696.30",527,4.0,Busia,"231,765","4,949",47,"19,095",962,20.0,4.0,Busia,"250,860","5,911",42.0,4.0,Busia,0.82,0.89,0.84,0.85,40.0,Busia,440,4,1,445,4.0,Busia,432.0,431.0,99.77,4.0,Busia,"31,567",864,432,432,17,4.0,Busia,465.9,15.6,475.3,22.7,493.1,22.8,busia,502.0,Busia,Busia,40.0,NaN,NaN,BUSIA,BUSIA,"820,788","5,512",0.7,74,"405,072",49.4,"136,790",16.7,"170,347",20.8,"102,993",12.5,968.0,BUSIA,Male,"388,748","202,993 52.2","70,030 18.0","73,630 18.9","39,069 10.0","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10.0,968.0,BUSIA,Male,"388,748","2,991",0.8,35,"202,993",52.2,"70,030",18.0,"73,630",18.9,"39,069",10.0,busia,busia
4,7,Elgeyo Marakwet,"3,861.30","4,606.53",735.21,855.35,69.08,166.1,"4,665.58","5,627.98",5.0,Elgeyo Marakwet,467,"123,818",265,Elgeyo/Marakwet,"454,480","3,032.00",150,5.0,Elgeyo Marakwet,"109,641","3,820",29,"14,177",784,18.0,5.0,Elgeyo Marakwet,"123,818","4,604",27.0,5.0,Elgeyo/Marakwet,0.99,1.00,1.00,1.00,28.0,Elgeyo/Marakwet,371,19,9,399,5.0,Elgeyo/Marakwet,369.0,369.0,100.00,5.0,Elgeyo/Marakwet,"13,964",738,369,369,NaN,5.0,Elgeyo Marakwet,488.2,14.9,461.0,17.1,495.0,11.9,elgeyo marakwet,452.0,Elgeyo-Marakwet,Iten,28.0,NaN,NaN,ELGEYO/MARAKWET,ELGEYO/MARAKWET,"418,765","3,541",0.8,62,"203,979",48.7,"93,397",22.3,"65,739",15.7,"52,047",12.4,668.0,ELGEYO/MARAKWET,Male,"209,151","103,310 49.4","48,510 23.2","31,890 15.2","23,622 11.3","1,789",0.9,30,"103,310",49.4,"48,510",23.2,"31,890",15.2,"23,622",11.3,668.0,ELGEYO/MARAKWET,Male,"209,151","1,789",0.9,30,"103,310",49.4,"48,510",23.2,"31,890",15.2,"23,622",11.3,elgeyo/marakwet,elgeyo/marakwet
5,8,Embu,"4,304.40","5,125.24",998.06,607.12,375.33,900,"5,677.78","6,632.36",6.0,Embu,519,"124,774",240,Embu,"608,599","2,820.70",216,6.0,Embu,"101,425","3,694",27,"23,349","1,120",21.0,6.0,Embu,"124,774","4,814",26.0,6.0,Embu,0.50,0.50,0.50,0.50,14.0,Embu,370,11,0,381,6.0,Embu,381.0,381.0,100.00,6.0,Embu,"12,740",762,381,381,13,6.0,Embu,473.9,14.5,474.3,16.6,461.8,15.2,embu,394.0,Embu,Embu,14.0,NaN,NaN,EMBU,EMBU,"568,228","2,404",0.4,51,"205,389",36.1,"180,500",31.8,"131,329",23.1,"48,555",8.5,284.0,EMBU,Male,"283,024","104,132 36.8","90,744 32.1","67,774 23.9","18,822 6.7","1,530",0.5,22,"104,132",36.8,"90,744",32.1,"67,774",23.9,"18,822",6.7,284.0,EMBU,Male,"283,024","1,530",0.5,22,"104,132",36.8,"90,744",32.1,"67,774",23.9,"18,822",6.7,embu,embu
6,9,Garissa,"7,026.30","7,927.21","1,651.83","1,241.03",103.53,150,"8,781.65","9,318.24",7.0,Garissa,304,"77,465",255,Garissa,"841,353","44,736.00",19,7.0,Garissa,"51,895",926,56,"25,570",785,33.0,7.0,Garissa,"77,465","1,711",45.0,7.0,Garissa,0.98,1.01,1.01,1.00,7.0,Garissa,69,176,3,248,7.0,Garissa,163.0,153.0,93.87,7.0,Garissa,"7,762",306,153,153,16,7.0,Garissa,398.2,67.2,363.2,67.6,351.8,55.6,garissa,36.0,Garissa,Garissa,7.0,Garissa,garissa,GARISSA,GARISSA,"778,006","27,479",3.5,155,"132,990",17.1,"23,144",3.0,"9,508",1.2,"584,730",75.2,110.0,GARISSA,Male,"425,411","77,489 18.2","15,400 3.6","5,309 1.2","311,556 73.2","15,564",3.7,93,"77,489",18.2,"15,400",3.6,"5,309",1.2,"311,556",73.2,110.0,GARISSA,Male,"425,411","15,564",3.7,93,"77,489",18.2,"15,400",3.6,"5,309",1.2,"311,556",73.2,garissa,garissa
7,13,Homa Bay,"6,741.45","7,805.35",704.95,607.76,120.41,143.81,"7,566.81","8,556.93",8.0,Homa Bay,"1,042","313,666",301,Homa Bay,"1,131,950","3,152.50",359,8.0,Homa Bay,"279,599","7,226",39,"34,067","1,351",25.0,8.0,Homa Bay,"313,666","8,577",37.0,8.0,Homa Bay,1.00,1.00,1.00,1.00,43.0,Homa Bay,763,22,0,785,8.0,Homa Bay,875.0,875.0,100.00,8.0,Homa Bay,"34,758","1,752",875,875,NaN,8.0,Homa Bay,495.0,23.3,515.3,14.9,473.2,6.1,homa bay,513.0,Homa Bay,Homa Bay,43.0,NaN,NaN,HOMA BAY,HOMA BAY,"1,037,468","6,627",0.6,81,"539,753",52.0,"196,288",18.9,"200,313",19.3,"94,406",9.1,1037.0,HOMA BAY,Male,"491,680","274,952 55.9","98,363 20.0","79,996 16.3","34,878 7.1","3,451",0.7,40,"274,952",55.9,"98,363",20.0,"79,996",16.3,"34,878",7.1,1037.0,HOMA BAY,Male,"491,680","3,451",0.7,40,"274,952",55.9,"98,363",20.0,"79,996",16.3,"34,878",7.1,homa bay,homa bay
8,14,Isiolo,"4,241.10","4,710.39",942.48,813.49,57.18,113.69,"5,240.76","5,637.57",9.0,Isiolo,163,"35,221",216,Isiolo,"268,002","25,350.60",11,9.0,Isiolo,"28,784","1,002",29,"6,437",290,22.0,9.0,Isiolo,"35,221","1,292",27.0,9.0,Isiolo,1.01,0.98,0.97,0.99,11.0,Isiolo,41,69,0,110,9.0,Isiolo,116.0,95.0,81.90,9.0,Isiolo,"4,048",190,95,95,4,9.0,Isiolo,525.9,24.1,537.4,30.6,547.0,24.6,isiolo,51.0,Isiolo,Isiolo,11.0,Isiolo,isiolo,ISIOLO,ISIOLO,"245,462","1,483",0.6,37,"79,881",32.5,"34,817",14.2,"14,485",5.9,"114,759",46.8,209.0,ISIOLO,Male,"128,141","40,960 32.0","19,823 15.5","7,599 5.9","58,852 45.9",886,0.7,21,"40,960",32.0,"19,823",15.5,"7,599",5.9,"58,852",45.9,209.0,ISIOLO,Male,"128,141",886,0.7,21,"40,960",32.0,"19,823",15.5,"7,599",5.9,"58,852",45.9,isiolo,isiolo
9,18,Kajiado,"6,424.95","7,954.77",927.74,729.5,862.29,"1,605.36","8,214.97","10,289.63",10.0,Kajiado,792,"191,184",241,Kajiado,"1,117,840","21,871.10",51,10.0,Kajiado,"138,817","3,611",38,"52,367","2,821",19.0,10.0,Kajiado,"191,184","6,432",30.0,10.0,Kajiado,0.98,0.99,0.99,0.99,34.0,Kajiado,257,249,16,522,10.0,Kajiado,395.0,394.0,99.75,10.0,Kajiado,"15,956",788,394,394,NaN,10.0,Kajiado,489.9,3.7,465.5,10.9,519.4,19.0,kajiado,474.0,Kajiado,Kajiado,34.0,NaN,NaN,KAJIADO,KAJIADO,"1,016,058","13,146",1.3,327,"389,090",38.3,"319,689",31.5,"111,477",11.0,"182,329",17.9,806.0,KAJIADO,Male,"504,023","195,925 38.9","164,069 32.6","54,115 10.7","82,454 16.4","7,321",1.5,139,"195,925",38.9,"164,069",32.6,"54,115",10.7,"82,454",16.4,806.0,KAJIADO,Male,"504,023","7,321",1.5,139,"195,925",38.9,"164,069",32.6,"54,115",10.7,"82,454",16.4,kajiado,kajiado
10,19,Kakamega,"10,412.85","12,389.41","1,499.98",844.39,"1,118.24","2,113.00","13,031.06","15,346.80",11.0,Kakamega,"1,120","555,021",496,Kakamega,"1,867,579","3,020.00",618,11.0,Kakamega,"519,857","10,664",49,"35,164","1,825",19.0,11.0,Kakamega,"555,021","12,489",44.0,11.0,Kakamega,0.97,0.98,0.99,0.98,37.0,Kakamega,887,9,13,909,11.0,Kakamega,880.0,879.0,99.89,11.0,Kakamega,"66,404","1,760",880,880,93,11.0,Kakamega,469.0,18.1,485.1,20.9,503.0,13.8,kakamega,486.0,Kakamega,Kakamega,37.0,NaN,NaN,KAKAMEGA,KAKAMEGA,"1,732,145","11,722",0.7,382,"853,031",49.2,"334,397",19.3,"352,269",20.3,"180,344",10.4,866.0,KAKAMEGA,Male,"828,945","428,344 51.7","162,596 19.6","157,153 19.0","74,543 9.0","6,139",0.7,170,"428,344",51.7,"162,596",19.6,"157,153",19.0,"74,543",9.0,866.0,KAKAMEGA,Male,"828,945","6,139",0.7,170,"428,344",51.7,"162,596",19.6,"157,153",19.0,"74,543",9.0,kakamega,kakamega
11,20,Kericho,"5,380.50","6,430.66",780.03,722.35,595.98,494.05,"6,756.51","7,647.07",12.0,Kericho,827,"222,619",269,Kericho,"901,777","2,436.10",370,12.0,Kericho,"178,579","5,494",33,"44,040","2,154",20.0,12.0,Kericho,"222,619","7,648",29.0,12.0,Kericho,0.96,0.97,0.97,0.97,35.0,Kericho,497,1,0,498,12.0,Kericho,503.0,502.0,99.80,12.0,Kericho,"23,783","1,004",502,502,66,12.0,Kericho,457.1,16.4,449.4,20.1,449.5,14.5,kericho,481.0,Kericho,Kericho,35.0,NaN,NaN,KERICHO,KERICHO,"834,061","4,236",0.5,219,"387,109",46.4,"201,479",24.2,"172,473",20.7,"68,545",8.2,827.0,KERICHO,Male,"415,734","197,586 47.5","105,284 25.3","80,978 19.5","29,453 7.1","2,323",0.6,110,"197,586",47.5,"105,284",25.3,"80,978",19.5,"29,453",7.1,827.0,KERICHO,Male,"415,734","2,323",0.6,110,"197,586",47.5,"105,284",25.3,"80,978",19.5,"29,453",7.1,kericho,kericho
12,21,Kiambu,"9,431.70","11,717.53","1,418.16",742.54,"2,425.25","3,883.30","13,275.10","16,343.37",13.0,Kiambu,899,"347,510",387,Kiambu,"2,417,735","2,538.60",952,13.0,Kiambu,"227,580","6,129",37,"119,930","4,227",28.0,13.0,Kiambu,"347,510","10,356",34.0,13.0,Kiambu,0.94,0.98,0.96,0.96,22.0,Kiambu,461,0,1,462,13.0,Kiambu,481.0,481.0,100.00,13.0,Kiambu,"23,732",962,481,481,50,13.0,Kiambu,554.4,39.2,594.7,26.0,562.0,20.0,kiambu,87.0,Kiambu,Kiambu,22.0,Kiambu,kiambu,KIAMBU,KIAMBU,"2,231,514","13,057",0.6,522,"778,586",34.9,"1,013,910",45.4,"326,845",14.6,"98,594",4.4,533.0,KIAMBU,Male,"1,092,380","388,770 35.6","504,910 46.2","151,002 13.8","40,162 3.7","7,274",0.7,262,"388,770",35.6,"504,910",46.2,"151,002",13.8,"40,162",3.7,533.0,KIAMBU,Male,"1,092,380","7,274",0.7,262,"388,770",35.6,"504,910",46.2,"151,002",13.8,"40,162",3.7,kiambu,kiambu
13,25,Kilifi,"10,444.50","11,641.59","1,807.24","2,307.31",833.85,925,"13,085.59","14,873.90",14.0,Kilifi,842,"353,254",420,Kilifi,"1,453,787","12,539.70",116,14.0,Kilifi,"310,881","5,869",53,"42,373","2,063",21.0,14.0,Kilifi,"353,254","7,932",45.0,14.0,Kilifi,0.93,0.94,0.96,0.94,3.0,Kilifi,439,101,10,550,14.0,Kilifi,507.0,507.0,100.00,14.0,Kilifi,"33,245","1,014",507,507,NaN,14.0,Kilifi,559.7,12.8,533.4,22.6,581.5,9.5,kilifi,327.0,Kilifi,Kilifi,3.0,NaN,NaN,KILIFI,KILIFI,"1,323,664","9,634",0.7,237,"605,776",45.8,"282,538",21.3,"175,199",13.2,"250,280",18.9,44.0,KILIFI,Male,"636,891","308,926 48.5","154,263 24.2","86,075 13.5","82,303 12.9","5,214",0.8,110,"308,926",48.5,"154,263",24.2,"86,075",13.5,"82,303",12.9,44.0,KILIFI,Male,"636,891","5,214",0.8,110,"308,926",48.5,"154,263",24.2,"86,075",13.5,"82,303",12.9,kilifi,kilifi
14,26,Kirinyaga,"4,241.10","5,196.18",592.59,726.94,346.52,485,"5,180.21","6,408.11",15.0,Kirinyaga,355,"108,014",304,Kirinyaga,"610,411","1,478.30",413,15.0,Kirinyaga,"76,840","2,535",30,"31,174","1,824",17.0,15.0,Kirinyaga,"108,014","4,359",25.0,15.0,Kirinyaga,0.91,0.91,0.92,0.91,20.0,Kirinyaga,197,1,0,198,15.0,Kirinyaga,199.0,199.0,100.00,15.0,Kirinyaga,"9,329",398,199,199,15,15.0,Kirinyaga,493.6,15.3,508.6,11.6,496.4,4.3,kirinyaga,435.0,Kirinyaga,Kerugoya/Kutus,20.0,NaN,NaN,KIRINYAGA,KIRINYAGA,"571,312","3,931",0.7,37,"193,518",33.9,"199,413",34.9,"136,968",24.0,"37,445",6.6,482.0,KIRINYAGA,Male,"281,556","98,661 35.0","100,582 35.7","67,459 24.0","12,577 4.5","2,256",0.8,21,"98,661",35.0,"100,582",35.7,"67,459",24.0,"12,577",4.5,482.0,KIRINYAGA,Male,"281,556","2,256",0.8,21,"98,661",35.0,"100,582",35.7,"67,459",24.0,"12,577",4.5,kirinyaga,kirinyaga
15,27,Kisii,"7,785.90","8,894.27","1,244.00",728.94,403,700,"9,432.90","10,323.22",16.0,Kisii,"1,107","309,794",280,Kisii,"1,266,860","1,323.00",958,16.0,Kisii,"255,616","7,344",35,"54,178","2,345",23.0,16.0,Kisii,"309,794","9,689",32.0,16.0,Kisii,1.01,1.01,1.03,1.01,45.0,Kisii,694,1,3,698,16.0,Kisii,697.0,696.0,99.86,16.0,Kisii,"35,050","1,392",696,696,37,16.0,Kisii,478.8,18.7,455.0,16.4,473.0,22.4,kisii,521.0,Kisii,Kisii,45.0,NaN,NaN,KISII,KISII,"1,179,067","6,092",0.5,143,"557,477",47.3,"250,730",21.3,"248,244",21.1,"116,381",9.9,1091.0,KISII,Male,"561,241","282,802 50.4","127,184 22.7","104,190 18.6","43,902 7.8","3,097",0.6,66,"282,802",50.4,"127,184",22.7,"104,190",18.6,"43,902",7.8,1091.0,KISII,Male,"561,241","3,097",0.6,66,"282,802",50.4,"127,184",22.7,"104,190",18.6,"43,902",7.8,kisii,kisii
16,28,Kisumu,"6,836.40","8,026.14","1,197.23",922.93,822.3,"1,984.00","8,855.93","10,933.07",17.0,Kisumu,821,"287,164",350,Kisumu,"1,155,574","2,085.40",554,17.0,Kisumu,"254,011","6,174",41,"33,153","1,554",21.0,17.0,Kisumu,"287,164","7,728",37.0,17.0,Kisumu,0.91,0.92,0.93,0.92,42.0,Kisumu,615,0,0,615,17.0,Kisumu,613.0,613.0,100.00,17.0,Kisumu,"30,716","1,226",613,613,110,17.0,Kisumu,464.8,24.0,484.0,27.4,459.6,28.6,kisumu,NaN,Kisumu,Kisumu,42.0,NaN,NaN,KISUMU,KISUMU,NaN,"7,121",0.7,301,"504,812",47.6,"284,283",26.8,"188,709",17.8,75998,7.2,NaN,KISUMU,Male,"511,739",NaN,NaN,NaN,NaN,"3,831",0.7,148,"253,600",49.6,"144,815",28.3,"80,326",15.7,"29,019",5.7,NaN,KISUMU,Male,"549,465","3,290",0.6,153,"251,209",45.7,"139,457",25.4,"108,379",19.7,"46,977",8.5,kisumu,kisumu
17,29,Kitui,"8,830.35","10,393.97",833.88,658.52,326.45,850,"9,990.68","11,902.49",18.0,Kitui,"1,620","335,078",207,Kitui,"1,136,187","30,429.50",37,18.0,Kitui,"318,630","10,142",31,"16,448","1,126",15.0,18.0,Kitui,"335,078","11,268",30.0,18.0,Kitui,0.98,0.98,0.98,0.98,15.0,Kitui,885,484,45,"1,414",18.0,Kitui,NaN,NaN,99.60,18.0,Kitui,"42,732","2,466","1,233","1,233",NaN,18.0,Kitui,482.6,17.6,448.9,15.1,467.7,12.7,kitui,398.0,Kitui,Kitui,15.0,NaN,NaN,KITUI,KITUI,"1,056,907","11,795",1.1,149,"490,726",46.4,"265,238",25.1,"152,030",14.4,"136,969",13.0,305.0,KITUI,Male,"508,247","250,178 49.2","127,266 25.0","72,606 14.3","51,705 10.2","6,431",1.3,61,"250,178",49.2,"127,266",25.0,"72,606",14.3,"51,705",10.2,305.0,KITUI,Male,"508,247","6,431",1.3,61,"250,178",49.2,"127,266",25.0,"72,606",14.3,"51,705",10.2,kitui,kitui
18,30,Kwale,"7,785.90","8,265.59","1,164.15","1,237.99",250.09,315,"9,200.14","9,818.58",19.0,Kwale,532,"203,634",383,Kwale,"866,820","8,267.10",105,19.0,Kwale,"188,975","3,797",50,"14,659",947,15.0,19.0,Kwale,"203,634","4,744",43.0,19.0,Kwale,0.98,0.99,1.00,0.99,2.0,Kwale,349,51,21,421,19.0,Kwale,364.0,362.0,99.45,19.0,Kwale,"22,570",724,362,362,NaN,19.0,Kwale,520.3,22.0,508.6,31.7,564.6,24.1,kwale,320.0,Kwale,Kwale,2.0,NaN,NaN,KWALE,KWALE,"783,189","5,418",0.7,169,"334,612",42.7,"152,178",19.4,"98,811",12.6,"192,001",24.5,26.0,KWALE,Male,"382,538","171,696 44.9","83,012 21.7","49,352 12.9","75,281 19.7","3,108",0.8,89,"171,696",44.9,"83,012",21.7,"49,352",12.9,"75,281",19.7,26.0,KWALE,Male,"382,538","3,108",0.8,89,"171,696",44.9,"83,012",21.7,"49,352",12.9,"75,281",19.7,kwale,kwale
19,31,Laikipia,"4,177.80","5,136.27",715.83,748.11,840.4,"1,006.00","5,734.03","6,890.37",20.0,Laikipia,354,"97,710",276,Laikipia,"518,560","9,532.20",54,20.0,Laikipia,"85,592","2,719",31,"12,118",775,16.0,20.0,Laikipia,"97,710","3,494",28.0,20.0,Laikipia,0.95,0.97,0.98,0.97,31.0,Laikipia,245,53,2,300,20.0,Laikipia,292.0,289.0,98.97,20.0,Laikipia,"11,096",578,289,289,10,20.0,Laikipia,484.3,27.8,482.5,26.9,491.7,32.3,laikipia,464.0,Laikipia,Rumuruti,31.0,NaN,NaN,LAIKIPIA,LAIKIPIA,"475,756","3,045",0.6,38,"184,613",38.8,"152,372",32.0,"59,213",12.4,"76,475",16.1,728.0,LAIKIPIA,Male,"236,702","94,751 40.0","78,392 33.1","28,229 11.9","33,580 14.2","1,731",0.7,19,"94,751",40.0,"78,392",33.1,"28,229",11.9,"33,580",14.2,728.0,LAIKIPIA,Male,"236,702","1,731",0.7,19,"94,751",40.0,"78,392",33.1,"28,229",11.9,"33,580",14.2,laikipia,laikipia