# Setting Everything Up

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
#import the file from the web
import requests
from bs4 import BeautifulSoup
import pandas as pd
from unicodedata import normalize
import re
from datetime import datetime
from pandas import read_csv 
from sklearn.feature_extraction.text import CountVectorizer
import json
from flatten_json import flatten


# I can give a number or use None to remove maximum ceiling & display all columns
pd.options.display.max_columns = None

# # I want to be able to see the entire narrative, so remove the maximum width for each column
# pd.options.display.max_colwidth = None

# pd.options.display.float_format = '{:,.0f}'.format

import string

%matplotlib inline

In [4]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (8, 8)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [5]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [6]:
%%R

# My commonly used R imports

require('tidyverse')

R[write to console]: Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [7]:
#To Download PDFs
from urllib.parse import urljoin

In [8]:
#To import camelot and PDF-related items
import camelot
import ghostscript
import sys

In [9]:
%%R

library(jpeg)
library(wordcloud)
library(RColorBrewer)
library(wordcloud2)
library(tm)
library(reshape2)
library(data.table)

R[write to console]: Loading required package: RColorBrewer

R[write to console]: Loading required package: NLP

R[write to console]:
Attaching package: ‘NLP’


R[write to console]: The following object is masked from ‘package:ggplot2’:

    annotate


R[write to console]:
Attaching package: ‘reshape2’


R[write to console]: The following object is masked from ‘package:tidyr’:

    smiths


R[write to console]: data.table 1.14.8 using 1 threads (see ?getDTthreads).  Latest news: r-datatable.com

R[write to console]: **********
This installation of data.table has not detected OpenMP support. It should still work but in single-threaded mode.
This is a Mac. Please read https://mac.r-project.org/openmp/. Please engage with Apple and ask them for support. Check r-datatable.com for updates, and our Mac instructions here: https://github.com/Rdatatable/data.table/wiki/Installation. After several years of many reports of installation problems on Mac, it's time to gingerly point out that there have been no similar problems on Windows or Linux.
**********

R[write to console]:
Attaching package: ‘data.table’


R[write to console]: The following objects are masked from ‘package:reshape2’:

    dcast, melt


R[write to console]: The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


R[write to console]: The following objects are masked from ‘package:dplyr’:

    between, first, last


R[write to console]: The following object is masked from ‘package:purrr’:

    transpose

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
%%R
library(vistime)
library(shiny)
library(plotly)
#for timeline plotting

R[write to console]:
Attaching package: ‘plotly’


R[write to console]: The following object is masked from ‘package:ggplot2’:

    last_plot


R[write to console]: The following object is masked from ‘package:stats’:

    filter


R[write to console]: The following object is masked from ‘package:graphics’:

    layout

In [12]:
from collections import Counter

# For Employment and age data

### Reading the Data

In [27]:
df_edu_employment_pre_separation=pd.read_csv("saf_edu_age_employment.csv")

In [28]:
df_edu_employment_pre_separation

,employment_titlea,Broad_Age_Groups_slash_County,Broad_Age_Groups_slash_County_original,Total,Working_and_Seeking_Work_slash_No_Work_Available,Working,Seeking_Work_slash_No_Work_Available,Persons_outside_the_Labour_Force,Not_Stated
0,KENYA,Total,KENYA,"41,235,190","19,677,401 2,621,158",NaN,NaN,"18,927,688","8,943"
1,KENYA,5 - 14,5 - 14,"12,505,987","969,868 -",NaN,NaN,"11,534,179","1,940"
2,KENYA,15 - 17,15 - 17,"3,360,980","379,497 127,428",NaN,NaN,"2,853,492",563
3,KENYA,18 - 24,18 - 24,"6,288,095","2,891,426 708,167",NaN,NaN,"2,687,184","1,318"
4,KENYA,25 - 34,25 - 34,"7,333,397","5,544,992 939,317",NaN,NaN,"847,376","1,712"
...,...,...,...,...,...,...,...,...,...
379,NAIROBI CITY,18 - 24,18 - 24,"701,281","279,225 123,232",NaN,NaN,"298,554",270
380,NAIROBI CITY,25 - 34,25 - 34,"1,062,332","728,095 175,830",NaN,NaN,"157,973",434
381,NAIROBI CITY,35 - 64,35 - 64,"989,479","763,332 114,150",NaN,NaN,"111,563",434
382,NAIROBI CITY,65 +,65 +,"56,503","25,413 3,281",NaN,NaN,"27,790",19
383,NAIROBI CITY,Not Stated,Not Stated,126,- -,NaN,NaN,-,126

# Separating the Data

In [29]:
def get_working(x):
    try:
        working = x.split(' ')[0]
        return working
    except:
        pass

df_edu_employment_pre_separation['Working']=df_edu_employment_pre_separation['Working_and_Seeking_Work_slash_No_Work_Available'].apply(get_working)

df_edu_employment_pre_separation.head(10)

,employment_titlea,Broad_Age_Groups_slash_County,Broad_Age_Groups_slash_County_original,Total,Working_and_Seeking_Work_slash_No_Work_Available,Working,Seeking_Work_slash_No_Work_Available,Persons_outside_the_Labour_Force,Not_Stated
0,KENYA,Total,KENYA,"41,235,190","19,677,401 2,621,158","19,677,401",NaN,"18,927,688","8,943"
1,KENYA,5 - 14,5 - 14,"12,505,987","969,868 -","969,868",NaN,"11,534,179","1,940"
2,KENYA,15 - 17,15 - 17,"3,360,980","379,497 127,428","379,497",NaN,"2,853,492",563
3,KENYA,18 - 24,18 - 24,"6,288,095","2,891,426 708,167","2,891,426",NaN,"2,687,184","1,318"
4,KENYA,25 - 34,25 - 34,"7,333,397","5,544,992 939,317","5,544,992",NaN,"847,376","1,712"
5,KENYA,35 - 64,35 - 64,"9,886,139","8,371,755 791,492","8,371,755",NaN,"720,494","2,398"
6,KENYA,65 +,65 +,"1,860,021","1,519,863 54,754","1,519,863",NaN,"284,963",441
7,KENYA,Not Stated,Not Stated,571,- -,-,NaN,-,571
8,MOMBASA,Total,MOMBASA,"1,043,603","423,439 141,942","423,439",NaN,"477,965",257
9,MOMBASA,5 - 14,5 - 14,"243,191","3,289 -","3,289",NaN,"239,864",38

In [30]:
def get_seeking(x):
    try:
        seeking = x.split(' ')[-1]
        return seeking
    except:
        pass

df_edu_employment_pre_separation['Seeking_Work_slash_No_Work_Available']=df_edu_employment_pre_separation['Working_and_Seeking_Work_slash_No_Work_Available'].apply(get_seeking)

df_edu_employment_pre_separation.head(20)

,employment_titlea,Broad_Age_Groups_slash_County,Broad_Age_Groups_slash_County_original,Total,Working_and_Seeking_Work_slash_No_Work_Available,Working,Seeking_Work_slash_No_Work_Available,Persons_outside_the_Labour_Force,Not_Stated
0,KENYA,Total,KENYA,"41,235,190","19,677,401 2,621,158","19,677,401","2,621,158","18,927,688","8,943"
1,KENYA,5 - 14,5 - 14,"12,505,987","969,868 -","969,868",-,"11,534,179","1,940"
2,KENYA,15 - 17,15 - 17,"3,360,980","379,497 127,428","379,497","127,428","2,853,492",563
3,KENYA,18 - 24,18 - 24,"6,288,095","2,891,426 708,167","2,891,426","708,167","2,687,184","1,318"
4,KENYA,25 - 34,25 - 34,"7,333,397","5,544,992 939,317","5,544,992","939,317","847,376","1,712"
5,KENYA,35 - 64,35 - 64,"9,886,139","8,371,755 791,492","8,371,755","791,492","720,494","2,398"
6,KENYA,65 +,65 +,"1,860,021","1,519,863 54,754","1,519,863","54,754","284,963",441
7,KENYA,Not Stated,Not Stated,571,- -,-,-,-,571
8,MOMBASA,Total,MOMBASA,"1,043,603","423,439 141,942","423,439","141,942","477,965",257
9,MOMBASA,5 - 14,5 - 14,"243,191","3,289 -","3,289",-,"239,864",38
10,MOMBASA,15 - 17,15 - 17,"56,896","2,823 2,632","2,823","2,632","51,432",9
11,MOMBASA,18 - 24,18 - 24,"179,599","64,289 38,583","64,289","38,583","76,691",36
12,MOMBASA,25 - 34,25 - 34,"260,491","158,840 53,967","158,840","53,967","47,620",64
13,MOMBASA,35 - 64,35 - 64,"280,908","186,702 44,595","186,702","44,595","49,532",79
14,MOMBASA,65 +,65 +,"22,494","7,496 2,165","7,496","2,165","12,826",7
15,MOMBASA,Not Stated,Not Stated,24,- -,-,-,-,24
16,KWALE,Total,KWALE,"728,767","333,587 44,175","333,587","44,175","350,840",165
17,KWALE,5 - 14,5 - 14,"255,799","24,000 -","24,000",-,"231,756",43
18,KWALE,15 - 17,15 - 17,"60,598","8,881 1,418","8,881","1,418","50,290",9
19,KWALE,18 - 24,18 - 24,"106,584","55,440 11,314","55,440","11,314","39,807",23

In [31]:
original_df=df_edu_employment_pre_separation

# Get the column titles

In [32]:
original_df

,employment_titlea,Broad_Age_Groups_slash_County,Broad_Age_Groups_slash_County_original,Total,Working_and_Seeking_Work_slash_No_Work_Available,Working,Seeking_Work_slash_No_Work_Available,Persons_outside_the_Labour_Force,Not_Stated
0,KENYA,Total,KENYA,"41,235,190","19,677,401 2,621,158","19,677,401","2,621,158","18,927,688","8,943"
1,KENYA,5 - 14,5 - 14,"12,505,987","969,868 -","969,868",-,"11,534,179","1,940"
2,KENYA,15 - 17,15 - 17,"3,360,980","379,497 127,428","379,497","127,428","2,853,492",563
3,KENYA,18 - 24,18 - 24,"6,288,095","2,891,426 708,167","2,891,426","708,167","2,687,184","1,318"
4,KENYA,25 - 34,25 - 34,"7,333,397","5,544,992 939,317","5,544,992","939,317","847,376","1,712"
...,...,...,...,...,...,...,...,...,...
379,NAIROBI CITY,18 - 24,18 - 24,"701,281","279,225 123,232","279,225","123,232","298,554",270
380,NAIROBI CITY,25 - 34,25 - 34,"1,062,332","728,095 175,830","728,095","175,830","157,973",434
381,NAIROBI CITY,35 - 64,35 - 64,"989,479","763,332 114,150","763,332","114,150","111,563",434
382,NAIROBI CITY,65 +,65 +,"56,503","25,413 3,281","25,413","3,281","27,790",19
383,NAIROBI CITY,Not Stated,Not Stated,126,- -,-,-,-,126

In [33]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
column_names = original_df.columns.tolist()

# Print the list of column names
print(column_names)

['employment_titlea', 'Broad_Age_Groups_slash_County', 'Broad_Age_Groups_slash_County_original', 'Total', 'Working_and_Seeking_Work_slash_No_Work_Available', 'Working', 'Seeking_Work_slash_No_Work_Available', 'Persons_outside_the_Labour_Force', 'Not_Stated']

### Setting the Data so that the all details for one county are in one row

In [34]:
import pandas as pd

# Assuming your original dataset is stored in a DataFrame called 'original_df'
# and the county names are stored in a column called 'employment_titlea'
# and the age group details are stored in a column called 'Broad_Age_Groups_slash_County'

# Define the age groups
age_groups = {
    'Total': 'Total',
    '5 - 14': '5to14',
    '15 - 17': '15to17',
    '18 - 24': '18to24',
    '25 - 34': '25to34',
    '35 - 64': '35to64',
    '65 +': '65plus',
    'Not Stated': 'NotStated'
}

# Create an empty DataFrame to store the transformed data
transformed_df = pd.DataFrame()

# Extract the unique county names
county_names = original_df['employment_titlea'].unique()

# Iterate through each county
for county in county_names:
    county_data = original_df[original_df['employment_titlea'] == county]
    
    # Create a dictionary to store the data for each county
    county_dict = {'County': county}
    
    # Iterate through each age group
    for age_group, prefix in age_groups.items():
        age_group_data = county_data[county_data['Broad_Age_Groups_slash_County'] == age_group]
        
        # Iterate through each column and store the values
        for column in age_group_data.columns:
            county_dict[prefix + '_' + column] = age_group_data[column].values[0]
    
    # Append the county data to the transformed DataFrame
    transformed_df = transformed_df.append(county_dict, ignore_index=True)

# Reset the index
transformed_df.reset_index(drop=True, inplace=True)

In [36]:
transformed_df

,County,Total_employment_titlea,Total_Broad_Age_Groups_slash_County,Total_Broad_Age_Groups_slash_County_original,Total_Total,Total_Working_and_Seeking_Work_slash_No_Work_Available,Total_Working,Total_Seeking_Work_slash_No_Work_Available,Total_Persons_outside_the_Labour_Force,Total_Not_Stated,5to14_employment_titlea,5to14_Broad_Age_Groups_slash_County,5to14_Broad_Age_Groups_slash_County_original,5to14_Total,5to14_Working_and_Seeking_Work_slash_No_Work_Available,5to14_Working,5to14_Seeking_Work_slash_No_Work_Available,5to14_Persons_outside_the_Labour_Force,5to14_Not_Stated,15to17_employment_titlea,15to17_Broad_Age_Groups_slash_County,15to17_Broad_Age_Groups_slash_County_original,15to17_Total,15to17_Working_and_Seeking_Work_slash_No_Work_Available,15to17_Working,15to17_Seeking_Work_slash_No_Work_Available,15to17_Persons_outside_the_Labour_Force,15to17_Not_Stated,18to24_employment_titlea,18to24_Broad_Age_Groups_slash_County,18to24_Broad_Age_Groups_slash_County_original,18to24_Total,18to24_Working_and_Seeking_Work_slash_No_Work_Available,18to24_Working,18to24_Seeking_Work_slash_No_Work_Available,18to24_Persons_outside_the_Labour_Force,18to24_Not_Stated,25to34_employment_titlea,25to34_Broad_Age_Groups_slash_County,25to34_Broad_Age_Groups_slash_County_original,25to34_Total,25to34_Working_and_Seeking_Work_slash_No_Work_Available,25to34_Working,25to34_Seeking_Work_slash_No_Work_Available,25to34_Persons_outside_the_Labour_Force,25to34_Not_Stated,35to64_employment_titlea,35to64_Broad_Age_Groups_slash_County,35to64_Broad_Age_Groups_slash_County_original,35to64_Total,35to64_Working_and_Seeking_Work_slash_No_Work_Available,35to64_Working,35to64_Seeking_Work_slash_No_Work_Available,35to64_Persons_outside_the_Labour_Force,35to64_Not_Stated,65plus_employment_titlea,65plus_Broad_Age_Groups_slash_County,65plus_Broad_Age_Groups_slash_County_original,65plus_Total,65plus_Working_and_Seeking_Work_slash_No_Work_Available,65plus_Working,65plus_Seeking_Work_slash_No_Work_Available,65plus_Persons_outside_the_Labour_Force,65plus_Not_Stated,NotStated_employment_titlea,NotStated_Broad_Age_Groups_slash_County,NotStated_Broad_Age_Groups_slash_County_original,NotStated_Total,NotStated_Working_and_Seeking_Work_slash_No_Work_Available,NotStated_Working,NotStated_Seeking_Work_slash_No_Work_Available,NotStated_Persons_outside_the_Labour_Force,NotStated_Not_Stated
0,KENYA,KENYA,Total,KENYA,"41,235,190","19,677,401 2,621,158","19,677,401","2,621,158","18,927,688","8,943",KENYA,5 - 14,5 - 14,"12,505,987","969,868 -","969,868",-,"11,534,179","1,940",KENYA,15 - 17,15 - 17,"3,360,980","379,497 127,428","379,497","127,428","2,853,492",563,KENYA,18 - 24,18 - 24,"6,288,095","2,891,426 708,167","2,891,426","708,167","2,687,184","1,318",KENYA,25 - 34,25 - 34,"7,333,397","5,544,992 939,317","5,544,992","939,317","847,376","1,712",KENYA,35 - 64,35 - 64,"9,886,139","8,371,755 791,492","8,371,755","791,492","720,494","2,398",KENYA,65 +,65 +,"1,860,021","1,519,863 54,754","1,519,863","54,754","284,963",441,KENYA,Not Stated,Not Stated,571,- -,-,-,-,571
1,MOMBASA,MOMBASA,Total,MOMBASA,"1,043,603","423,439 141,942","423,439","141,942","477,965",257,MOMBASA,5 - 14,5 - 14,"243,191","3,289 -","3,289",-,"239,864",38,MOMBASA,15 - 17,15 - 17,"56,896","2,823 2,632","2,823","2,632","51,432",9,MOMBASA,18 - 24,18 - 24,"179,599","64,289 38,583","64,289","38,583","76,691",36,MOMBASA,25 - 34,25 - 34,"260,491","158,840 53,967","158,840","53,967","47,620",64,MOMBASA,35 - 64,35 - 64,"280,908","186,702 44,595","186,702","44,595","49,532",79,MOMBASA,65 +,65 +,"22,494","7,496 2,165","7,496","2,165","12,826",7,MOMBASA,Not Stated,Not Stated,24,- -,-,-,-,24
2,KWALE,KWALE,Total,KWALE,"728,767","333,587 44,175","333,587","44,175","350,840",165,KWALE,5 - 14,5 - 14,"255,799","24,000 -","24,000",-,"231,756",43,KWALE,15 - 17,15 - 17,"60,598","8,881 1,418","8,881","1,418","50,290",9,KWALE,18 - 24,18 - 24,"106,584","55,440 11,314","55,440","11,314","39,807",23,KWALE,25 - 34,25 - 34,"116,234","89,047 15,303","89,047","15,303","11,863",21,KWALE,35 - 64,35 - 64,"156,787","129,684 14,669","129,684","14,669","12,385",49,KWALE,65 +,65 +,"32,755","26,535 1,471","26,535","1,471","4,739",10,KWALE,Not Stated,Not Stated,10,- -,-,-,-,10
3,KILIFI,KILIFI,Total,KILIFI,"1,240,674","534,420 77,211","534,420","77,211","628,808",235,KILIFI,5 - 14,5 - 14,"410,494","21,201 -","21,201",-,"389,237",56,KILIFI,15 - 17,15 - 17,"106,780","7,783 1,733","7,783","1,733","97,249",15,KILIFI,18 - 24,18 - 24,"197,338","89,307 21,155","89,307","21,155","86,852",24,KILIFI,25 - 34,25 - 34,"205,386","154,294 27,712","154,294","27,712","23,339",41,KILIFI,35 - 64,35 - 64,"265,114","217,054 24,601","217,054","24,601","23,395",64,KILIFI,65 +,65 +,"55,546","44,781 2,010","44,781","2,010","8,736",19,KILIFI,Not Stated,Not Stated,16,- -,-,-,-,16
4,TANA RIVER,TANA RIVER,Total,TANA RIVER,"261,570","118,026 25,851","118,026","25,851","117,572",121,TANA RIVER,5 - 14,5 - 14,"99,420","24,158 -","24,158",-,"75,226",36,TANA RIVER,15 - 17,15 - 17,"20,986","5,593 1,653","5,593","1,653","13,732",8,TANA RIVER,18 - 24,18 - 24,"38,818","19,475 6,746","19,475","6,746","12,580",17,TANA RIVER,25 - 34,25 - 34,"39,780","25,745 7,804","25,745","7,804","6,211",20,TANA RIVER,35 - 64,35 - 64,"52,773","37,013 8,667","37,013","8,667","7,065",28,TANA RIVER,65 +,65 +,"9,787","6,042 981","6,042",981,"2,758",6,TANA RIVER,Not Stated,Not Stated,6,- -,-,-,-,6
5,LAMU,LAMU,Total,LAMU,"123,237","60,478 6,802","60,478","6,802","55,921",36,LAMU,5 - 14,5 - 14,"36,847","3,290 -","3,290",-,"33,553",4,LAMU,15 - 17,15 - 17,"9,362","1,292 215","1,292",215,"7,854",1,LAMU,18 - 24,18 - 24,"18,425","9,865 1,867","9,865","1,867","6,688",5,LAMU,25 - 34,25 - 34,"21,754","17,024 2,180","17,024","2,180","2,544",6,LAMU,35 - 64,35 - 64,"31,188","25,012 2,371","25,012","2,371","3,791",14,LAMU,65 +,65 +,"5,657","3,995 169","3,995",169,"1,491",2,LAMU,Not Stated,Not Stated,4,- -,-,-,-,4
6,TAITA/TAVETA,TAITA/TAVETA,Total,TAITA/TAVETA,"297,186","161,750 15,886","161,750","15,886","119,483",67,TAITA/TAVETA,5 - 14,5 - 14,"76,972","2,009 -","2,009",-,"74,946",17,TAITA/TAVETA,15 - 17,15 - 17,"21,951","2,317 334","2,317",334,"19,297",3,TAITA/TAVETA,18 - 24,18 - 24,"41,316","23,188 4,285","23,188","4,285","13,833",10,TAITA/TAVETA,25 - 34,25 - 34,"49,577","40,257 5,243","40,257","5,243","4,067",10,TAITA/TAVETA,35 - 64,35 - 64,"87,747","77,234 5,675","77,234","5,675","4,815",23,TAITA/TAVETA,65 +,65 +,"19,620","16,745 349","16,745",349,"2,525",1,TAITA/TAVETA,Not Stated,Not Stated,3,- -,-,-,-,3
7,GARISSA,GARISSA,Total,GARISSA,"723,909","259,150 167,274","259,150","167,274","297,333",152,GARISSA,5 - 14,5 - 14,"270,735","85,334 -","85,334",-,"185,361",40,GARISSA,15 - 17,15 - 17,"76,510","23,761 25,368","23,761","25,368","27,371",10,GARISSA,18 - 24,18 - 24,"125,352","42,540 47,446","42,540","47,446","35,336",30,GARISSA,25 - 34,25 - 34,"114,266","48,334 43,483","48,334","43,483","22,416",33,GARISSA,35 - 64,35 - 64,"122,811","53,918 46,178","53,918","46,178","22,686",29,GARISSA,65 +,65 +,"14,231","5,263 4,799","5,263","4,799","4,163",6,GARISSA,Not Stated,Not Stated,4,- -,-,-,-,4
8,WAJIR,WAJIR,Total,WAJIR,"652,575","290,686 116,074","290,686","116,074","245,753",62,WAJIR,5 - 14,5 - 14,"269,151","102,667 -","102,667",-,"166,465",19,WAJIR,15 - 17,15 - 17,"66,941","24,206 18,466","24,206","18,466","24,261",8,WAJIR,18 - 24,18 - 24,"96,144","42,282 29,759","42,282","29,759","24,090",13,WAJIR,25 - 34,25 - 34,"101,966","55,312 31,457","55,312","31,457","15,188",9,WAJIR,35 - 64,35 - 64,"106,927","59,977 33,406","59,977","33,406","13,533",11,WAJIR,65 +,65 +,"11,446","6,242 2,986","6,242","2,986","2,216",2,WAJIR,Not Stated,Not Stated,-,- -,-,-,-,-
9,MANDERA,MANDERA,Total,MANDERA,"701,187","303,296 93,806","303,296","93,806","303,960",125,MANDERA,5 - 14,5 - 14,"313,355","114,937 -","114,937",-,"198,368",50,MANDERA,15 - 17,15 - 17,"71,718","26,356 15,726","26,356","15,726","29,630",6,MANDERA,18 - 24,18 - 24,"108,142","46,918 27,176","46,918","27,176","34,029",19,MANDERA,25 - 34,25 - 34,"98,411","52,765 24,832","52,765","24,832","20,783",31,MANDERA,35 - 64,35 - 64,"97,064","55,498 23,568","55,498","23,568","17,980",18,MANDERA,65 +,65 +,"12,496","6,822 2,504","6,822","2,504","3,170",-,MANDERA,Not Stated,Not Stated,1,- -,-,-,-,1
10,MARSABIT,MARSABIT,Total,MARSABIT,"378,184","178,797 47,232","178,797","47,232","151,967",188,MARSABIT,5 - 14,5 - 14,"145,629","49,486 -","49,486",-,"96,034",109,MARSABIT,15 - 17,15 - 17,"37,619","13,751 6,353","13,751","6,353","17,510",5,MARSABIT,18 - 24,18 - 24,"59,128","29,157 13,009","29,157","13,009","16,949",13,MARSABIT,25 - 34,25 - 34,"58,509","36,334 13,453","36,334","13,453","8,694",28,MARSABIT,35 - 64,35 - 64,"63,564","41,948 12,640","41,948","12,640","8,950",26,MARSABIT,65 +,65 +,"13,730","8,121 1,777","8,121","1,777","3,830",2,MARSABIT,Not Stated,Not Stated,5,- -,-,-,-,5
11,ISIOLO,ISIOLO,Total,ISIOLO,"227,379","101,678 27,529","101,678","27,529","98,134",38,ISIOLO,5 - 14,5 - 14,"80,059","20,469 -","20,469",-,"59,585",5,ISIOLO,15 - 17,15 - 17,"21,120","6,262 2,413","6,262","2,413","12,441",4,ISIOLO,18 - 24,18 - 24,"34,759","16,099 7,298","16,099","7,298","11,355",7,ISIOLO,25 - 34,25 - 34,"39,026","24,527 8,547","24,527","8,547","5,944",8,ISIOLO,35 - 64,35 - 64,"44,301","29,737 8,364","29,737","8,364","6,189",11,ISIOLO,65 +,65 +,"8,113","4,584 907","4,584",907,"2,620",2,ISIOLO,Not Stated,Not Stated,1,- -,-,-,-,1
12,MERU,MERU,Total,MERU,"1,365,848","700,387 76,275","700,387","76,275","588,805",381,MERU,5 - 14,5 - 14,"368,655","11,948 -","11,948",-,"356,629",78,MERU,15 - 17,15 - 17,"104,222","12,121 2,645","12,121","2,645","89,436",20,MERU,18 - 24,18 - 24,"190,702","94,545 18,535","94,545","18,535","77,573",49,MERU,25 - 34,25 - 34,"227,794","177,381 26,396","177,381","26,396","23,959",58,MERU,35 - 64,35 - 64,"388,090","334,518 26,561","334,518","26,561","26,881",130,MERU,65 +,65 +,"86,360","69,874 2,138","69,874","2,138","14,327",21,MERU,Not Stated,Not Stated,25,- -,-,-,-,25
13,THARAKA-NITHI,THARAKA-NITHI,Total,THARAKA-NITHI,"351,034","191,231 13,707","191,231","13,707","146,026",70,THARAKA-NITHI,5 - 14,5 - 14,"91,047","3,094 -","3,094",-,"87,949",4,THARAKA-NITHI,15 - 17,15 - 17,"27,379","2,359 231","2,359",231,"24,785",4,THARAKA-NITHI,18 - 24,18 - 24,"46,662","21,825 3,003","21,825","3,003","21,829",5,THARAKA-NITHI,25 - 34,25 - 34,"54,313","45,099 4,873","45,099","4,873","4,326",15,THARAKA-NITHI,35 - 64,35 - 64,"103,842","94,445 5,173","94,445","5,173","4,196",28,THARAKA-NITHI,65 +,65 +,"27,781","24,409 427","24,409",427,"2,941",4,THARAKA-NITHI,Not Stated,Not Stated,10,- -,-,-,-,10
14,EMBU,EMBU,Total,EMBU,"543,425","317,105 19,986","317,105","19,986","206,286",48,EMBU,5 - 14,5 - 14,"128,640","4,036 -","4,036",-,"124,596",8,EMBU,15 - 17,15 - 17,"40,356","4,048 330","4,048",330,"35,976",2,EMBU,18 - 24,18 - 24,"75,302","40,853 5,021","40,853","5,021","29,426",2,EMBU,25 - 34,25 - 34,"90,844","77,204 7,093","77,204","7,093","6,538",9,EMBU,35 - 64,35 - 64,"169,750","156,479 7,130","156,479","7,130","6,125",16,EMBU,65 +,65 +,"38,528","34,485 412","34,485",412,"3,625",6,EMBU,Not Stated,Not Stated,5,- -,-,-,-,5
15,KITUI,KITUI,Total,KITUI,"1,004,160","486,486 31,902","486,486","31,902","485,625",147,KITUI,5 - 14,5 - 14,"317,256","12,148 -","12,148",-,"305,074",34,KITUI,15 - 17,15 - 17,"100,719","7,977 779","7,977",779,"91,952",11,KITUI,18 - 24,18 - 24,"137,905","66,609 7,817","66,609","7,817","63,466",13,KITUI,25 - 34,25 - 34,"134,497","115,028 10,465","115,028","10,465","8,985",19,KITUI,35 - 64,35 - 64,"242,219","220,328 11,611","220,328","11,611","10,228",52,KITUI,65 +,65 +,"71,554","64,396 1,230","64,396","1,230","5,920",8,KITUI,Not Stated,Not Stated,10,- -,-,-,-,10
16,MACHAKOS,MACHAKOS,Total,MACHAKOS,"1,267,555","670,368 76,771","670,368","76,771","520,217",199,MACHAKOS,5 - 14,5 - 14,"315,896","6,324 -","6,324",-,"309,539",33,MACHAKOS,15 - 17,15 - 17,"94,157","6,147 1,009","6,147","1,009","86,989",12,MACHAKOS,18 - 24,18 - 24,"182,209","87,810 19,736","87,810","19,736","74,632",31,MACHAKOS,25 - 34,25 - 34,"229,012","178,193 28,986","178,193","28,986","21,793",40,MACHAKOS,35 - 64,35 - 64,"367,045","321,256 25,893","321,256","25,893","19,835",61,MACHAKOS,65 +,65 +,"79,223","70,638 1,147","70,638","1,147","7,429",9,MACHAKOS,Not Stated,Not Stated,13,- -,-,-,-,13
17,MAKUENI,MAKUENI,Total,MAKUENI,"880,923","456,299 32,008","456,299","32,008","392,458",158,MAKUENI,5 - 14,5 - 14,"247,033","5,391 -","5,391",-,"241,611",31,MAKUENI,15 - 17,15 - 17,"80,688","4,506 485","4,506",485,"75,686",11,MAKUENI,18 - 24,18 - 24,"120,225","58,037 7,650","58,037","7,650","54,514",24,MAKUENI,25 - 34,25 - 34,"128,973","109,335 11,264","109,335","11,264","8,352",22,MAKUENI,35 - 64,35 - 64,"237,586","217,803 11,785","217,803","11,785","7,950",48,MAKUENI,65 +,65 +,"66,411","61,227 824","61,227",824,"4,345",15,MAKUENI,Not Stated,Not Stated,7,- -,-,-,-,7
18,NYANDARUA,NYANDARUA,Total,NYANDARUA,"566,158","318,818 9,880","318,818","9,880","237,397",63,NYANDARUA,5 - 14,5 - 14,"157,376","3,476 -","3,476",-,"153,886",14,NYANDARUA,15 - 17,15 - 17,"49,727","4,437 204","4,437",204,"45,083",3,NYANDARUA,18 - 24,18 - 24,"73,673","41,028 3,129","41,028","3,129","29,510",6,NYANDARUA,25 - 34,25 - 34,"80,525","73,314 3,442","73,314","3,442","3,763",6,NYANDARUA,35 - 64,35 - 64,"169,020","163,181 2,982","163,181","2,982","2,835",22,NYANDARUA,65 +,65 +,"35,833","33,382 123","33,382",123,"2,320",8,NYANDARUA,Not Stated,Not Stated,4,- -,-,-,-,4
19,NYERI,NYERI,Total,NYERI,"679,998","404,432 24,702","404,432","24,702","250,817",47,NYERI,5 - 14,5 - 14,"150,950","1,977 -","1,977",-,"148,971",2,NYERI,15 - 17,15 - 17,"45,907","1,970 204","1,970",204,"43,733",-,NYERI,18 - 24,18 - 24,"85,389","39,828 6,408","39,828","6,408","39,150",3,NYERI,25 - 34,25 - 34,"102,465","86,686 8,477","86,686","8,477","7,293",9,NYERI,35 - 64,35 - 64,"235,197","219,439 9,147","219,439","9,147","6,591",20,NYERI,65 +,65 +,"60,082","54,532 466","54,532",466,"5,079",5,NYERI,Not Stated,Not Stated,8,- -,-,-,-,8
20,KIRINYAGA,KIRINYAGA,Total,KIRINYAGA,"548,367","337,519 17,941","337,519","17,941","192,868",39,KIRINYAGA,5 - 14,5 - 14,"117,875","1,640 -","1,640",-,"116,233",2,KIRINYAGA,15 - 17,15 - 17,"37,071","2,285 260","2,285",260,"34,524",2,KIRINYAGA,18 - 24,18 - 24,"66,597","35,198 4,412","35,198","4,412","26,985",2,KIRINYAGA,25 - 34,25 - 34,"90,620","79,001 6,231","79,001","6,231","5,381",7,KIRINYAGA,35 - 64,35 - 64,"196,827","184,682 6,687","184,682","6,687","5,442",16,KIRINYAGA,65 +,65 +,"39,371","34,713 351","34,713",351,"4,303",4,KIRINYAGA,Not Stated,Not Stated,6,- -,-,-,-,6
21,MURANG'A,MURANG'A,Total,MURANG'A,"942,756","549,832 33,957","549,832","33,957","358,831",136,MURANG'A,5 - 14,5 - 14,"231,593","3,939 -","3,939",-,"227,637",17,MURANG'A,15 - 17,15 - 17,"68,440","4,946 562","4,946",562,"62,926",6,MURANG'A,18 - 24,18 - 24,"111,584","59,164 8,797","59,164","8,797","43,607",16,MURANG'A,25 - 34,25 - 34,"135,680","115,912 11,115","115,912","11,115","8,636",17,MURANG'A,35 - 64,35 - 64,"306,001","284,638 12,839","284,638","12,839","8,483",41,MURANG'A,65 +,65 +,"89,446","81,233 644","81,233",644,"7,542",27,MURANG'A,Not Stated,Not Stated,12,- -,-,-,-,12
22,KIAMBU,KIAMBU,Total,KIAMBU,"2,125,316","1,116,365 165,846","1,116,365","165,846","842,577",528,KIAMBU,5 - 14,5 - 14,"467,075","4,258 -","4,258",-,"462,748",69,KIAMBU,15 - 17,15 - 17,"126,170","6,333 1,815","6,333","1,815","117,999",23,KIAMBU,18 - 24,18 - 24,"348,011","160,897 46,146","160,897","46,146","140,871",97,KIAMBU,25 - 34,25 - 34,"480,432","360,020 62,922","360,020","62,922","57,359",131,KIAMBU,35 - 64,35 - 64,"617,872","519,386 53,077","519,386","53,077","45,267",142,KIAMBU,65 +,65 +,"85,720","65,471 1,886","65,471","1,886","18,333",30,KIAMBU,Not Stated,Not Stated,36,- -,-,-,-,36
23,TURKANA,TURKANA,Total,TURKANA,"791,011","327,808 145,174","327,808","145,174","317,342",687,TURKANA,5 - 14,5 - 14,"286,631","98,817 -","98,817",-,"187,570",244,TURKANA,15 - 17,15 - 17,"76,261","27,129 17,200","27,129","17,200","31,856",76,TURKANA,18 - 24,18 - 24,"136,237","53,695 39,418","53,695","39,418","43,010",114,TURKANA,25 - 34,25 - 34,"131,835","63,619 43,558","63,619","43,558","24,555",103,TURKANA,35 - 64,35 - 64,"136,885","72,757 40,532","72,757","40,532","23,467",129,TURKANA,65 +,65 +,"23,159","11,791 4,466","11,791","4,466","6,884",18,TURKANA,Not Stated,Not Stated,3,- -,-,-,-,3
24,WEST POKOT,WEST POKOT,Total,WEST POKOT,"505,029","241,125 19,661","241,125","19,661","244,145",98,WEST POKOT,5 - 14,5 - 14,"203,229","45,982 -","45,982",-,"157,209",38,WEST POKOT,15 - 17,15 - 17,"44,222","9,231 1,161","9,231","1,161","33,822",8,WEST POKOT,18 - 24,18 - 24,"76,499","37,766 4,709","37,766","4,709","34,016",8,WEST POKOT,25 - 34,25 - 34,"76,936","60,444 6,967","60,444","6,967","9,506",19,WEST POKOT,35 - 64,35 - 64,"86,336","73,186 6,024","73,186","6,024","7,107",19,WEST POKOT,65 +,65 +,"17,804","14,516 800","14,516",800,"2,485",3,WEST POKOT,Not Stated,Not Stated,3,- -,-,-,-,3
25,SAMBURU,SAMBURU,Total,SAMBURU,"257,368","144,384 14,181","144,384","14,181","98,776",27,SAMBURU,5 - 14,5 - 14,"100,775","38,566 -","38,566",-,"62,199",10,SAMBURU,15 - 17,15 - 17,"23,046","9,004 1,300","9,004","1,300","12,739",3,SAMBURU,18 - 24,18 - 24,"41,675","24,854 3,992","24,854","3,992","12,828",1,SAMBURU,25 - 34,25 - 34,"39,685","30,594 4,263","30,594","4,263","4,824",4,SAMBURU,35 - 64,35 - 64,"42,945","34,425 4,063","34,425","4,063","4,452",5,SAMBURU,65 +,65 +,"9,240","6,941 563","6,941",563,"1,734",2,SAMBURU,Not Stated,Not Stated,2,- -,-,-,-,2
26,TRANS NZOIA,TRANS NZOIA,Total,TRANS NZOIA,"856,006","360,674 38,655","360,674","38,655","456,613",64,TRANS NZOIA,5 - 14,5 - 14,"291,222","9,780 -","9,780",-,"281,427",15,TRANS NZOIA,15 - 17,15 - 17,"81,024","5,861 956","5,861",956,"74,205",2,TRANS NZOIA,18 - 24,18 - 24,"127,311","54,509 9,268","54,509","9,268","63,521",13,TRANS NZOIA,25 - 34,25 - 34,"131,346","99,880 14,263","99,880","14,263","17,194",9,TRANS NZOIA,35 - 64,35 - 64,"190,817","162,191 13,162","162,191","13,162","15,448",16,TRANS NZOIA,65 +,65 +,"34,282","28,453 1,006","28,453","1,006","4,818",5,TRANS NZOIA,Not Stated,Not Stated,4,- -,-,-,-,4
27,UASIN GISHU,UASIN GISHU,Total,UASIN GISHU,"1,012,918","451,826 65,879","451,826","65,879","495,077",136,UASIN GISHU,5 - 14,5 - 14,"286,060","4,361 -","4,361",-,"281,679",20,UASIN GISHU,15 - 17,15 - 17,"82,270","3,896 855","3,896",855,"77,508",11,UASIN GISHU,18 - 24,18 - 24,"174,786","69,096 17,218","69,096","17,218","88,454",18,UASIN GISHU,25 - 34,25 - 34,"196,801","142,357 28,243","142,357","28,243","26,170",31,UASIN GISHU,35 - 64,35 - 64,"238,637","202,631 18,662","202,631","18,662","17,307",37,UASIN GISHU,65 +,65 +,"34,353","29,485 901","29,485",901,"3,959",8,UASIN GISHU,Not Stated,Not Stated,11,- -,-,-,-,11
28,ELGEYO/MARAKWET,ELGEYO/MARAKWET,Total,ELGEYO/MARAKWET,"392,505","172,899 15,407","172,899","15,407","204,139",60,ELGEYO/MARAKWET,5 - 14,5 - 14,"130,209","4,162 -","4,162",-,"126,029",18,ELGEYO/MARAKWET,15 - 17,15 - 17,"35,643","2,684 306","2,684",306,"32,652",1,ELGEYO/MARAKWET,18 - 24,18 - 24,"62,140","28,457 3,931","28,457","3,931","29,740",12,ELGEYO/MARAKWET,25 - 34,25 - 34,"61,557","49,081 6,055","49,081","6,055","6,414",7,ELGEYO/MARAKWET,35 - 64,35 - 64,"83,764","73,018 4,631","73,018","4,631","6,099",16,ELGEYO/MARAKWET,65 +,65 +,"19,191","15,497 484","15,497",484,"3,205",5,ELGEYO/MARAKWET,Not Stated,Not Stated,1,- -,-,-,-,1
29,NANDI,NANDI,Total,NANDI,"777,779","366,657 25,493","366,657","25,493","385,549",80,NANDI,5 - 14,5 - 14,"242,079","5,954 -","5,954",-,"236,105",20,NANDI,15 - 17,15 - 17,"69,716","4,068 416","4,068",416,"65,224",8,NANDI,18 - 24,18 - 24,"118,772","51,713 6,197","51,713","6,197","60,851",11,NANDI,25 - 34,25 - 34,"129,946","107,926 10,378","107,926","10,378","11,631",11,NANDI,35 - 64,35 - 64,"181,376","164,935 7,924","164,935","7,924","8,493",24,NANDI,65 +,65 +,"35,888","32,061 578","32,061",578,"3,245",4,NANDI,Not Stated,Not Stated,2,- -,-,-,-,2

In [38]:
transformed_df.to_csv("df_edu_employment_separated_with_kenya.csv")

In [39]:
df_edu_employment_separated=pd.read_csv("df_edu_employment_separated.csv")